openapi: 3.0.3
info:
  title: CryptoGadai Finance API
  description: |
    CryptoGadai finance, invoice, and withdrawal management system API.
    
    This API handles all financial operations including:
    - Account and balance management
    - Invoice creation and payment processing
    - Withdrawal request processing
    - Transaction history and auditing
    
    **Security Requirements:**
    - All endpoints require authentication
    - Financial operations require 2FA verification
    - Large amounts may require additional admin approval
    
    **Time-based State Management:**
    - No status columns are used; instead time-based columns indicate record states
    - All timestamps are provided by the application layer
    - Operations are idempotent and support retry mechanisms
  version: 1.0.0
  contact:
    name: CryptoGadai API Support
    email: api-support@cryptogadai.com
  license:
    name: Proprietary
    url: https://cryptogadai.com/license

servers:
  - url: https://api.cryptogadai.com/api
    description: Production server
  - url: https://cg-api.fh47.com/api
    description: Testing server
  - url: http://cg-api.localhost/api
    description: Local development server

security:
  - apiKeyCookie: []
  - bearerAuth: []

paths:
  # Currency Management
  /currencies:
    get:
      tags:
        - Currency Management
      summary: Get supported currencies
      description: |
        Retrieve list of supported currencies for collateral and loan operations.
        
        **Currency Types:**
        - Collateral currencies: BTC, ETH, BNB, SOL with LTV configuration
        - Loan currencies: USDT on various networks
        
        **Usage:**
        - Loan creation forms to display available collateral options
        - Portfolio management to show supported assets
        - LTV calculation and risk assessment
      operationId: getCurrencies
      parameters:
        - name: type
          in: query
          description: Filter by currency usage type
          schema:
            type: string
            enum:
              - collateral
              - loan
              - all
            default: all
        - name: blockchainKey
          in: query
          description: Filter by blockchain key (CAIP-2 format)
          schema:
            type: string
            example: "eip155:1"
        - name: minLtv
          in: query
          description: Filter currencies with minimum LTV ratio
          schema:
            type: number
            minimum: 0
            maximum: 100
            example: 50.0
        - name: maxLtv
          in: query
          description: Filter currencies with maximum LTV ratio
          schema:
            type: number
            minimum: 0
            maximum: 100
            example: 70.0
      responses:
        '200':
          description: Currencies retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrenciesResponse'
              examples:
                all_currencies:
                  summary: All supported currencies
                  value:
                    success: true
                    data:
                      currencies:
                        - blockchainKey: "bip122:000000000019d6689c085ae165831e93"
                          tokenId: "slip44:0"
                          name: "Bitcoin"
                          symbol: "BTC"
                          decimals: 8
                          logoUrl: "https://cryptologos.cc/logos/bitcoin-btc-logo.png"
                          isCollateralCurrency: true
                          isLoanCurrency: false
                          maxLtv: 60.0
                          ltvWarningThreshold: 48.0
                          ltvCriticalThreshold: 57.0
                          ltvLiquidationThreshold: 60.0
                          minLoanPrincipalAmount: "0"
                          maxLoanPrincipalAmount: "0"
                          minWithdrawalAmount: "0"
                          maxWithdrawalAmount: "0"
                          maxDailyWithdrawalAmount: "0"
                          withdrawalFeeRate: 0.0000
                          blockchain:
                            key: "bip122:000000000019d6689c085ae165831e93"
                            name: "Bitcoin"
                            shortName: "BTC"
                            image: "https://cryptologos.cc/logos/bitcoin-btc-logo.png"
                        - blockchainKey: "eip155:1"
                          tokenId: "slip44:60"
                          name: "Ethereum"
                          symbol: "ETH"
                          decimals: 18
                          logoUrl: "https://cryptologos.cc/logos/ethereum-eth-logo.png"
                          isCollateralCurrency: true
                          isLoanCurrency: false
                          maxLtv: 70.0
                          ltvWarningThreshold: 56.0
                          ltvCriticalThreshold: 66.5
                          ltvLiquidationThreshold: 70.0
                          minLoanPrincipalAmount: "0"
                          maxLoanPrincipalAmount: "0"
                          minWithdrawalAmount: "0"
                          maxWithdrawalAmount: "0"
                          maxDailyWithdrawalAmount: "0"
                          withdrawalFeeRate: 0.0000
                          blockchain:
                            key: "eip155:1"
                            name: "Ethereum Mainnet"
                            shortName: "ETH"
                            image: "https://cryptologos.cc/logos/ethereum-eth-logo.png"
                        - blockchainKey: "eip155:56"
                          tokenId: "slip44:714"
                          name: "Binance Coin"
                          symbol: "BNB"
                          decimals: 18
                          logoUrl: "https://cryptologos.cc/logos/bnb-bnb-logo.png"
                          isCollateralCurrency: true
                          isLoanCurrency: false
                          maxLtv: 50.0
                          ltvWarningThreshold: 40.0
                          ltvCriticalThreshold: 47.5
                          ltvLiquidationThreshold: 50.0
                          minLoanPrincipalAmount: "0"
                          maxLoanPrincipalAmount: "0"
                          minWithdrawalAmount: "0"
                          maxWithdrawalAmount: "0"
                          maxDailyWithdrawalAmount: "0"
                          withdrawalFeeRate: 0.0000
                          blockchain:
                            key: "eip155:56"
                            name: "Binance Smart Chain"
                            shortName: "BSC"
                            image: "https://cryptologos.cc/logos/bnb-bnb-logo.png"
                        - blockchainKey: "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp"
                          tokenId: "slip44:501"
                          name: "Solana"
                          symbol: "SOL"
                          decimals: 9
                          logoUrl: "https://cryptologos.cc/logos/solana-sol-logo.png"
                          isCollateralCurrency: true
                          isLoanCurrency: false
                          maxLtv: 50.0
                          ltvWarningThreshold: 40.0
                          ltvCriticalThreshold: 47.5
                          ltvLiquidationThreshold: 50.0
                          minLoanPrincipalAmount: "0"
                          maxLoanPrincipalAmount: "0"
                          minWithdrawalAmount: "0"
                          maxWithdrawalAmount: "0"
                          maxDailyWithdrawalAmount: "0"
                          withdrawalFeeRate: 0.0000
                          blockchain:
                            key: "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp"
                            name: "Solana"
                            shortName: "SOL"
                            image: "https://cryptologos.cc/logos/solana-sol-logo.png"
                        - blockchainKey: "eip155:56"
                          tokenId: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
                          name: "Binance-Peg USD Coin"
                          symbol: "USDC"
                          decimals: 18
                          logoUrl: "https://cryptologos.cc/logos/tether-usdt-logo.png"
                          isCollateralCurrency: false
                          isLoanCurrency: true
                          maxLtv: 0.0
                          ltvWarningThreshold: 0.0
                          ltvCriticalThreshold: 0.0
                          ltvLiquidationThreshold: 0.0
                          minLoanPrincipalAmount: "500000000000000000000"
                          maxLoanPrincipalAmount: "0"
                          minWithdrawalAmount: "100000000000000000000"
                          maxWithdrawalAmount: "0"
                          maxDailyWithdrawalAmount: "0"
                          withdrawalFeeRate: 0.0000
                          blockchain:
                            key: "eip155:56"
                            name: "Binance Smart Chain"
                            shortName: "BSC"
                            image: "https://cryptologos.cc/logos/bnb-bnb-logo.png"
                collateral_currencies:
                  summary: Collateral currencies only
                  value:
                    success: true
                    data:
                      currencies:
                        - blockchainKey: "bip122:000000000019d6689c085ae165831e93"
                          tokenId: "slip44:0"
                          name: "Bitcoin"
                          symbol: "BTC"
                          decimals: 8
                          logoUrl: "https://cryptologos.cc/logos/bitcoin-btc-logo.png"
                          isCollateralCurrency: true
                          isLoanCurrency: false
                          maxLtv: 60.0
                          ltvWarningThreshold: 48.0
                          ltvCriticalThreshold: 57.0
                          ltvLiquidationThreshold: 60.0
                          minLoanPrincipalAmount: "0"
                          maxLoanPrincipalAmount: "0"
                          minWithdrawalAmount: "0"
                          maxWithdrawalAmount: "0"
                          maxDailyWithdrawalAmount: "0"
                          withdrawalFeeRate: 0.0000
                          blockchain:
                            key: "bip122:000000000019d6689c085ae165831e93"
                            name: "Bitcoin"
                            shortName: "BTC"
                            image: "https://cryptologos.cc/logos/bitcoin-btc-logo.png"
                        - blockchainKey: "eip155:1"
                          tokenId: "slip44:60"
                          name: "Ethereum"
                          symbol: "ETH"
                          decimals: 18
                          logoUrl: "https://cryptologos.cc/logos/ethereum-eth-logo.png"
                          isCollateralCurrency: true
                          isLoanCurrency: false
                          maxLtv: 70.0
                          ltvWarningThreshold: 56.0
                          ltvCriticalThreshold: 66.5
                          ltvLiquidationThreshold: 70.0
                          minLoanPrincipalAmount: "0"
                          maxLoanPrincipalAmount: "0"
                          minWithdrawalAmount: "0"
                          maxWithdrawalAmount: "0"
                          maxDailyWithdrawalAmount: "0"
                          withdrawalFeeRate: 0.0000
                          blockchain:
                            key: "eip155:1"
                            name: "Ethereum Mainnet"
                            shortName: "ETH"
                            image: "https://cryptologos.cc/logos/ethereum-eth-logo.png"
                        - blockchainKey: "eip155:56"
                          tokenId: "slip44:714"
                          name: "Binance Coin"
                          symbol: "BNB"
                          decimals: 18
                          logoUrl: "https://cryptologos.cc/logos/bnb-bnb-logo.png"
                          isCollateralCurrency: true
                          isLoanCurrency: false
                          maxLtv: 50.0
                          ltvWarningThreshold: 40.0
                          ltvCriticalThreshold: 47.5
                          ltvLiquidationThreshold: 50.0
                          minLoanPrincipalAmount: "0"
                          maxLoanPrincipalAmount: "0"
                          minWithdrawalAmount: "0"
                          maxWithdrawalAmount: "0"
                          maxDailyWithdrawalAmount: "0"
                          withdrawalFeeRate: 0.0000
                          blockchain:
                            key: "eip155:56"
                            name: "Binance Smart Chain"
                            shortName: "BSC"
                            image: "https://cryptologos.cc/logos/bnb-bnb-logo.png"
                        - blockchainKey: "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp"
                          tokenId: "slip44:501"
                          name: "Solana"
                          symbol: "SOL"
                          decimals: 9
                          logoUrl: "https://cryptologos.cc/logos/solana-sol-logo.png"
                          isCollateralCurrency: true
                          isLoanCurrency: false
                          maxLtv: 50.0
                          ltvWarningThreshold: 40.0
                          ltvCriticalThreshold: 47.5
                          ltvLiquidationThreshold: 50.0
                          minLoanPrincipalAmount: "0"
                          maxLoanPrincipalAmount: "0"
                          minWithdrawalAmount: "0"
                          maxWithdrawalAmount: "0"
                          maxDailyWithdrawalAmount: "0"
                          withdrawalFeeRate: 0.0000
                          blockchain:
                            key: "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp"
                            name: "Solana"
                            shortName: "SOL"
                            image: "https://cryptologos.cc/logos/solana-sol-logo.png"
                loan_currencies:
                  summary: Loan currencies only
                  value:
                    success: true
                    data:
                      currencies:
                        - blockchainKey: "eip155:56"
                          tokenId: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
                          name: "Binance-Peg USD Coin"
                          symbol: "USDC"
                          decimals: 18
                          logoUrl: "https://cryptologos.cc/logos/tether-usdt-logo.png"
                          isCollateralCurrency: false
                          isLoanCurrency: true
                          maxLtv: 0.0
                          ltvWarningThreshold: 0.0
                          ltvCriticalThreshold: 0.0
                          ltvLiquidationThreshold: 0.0
                          minLoanPrincipalAmount: "500000000000000000000"
                          maxLoanPrincipalAmount: "0"
                          minWithdrawalAmount: "100000000000000000000"
                          maxWithdrawalAmount: "0"
                          maxDailyWithdrawalAmount: "0"
                          withdrawalFeeRate: 0.0000
                          blockchain:
                            key: "eip155:56"
                            name: "Binance Smart Chain"
                            shortName: "BSC"
                            image: "https://cryptologos.cc/logos/bnb-bnb-logo.png"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # Exchange Rate Management
  /exchange-rates:
    get:
      tags:
        - Exchange Rates
      summary: Get current exchange rates
      description: |
        Retrieve current exchange rates for supported currency pairs.
        
        **Rate Sources:**
        - Real-time data from configured price feeds
        - Multiple sources aggregated for accuracy
        - Bid/ask spreads included for transparency
      operationId: getExchangeRates
      parameters:
        - name: baseCurrencyBlockchainKey
          in: query
          description: Filter by base currency blockchain key (CAIP-2 format)
          schema:
            type: string
            example: "eip155:1"
        - name: baseCurrencyTokenId
          in: query
          description: Filter by base currency token ID (CAIP-19 format)
          schema:
            type: string
            example: "slip44:60"
        - name: quoteCurrencyBlockchainKey
          in: query
          description: Filter by quote currency blockchain key (CAIP-2 format)
          schema:
            type: string
            example: "eip155:56"
        - name: quoteCurrencyTokenId
          in: query
          description: Filter by quote currency token ID (CAIP-19 format)
          schema:
            type: string
            example: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
        - name: source
          in: query
          description: Filter by price feed source
          schema:
            type: string
            example: "binance"
      responses:
        '200':
          description: Exchange rates retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeRatesResponse'
              examples:
                all_rates:
                  summary: All exchange rates
                  value:
                    success: true
                    data:
                      exchangeRates:
                        - id: 1
                          baseAsset:
                            blockchainKey: "bip122:000000000019d6689c085ae165831e93"
                            tokenId: "slip44:0"
                            name: "Bitcoin"
                            symbol: "BTC"
                            decimals: 8
                            logoUrl: "https://cryptologos.cc/logos/bitcoin-btc-logo.png"
                          quoteAsset:
                            blockchainKey: "crosschain"
                            tokenId: "iso4217:usd"
                            name: "USD Token"
                            symbol: "USD"
                            decimals: 6
                            logoUrl: "https://cryptologos.cc/logos/usd-coin-usdc-logo.png"
                          bidPrice: "67450.250000000000000000"
                          askPrice: "67455.750000000000000000"
                          midPrice: "67453.000000000000000000"
                          source: "coinbase"
                          sourceDate: "2025-08-11T15:29:45Z"
                          retrievalDate: "2025-08-11T15:30:00Z"
                        - id: 2
                          baseAsset:
                            blockchainKey: "eip155:1"
                            tokenId: "slip44:60"
                            name: "Ethereum"
                            symbol: "ETH"
                            decimals: 18
                            logoUrl: "https://cryptologos.cc/logos/ethereum-eth-logo.png"
                          quoteAsset:
                            blockchainKey: "crosschain"
                            tokenId: "iso4217:usd"
                            name: "USD Token"
                            symbol: "USD"
                            decimals: 6
                            logoUrl: "https://cryptologos.cc/logos/usd-coin-usdc-logo.png"
                          bidPrice: "3245.750000000000000000"
                          askPrice: "3246.250000000000000000"
                          midPrice: "3246.000000000000000000"
                          source: "coinbase"
                          sourceDate: "2025-08-11T15:29:45Z"
                          retrievalDate: "2025-08-11T15:30:00Z"
                        - id: 3
                          baseAsset:
                            blockchainKey: "eip155:56"
                            tokenId: "slip44:714"
                            name: "Binance Coin"
                            symbol: "BNB"
                            decimals: 18
                            logoUrl: "https://cryptologos.cc/logos/bnb-bnb-logo.png"
                          quoteAsset:
                            blockchainKey: "crosschain"
                            tokenId: "iso4217:usd"
                            name: "USD Token"
                            symbol: "USD"
                            decimals: 6
                            logoUrl: "https://cryptologos.cc/logos/usd-coin-usdc-logo.png"
                          bidPrice: "645.125000000000000000"
                          askPrice: "645.875000000000000000"
                          midPrice: "645.500000000000000000"
                          source: "binance"
                          sourceDate: "2025-08-11T15:29:45Z"
                          retrievalDate: "2025-08-11T15:30:00Z"
                        - id: 4
                          baseAsset:
                            blockchainKey: "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp"
                            tokenId: "slip44:501"
                            name: "Solana"
                            symbol: "SOL"
                            decimals: 9
                            logoUrl: "https://cryptologos.cc/logos/solana-sol-logo.png"
                          quoteAsset:
                            blockchainKey: "crosschain"
                            tokenId: "iso4217:usd"
                            name: "USD Token"
                            symbol: "USD"
                            decimals: 6
                            logoUrl: "https://cryptologos.cc/logos/usd-coin-usdc-logo.png"
                          bidPrice: "165.450000000000000000"
                          askPrice: "165.550000000000000000"
                          midPrice: "165.500000000000000000"
                          source: "coinbase"
                          sourceDate: "2025-08-11T15:29:45Z"
                          retrievalDate: "2025-08-11T15:30:00Z"
                      lastUpdated: "2025-08-11T15:30:00Z"
                filtered_rates:
                  summary: Filtered by BTC to USD
                  value:
                    success: true
                    data:
                      exchangeRates:
                        - id: 1
                          baseAsset:
                            blockchainKey: "bip122:000000000019d6689c085ae165831e93"
                            tokenId: "slip44:0"
                            name: "Bitcoin"
                            symbol: "BTC"
                            decimals: 8
                            logoUrl: "https://cryptologos.cc/logos/bitcoin-btc-logo.png"
                          quoteAsset:
                            blockchainKey: "crosschain"
                            tokenId: "iso4217:usd"
                            name: "USD Token"
                            symbol: "USD"
                            decimals: 6
                            logoUrl: "https://cryptologos.cc/logos/usd-coin-usdc-logo.png"
                          bidPrice: "67450.250000000000000000"
                          askPrice: "67455.750000000000000000"
                          midPrice: "67453.000000000000000000"
                          source: "coinbase"
                          sourceDate: "2025-08-11T15:29:45Z"
                          retrievalDate: "2025-08-11T15:30:00Z"
                      lastUpdated: "2025-08-11T15:30:00Z"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # Account & Balance Management
  /accounts/balances:
    get:
      tags:
        - Account Management
      summary: Get account balances
      description: |
        Retrieve all account balances for the authenticated user or institution.
        
        **Balance Calculation:**
        - Current balance = sum of all account mutations
        - Pending operations are calculated separately
        - Exchange rates applied for portfolio valuation
      operationId: getAccountBalances
      responses:
        '200':
          description: Account balances retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountBalancesResponse'
              examples:
                individual_user_balances:
                  summary: Individual user with multiple crypto holdings
                  value:
                    success: true
                    data:
                      accounts:
                        - id: 1001
                          currency:
                            blockchainKey: "bip122:000000000019d6689c085ae165831e93"
                            tokenId: "slip44:0"
                            name: "Bitcoin"
                            symbol: "BTC"
                            decimals: 8
                            logoUrl: "https://cryptologos.cc/logos/bitcoin-btc-logo.png"
                          balance: "150000000"
                          lastUpdated: "2025-08-11T10:30:00Z"
                          valuation:
                            amount: "101175.00"
                            currency:
                              blockchainKey: "crosschain"
                              tokenId: "iso4217:usd"
                              name: "USD Token"
                              symbol: "USD"
                              decimals: 6
                              logoUrl: "https://cryptologos.cc/logos/usd-coin-usdc-logo.png"
                            exchangeRate: "67450.000000000000000000"
                            rateSource: "coinbase"
                            rateDate: "2025-08-11T10:29:45Z"
                        - id: 1002
                          currency:
                            blockchainKey: "eip155:1"
                            tokenId: "slip44:60"
                            name: "Ethereum"
                            symbol: "ETH"
                            decimals: 18
                            logoUrl: "https://cryptologos.cc/logos/ethereum-eth-logo.png"
                          balance: "2500000000000000000"
                          lastUpdated: "2025-08-11T10:30:00Z"
                          valuation:
                            amount: "8115.00"
                            currency:
                              blockchainKey: "crosschain"
                              tokenId: "iso4217:usd"
                              name: "USD Token"
                              symbol: "USD"
                              decimals: 6
                              logoUrl: "https://cryptologos.cc/logos/usd-coin-usdc-logo.png"
                            exchangeRate: "3246.000000000000000000"
                            rateSource: "coinbase"
                            rateDate: "2025-08-11T10:29:45Z"
                        - id: 1003
                          currency:
                            blockchainKey: "crosschain"
                            tokenId: "iso4217:usd"
                            name: "USD Token"
                            symbol: "USD"
                            decimals: 6
                            logoUrl: "https://cryptologos.cc/logos/usd-coin-usdc-logo.png"
                          balance: "500000000"
                          lastUpdated: "2025-08-11T10:30:00Z"
                          valuation:
                            amount: "500.00"
                            currency:
                              blockchainKey: "crosschain"
                              tokenId: "iso4217:usd"
                              name: "USD Token"
                              symbol: "USD"
                              decimals: 6
                              logoUrl: "https://cryptologos.cc/logos/usd-coin-usdc-logo.png"
                            exchangeRate: "1.000000000000000000"
                            rateSource: "fixed"
                            rateDate: "2025-08-11T10:29:45Z"
                      totalPortfolioValue:
                        amount: "109790.00"
                        currency: "USD"
                        lastUpdated: "2025-08-11T10:30:00Z"
                company_user_balances:
                  summary: Company user with large holdings
                  value:
                    success: true
                    data:
                      accounts:
                        - id: 2001
                          currency:
                            blockchainKey: "crosschain"
                            tokenId: "iso4217:usd"
                            name: "USD Token"
                            symbol: "USD"
                            decimals: 6
                            logoUrl: "https://cryptologos.cc/logos/usd-coin-usdc-logo.png"
                          balance: "5000000000000"
                          lastUpdated: "2025-08-11T10:30:00Z"
                          valuation:
                            amount: "5000000.00"
                            currency:
                              blockchainKey: "crosschain"
                              tokenId: "iso4217:usd"
                              name: "USD Token"
                              symbol: "USD"
                              decimals: 6
                              logoUrl: "https://cryptologos.cc/logos/usd-coin-usdc-logo.png"
                            exchangeRate: "1.000000000000000000"
                            rateSource: "fixed"
                            rateDate: "2025-08-11T10:29:45Z"
                      totalPortfolioValue:
                        amount: "5000000.00"
                        currency: "USD"
                        lastUpdated: "2025-08-11T10:30:00Z"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /accounts/{accountId}/mutations:
    get:
      tags:
        - Account Management
      summary: Get account transaction history
      description: |
        Retrieve transaction history (account mutations) for a specific account.
        
        **Mutation Types:**
        - Invoice operations (invoiceReceived)
        - Loan operations (borrower and lender perspective)
        - Withdrawal operations
        - Platform fee operations
      operationId: getAccountMutations
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: page
          in: query
          description: Page number (1-based)
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          description: Number of mutations per page (max 100)
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: mutationType
          in: query
          description: Filter by mutation type
          schema:
            $ref: '#/components/schemas/AccountMutationType'
        - name: fromDate
          in: query
          description: Filter mutations from this date (ISO 8601)
          schema:
            type: string
            format: date-time
        - name: toDate
          in: query
          description: Filter mutations until this date (ISO 8601)
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Account mutations retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountMutationsResponse'
              examples:
                borrower_transaction_history:
                  summary: Borrower's account mutations showing loan lifecycle
                  value:
                    success: true
                    data:
                      mutations:
                        - id: 10001
                          mutationType: "LoanCollateralDeposit"
                          mutationDate: "2025-08-10T14:00:00Z"
                          amount: "-500000000"
                          description: "Collateral deposit for loan application #789"
                          referenceId: 789
                          referenceType: "loan_application"
                          balanceAfter: "1500000000"
                        - id: 10002
                          mutationType: "LoanDisbursementReceived"
                          mutationDate: "2025-08-10T15:30:00Z"
                          amount: "10000000000"
                          description: "Loan principal disbursement for loan #789"
                          referenceId: 789
                          referenceType: "loan"
                          balanceAfter: "11500000000"
                        - id: 10003
                          mutationType: "LoanRepayment"
                          mutationDate: "2025-08-17T09:15:00Z"
                          amount: "-10600000000"
                          description: "Loan repayment for loan #789 (principal + interest + origination fee)"
                          referenceId: 789
                          referenceType: "loan"
                          balanceAfter: "900000000"
                        - id: 10004
                          mutationType: "LoanCollateralReturned"
                          mutationDate: "2025-08-17T09:20:00Z"
                          amount: "500000000"
                          description: "Collateral returned for completed loan #789"
                          referenceId: 789
                          referenceType: "loan"
                          balanceAfter: "1400000000"
                      pagination:
                        page: 1
                        limit: 20
                        total: 4
                        totalPages: 1
                        hasNext: false
                        hasPrev: false
                lender_transaction_history:
                  summary: Lender's account mutations showing investment returns
                  value:
                    success: true
                    data:
                      mutations:
                        - id: 20001
                          mutationType: "LoanOfferPrincipalEscrowed"
                          mutationDate: "2025-08-10T14:00:00Z"
                          amount: "-10000000000"
                          description: "Principal escrowed for loan offer #456"
                          referenceId: 456
                          referenceType: "loan_offer"
                          balanceAfter: "40000000000"
                        - id: 20002
                          mutationType: "LoanRepaymentReceived"
                          mutationDate: "2025-08-17T09:15:00Z"
                          amount: "10000000000"
                          description: "Principal repayment received for loan #789"
                          referenceId: 789
                          referenceType: "loan"
                          balanceAfter: "50000000000"
                        - id: 20003
                          mutationType: "LoanInterestReceived"
                          mutationDate: "2025-08-17T09:15:00Z"
                          amount: "255000000"
                          description: "Interest received for loan #789 (300 USDT - 15% platform fee)"
                          referenceId: 789
                          referenceType: "loan"
                          balanceAfter: "50255000000"
                      pagination:
                        page: 1
                        limit: 20
                        total: 3
                        totalPages: 1
                        hasNext: false
                        hasPrev: false
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # Portfolio Management
  /portfolio/overview:
    get:
      tags:
        - Portfolio Management
      summary: Get portfolio overview
      description: |
        Retrieve comprehensive portfolio overview including total value, asset allocation,
        and performance metrics for the authenticated user or institution.

        **Portfolio Calculations:**
        - Total value aggregated from all account balances
        - Asset allocation based on current market values
        - Performance metrics calculated from historical data
        - Real-time balance updates with latest exchange rates
      operationId: getPortfolioOverview
      responses:
        '200':
          description: Portfolio overview retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioOverviewResponse'
              examples:
                individual_portfolio:
                  summary: Individual user portfolio overview
                  value:
                    success: true
                    data:
                      totalValue:
                        amount: "125750.00"
                        currency:
                          blockchainKey: "crosschain"
                          tokenId: "iso4217:usd"
                          name: "USD Token"
                          symbol: "USD"
                          decimals: 6
                          logoUrl: "https://cryptologos.cc/logos/usd-coin-usdc-logo.png"
                      assetAllocation:
                        - currency:
                            blockchainKey: "bip122:000000000019d6689c085ae165831e93"
                            tokenId: "slip44:0"
                            name: "Bitcoin"
                            symbol: "BTC"
                            decimals: 8
                            logoUrl: "https://cryptologos.cc/logos/bitcoin-btc-logo.png"
                          balance: "150000000"
                          value:
                            amount: "101175.00"
                            currency: "USD"
                          percentage: 80.45
                        - currency:
                            blockchainKey: "eip155:1"
                            tokenId: "slip44:60"
                            name: "Ethereum"
                            symbol: "ETH"
                            decimals: 18
                            logoUrl: "https://cryptologos.cc/logos/ethereum-eth-logo.png"
                          balance: "5750000000000000000"
                          value:
                            amount: "24575.00"
                            currency: "USD"
                          percentage: 19.55
                      performance:
                        daily:
                          amount: "2540.50"
                          currency: "USD"
                          percentage: 2.06
                        weekly:
                          amount: "-1875.25"
                          currency: "USD"
                          percentage: -1.47
                        monthly:
                          amount: "8920.75"
                          currency: "USD"
                          percentage: 7.64
                      lastUpdated: "2025-09-22T10:30:00Z"
                institution_portfolio:
                  summary: Institution portfolio overview
                  value:
                    success: true
                    data:
                      totalValue:
                        amount: "5250000.00"
                        currency:
                          blockchainKey: "crosschain"
                          tokenId: "iso4217:usd"
                          name: "USD Token"
                          symbol: "USD"
                          decimals: 6
                          logoUrl: "https://cryptologos.cc/logos/usd-coin-usdc-logo.png"
                      assetAllocation:
                        - currency:
                            blockchainKey: "bip122:000000000019d6689c085ae165831e93"
                            tokenId: "slip44:0"
                            name: "Bitcoin"
                            symbol: "BTC"
                            decimals: 8
                            logoUrl: "https://cryptologos.cc/logos/bitcoin-btc-logo.png"
                          balance: "3750000000"
                          value:
                            amount: "2531250.00"
                            currency: "USD"
                          percentage: 48.21
                        - currency:
                            blockchainKey: "eip155:1"
                            tokenId: "slip44:60"
                            name: "Ethereum"
                            symbol: "ETH"
                            decimals: 18
                            logoUrl: "https://cryptologos.cc/logos/ethereum-eth-logo.png"
                          balance: "637500000000000000000"
                          value:
                            amount: "2718750.00"
                            currency: "USD"
                          percentage: 51.79
                      performance:
                        daily:
                          amount: "125000.00"
                          currency: "USD"
                          percentage: 2.44
                        weekly:
                          amount: "-87500.00"
                          currency: "USD"
                          percentage: -1.64
                        monthly:
                          amount: "420000.00"
                          currency: "USD"
                          percentage: 8.68
                      lastUpdated: "2025-09-22T10:30:00Z"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # Withdrawal Management
  /beneficiaries:
    get:
      tags:
        - Withdrawal Management
      summary: List withdrawal beneficiaries
      description: |
        Retrieve all registered withdrawal addresses for the authenticated user or institution.
        
        **Important**: Beneficiaries are blockchain-specific, not currency-specific. Each beneficiary
        can be used for withdrawals of any supported currency on that blockchain.
      operationId: listBeneficiaries
      parameters:
        - name: blockchainKey
          in: query
          description: Filter by blockchain key (CAIP-2 format)
          schema:
            type: string
            example: "eip155:1"
      responses:
        '200':
          description: Beneficiaries retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeneficiariesResponse'
              examples:
                user_beneficiaries:
                  summary: User's registered withdrawal addresses
                  value:
                    success: true
                    data:
                      beneficiaries:
                        - id: 301
                          blockchainKey: "eip155:56"
                          address: "0x742d35Cc6634C0532925a3b8D5c9B0E1e1234567"
                          label: "My BSC Hardware Wallet"
                          createdDate: "2025-08-01T12:00:00Z"
                          verifiedDate: "2025-08-01T12:30:00Z"
                          isActive: true
                          blockchain:
                            key: "eip155:56"
                            name: "Binance Smart Chain"
                            shortName: "BSC"
                            image: "https://cryptologos.cc/logos/bnb-bnb-logo.png"
                        - id: 302
                          blockchainKey: "eip155:1"
                          address: "0x8ba1f109551bd432803012645aa136ba40b34567"
                          label: "Ethereum Exchange Address"
                          createdDate: "2025-07-15T08:45:00Z"
                          verifiedDate: "2025-07-15T09:15:00Z"
                          isActive: true
                          blockchain:
                            key: "eip155:1"
                            name: "Ethereum Mainnet"
                            shortName: "ETH"
                            image: "https://cryptologos.cc/logos/ethereum-eth-logo.png"
                        - id: 303
                          blockchainKey: "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp"
                          address: "9WzDXwBbmkg8ZTbNMqUxvQRAyrZzDsGYdLVL9zYtAWWM"
                          label: "Solana Mobile Wallet"
                          createdDate: "2025-08-05T16:20:00Z"
                          verifiedDate: null
                          isActive: false
                          blockchain:
                            key: "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp"
                            name: "Solana"
                            shortName: "SOL"
                            image: "https://cryptologos.cc/logos/solana-sol-logo.png"
                filtered_beneficiaries:
                  summary: Filtered by BSC network
                  value:
                    success: true
                    data:
                      beneficiaries:
                        - id: 301
                          blockchainKey: "eip155:56"
                          address: "0x742d35Cc6634C0532925a3b8D5c9B0E1e1234567"
                          label: "My BSC Hardware Wallet"
                          createdDate: "2025-08-01T12:00:00Z"
                          verifiedDate: "2025-08-01T12:30:00Z"
                          isActive: true
                          blockchain:
                            key: "eip155:56"
                            name: "Binance Smart Chain"
                            shortName: "BSC"
                            image: "https://cryptologos.cc/logos/bnb-bnb-logo.png"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      tags:
        - Withdrawal Management
      summary: Register withdrawal beneficiary
      description: |
        Register a new withdrawal address for future withdrawals.
        
        **Important**: Beneficiaries are blockchain-specific addresses that can be used 
        for withdrawals of any supported currency on that blockchain.
        
        **Registration Process:**
        1. Validate address format for the specified blockchain
        2. Check address is not blacklisted
        3. Create beneficiary record
        4. Send email confirmation requirement
        5. User confirms via email link
        6. Activate beneficiary address
      operationId: createBeneficiary
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBeneficiaryRequest'
            examples:
              bsc_beneficiary:
                summary: Register BSC withdrawal address
                value:
                  blockchainKey: "eip155:56"
                  address: "0x1234567890abcdef1234567890abcdef12345678"
                  label: "My BSC Exchange Address"
              ethereum_beneficiary:
                summary: Register Ethereum withdrawal address
                value:
                  blockchainKey: "eip155:1"
                  address: "0x8ba1f109551bd432803012645aa136ba40b34567"
                  label: "Hardware Wallet Ethereum"
              solana_beneficiary:
                summary: Register Solana withdrawal address
                value:
                  blockchainKey: "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp"
                  address: "9WzDXwBbmkg8ZTbNMqUxvQRAyrZzDsGYdLVL9zYtAWWM"
                  label: "Solana Mobile Wallet"
      responses:
        '201':
          description: Beneficiary created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeneficiaryResponse'
              examples:
                new_beneficiary:
                  summary: Successfully created beneficiary
                  value:
                    success: true
                    data:
                      id: 304
                      blockchainKey: "eip155:56"
                      address: "0x1234567890abcdef1234567890abcdef12345678"
                      label: "New Exchange Address"
                      createdDate: "2025-08-11T16:00:00Z"
                      verifiedDate: null
                      isActive: false
                      blockchain:
                        key: "eip155:56"
                        name: "Binance Smart Chain"
                        shortName: "BSC"
                        image: "https://cryptologos.cc/logos/bnb-bnb-logo.png"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /withdrawals:
    get:
      tags:
        - Withdrawal Management
      summary: List withdrawals
      description: |
        Retrieve withdrawal history for the authenticated user or institution.
        
        **Withdrawal States (time-based):**
        - Requested: request_date IS NOT NULL AND sent_date IS NULL
        - Sent: sent_date IS NOT NULL AND confirmed_date IS NULL AND failed_date IS NOT NULL
        - Confirmed: confirmed_date IS NOT NULL
        - Failed: failed_date IS NOT NULL
      operationId: listWithdrawals
      parameters:
        - name: page
          in: query
          description: Page number (1-based)
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          description: Number of withdrawals per page (max 100)
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: state
          in: query
          description: Filter by withdrawal state
          schema:
            type: string
            enum:
              - requested
              - sent
              - confirmed
              - failed
      responses:
        '200':
          description: Withdrawals retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WithdrawalsResponse'
              examples:
                user_withdrawals:
                  summary: User's withdrawal history
                  value:
                    success: true
                    data:
                      withdrawals:
                        - id: 501
                          currency:
                            blockchainKey: "eip155:56"
                            tokenId: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
                            name: "Binance-Peg USD Coin"
                            symbol: "USDC"
                            decimals: 18
                            logoUrl: "https://cryptologos.cc/logos/tether-usdt-logo.png"
                          beneficiary:
                            id: 301
                            blockchainKey: "eip155:56"
                            address: "0x742d35Cc6634C0532925a3b8D5c9B0E1e1234567"
                            label: "My BSC Hardware Wallet"
                            createdDate: "2025-08-01T12:00:00Z"
                            verifiedDate: "2025-08-01T12:30:00Z"
                            isActive: true
                            blockchain:
                              key: "eip155:56"
                              name: "Binance Smart Chain"
                              shortName: "BSC"
                              image: "https://cryptologos.cc/logos/bnb-bnb-logo.png"
                          requestAmount: "1000.000000000000000000"
                          sentAmount: "995.000000000000000000"
                          networkFee: "5.000000000000000000"
                          platformFee: "0.000000000000000000"
                          requestDate: "2025-08-11T14:00:00Z"
                          sentDate: "2025-08-11T14:15:00Z"
                          sentHash: "0xdef456789abcdef123456789abcdef123456789abcdef123456789abcdef1234"
                          confirmedDate: "2025-08-11T15:00:00Z"
                          failedDate: null
                          failureReason: null
                          state: "confirmed"
                          blockchainExplorerUrl: "https://bscscan.com/tx/0xdef456789abcdef123456789abcdef123456789abcdef123456789abcdef1234"
                          estimatedConfirmationTime: null
                        - id: 502
                          currency:
                            blockchainKey: "eip155:1"
                            tokenId: "erc20:0xa0b86a33e6ba4c2f8b3dcc56b4c3b3f7b123f456"
                            name: "USD Coin"
                            symbol: "USDC"
                            decimals: 6
                            logoUrl: "https://cryptologos.cc/logos/usd-coin-usdc-logo.png"
                          beneficiary:
                            id: 302
                            blockchainKey: "eip155:1"
                            address: "0x8ba1f109551bd432803012645aa136ba40b34567"
                            label: "Ethereum Exchange Address"
                            createdDate: "2025-07-15T08:45:00Z"
                            verifiedDate: "2025-07-15T09:15:00Z"
                            isActive: true
                            blockchain:
                              key: "eip155:1"
                              name: "Ethereum Mainnet"
                              shortName: "ETH"
                              image: "https://cryptologos.cc/logos/ethereum-eth-logo.png"
                          requestAmount: "5000.000000000000000000"
                          sentAmount: null
                          networkFee: null
                          platformFee: null
                          requestDate: "2025-08-11T16:00:00Z"
                          sentDate: null
                          sentHash: null
                          confirmedDate: null
                          failedDate: null
                          failureReason: null
                          state: "requested"
                          blockchainExplorerUrl: null
                          estimatedConfirmationTime: "30 minutes"
                        - id: 503
                          currency:
                            blockchainKey: "eip155:56"
                            tokenId: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
                            name: "Binance-Peg USD Coin"
                            symbol: "USDC"
                            decimals: 18
                            logoUrl: "https://cryptologos.cc/logos/tether-usdt-logo.png"
                          beneficiary:
                            id: 301
                            blockchainKey: "eip155:56"
                            address: "0x742d35Cc6634C0532925a3b8D5c9B0E1e1234567"
                            label: "My BSC Hardware Wallet"
                            createdDate: "2025-08-01T12:00:00Z"
                            verifiedDate: "2025-08-01T12:30:00Z"
                            isActive: true
                            blockchain:
                              key: "eip155:56"
                              name: "Binance Smart Chain"
                              shortName: "BSC"
                              image: "https://cryptologos.cc/logos/bnb-bnb-logo.png"
                          requestAmount: "2500.000000000000000000"
                          sentAmount: null
                          networkFee: null
                          platformFee: null
                          requestDate: "2025-08-10T10:00:00Z"
                          sentDate: null
                          sentHash: null
                          confirmedDate: null
                          failedDate: "2025-08-10T11:30:00Z"
                          failureReason: "Insufficient gas for transaction execution"
                          state: "failed"
                          blockchainExplorerUrl: null
                          estimatedConfirmationTime: null
                      pagination:
                        page: 1
                        limit: 20
                        total: 3
                        totalPages: 1
                        hasNext: false
                        hasPrev: false
                filtered_withdrawals:
                  summary: Filtered by confirmed status
                  value:
                    success: true
                    data:
                      withdrawals:
                        - id: 501
                          currency:
                            blockchainKey: "eip155:56"
                            tokenId: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
                            name: "Binance-Peg USD Coin"
                            symbol: "USDC"
                            decimals: 18
                            logoUrl: "https://cryptologos.cc/logos/tether-usdt-logo.png"
                          beneficiary:
                            id: 301
                            blockchainKey: "eip155:56"
                            address: "0x742d35Cc6634C0532925a3b8D5c9B0E1e1234567"
                            label: "My BSC Hardware Wallet"
                            createdDate: "2025-08-01T12:00:00Z"
                            verifiedDate: "2025-08-01T12:30:00Z"
                            isActive: true
                            blockchain:
                              key: "eip155:56"
                              name: "Binance Smart Chain"
                              shortName: "BSC"
                              image: "https://cryptologos.cc/logos/bnb-bnb-logo.png"
                          requestAmount: "1000.000000000000000000"
                          sentAmount: "995.000000000000000000"
                          networkFee: "5.000000000000000000"
                          platformFee: "0.000000000000000000"
                          requestDate: "2025-08-11T14:00:00Z"
                          sentDate: "2025-08-11T14:15:00Z"
                          sentHash: "0xdef456789abcdef123456789abcdef123456789abcdef123456789abcdef1234"
                          confirmedDate: "2025-08-11T15:00:00Z"
                          failedDate: null
                          failureReason: null
                          state: "confirmed"
                          blockchainExplorerUrl: "https://bscscan.com/tx/0xdef456789abcdef123456789abcdef123456789abcdef1234"
                          estimatedConfirmationTime: null
                      pagination:
                        page: 1
                        limit: 20
                        total: 1
                        totalPages: 1
                        hasNext: false
                        hasPrev: false
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      tags:
        - Withdrawal Management
      summary: Request withdrawal
      description: |
        Request a new withdrawal to a registered beneficiary address.
        
        **Important**: You must specify both the beneficiary (blockchain address) and the exact 
        currency (blockchain + token) for the withdrawal. The currency must be supported on the 
        beneficiary's blockchain.
        
        **Withdrawal Process:**
        1. Validate 2FA authentication
        2. Verify beneficiary belongs to user and is on the same blockchain as currency
        3. Check sufficient account balance for the specified currency
        4. Verify withdrawal limits for the currency
        5. Calculate fees
        6. Create withdrawal record with currency information
        7. Debit account balance
        8. Queue withdrawal processing
      operationId: requestWithdrawal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWithdrawalRequest'
            examples:
              standard_withdrawal:
                summary: Standard USDC withdrawal on BSC with 2FA
                value:
                  beneficiaryId: 301
                  currencyBlockchainKey: "eip155:56"
                  currencyTokenId: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
                  amount: "1500.000000000000000000"
                  twoFactorCode: "123456"
              large_withdrawal:
                summary: Large USDC withdrawal on Ethereum
                value:
                  beneficiaryId: 302
                  currencyBlockchainKey: "eip155:1"
                  currencyTokenId: "erc20:0xa0b86a33e6ba4c2f8b3dcc56b4c3b3f7b123f456"
                  amount: "50000.000000000000000000"
                  twoFactorCode: "789012"
              minimum_withdrawal:
                summary: Minimum withdrawal amount (100 USDC)
                value:
                  beneficiaryId: 301
                  currencyBlockchainKey: "eip155:56"
                  currencyTokenId: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
                  amount: "100.000000000000000000"
                  twoFactorCode: "345678"
      responses:
        '201':
          description: Withdrawal requested successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WithdrawalResponse'
              examples:
                withdrawal_request_created:
                  summary: Successfully created withdrawal request
                  value:
                    success: true
                    data:
                      id: 504
                      currency:
                        blockchainKey: "eip155:56"
                        tokenId: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
                        name: "Binance-Peg USD Coin"
                        symbol: "USDC"
                        decimals: 18
                        logoUrl: "https://cryptologos.cc/logos/tether-usdt-logo.png"
                      beneficiary:
                        id: 301
                        blockchainKey: "eip155:56"
                        address: "0x742d35Cc6634C0532925a3b8D5c9B0E1e1234567"
                        label: "My BSC Hardware Wallet"
                        createdDate: "2025-08-01T12:00:00Z"
                        verifiedDate: "2025-08-01T12:30:00Z"
                        isActive: true
                        blockchain:
                          key: "eip155:56"
                          name: "Binance Smart Chain"
                          shortName: "BSC"
                          image: "https://cryptologos.cc/logos/bnb-bnb-logo.png"
                      requestAmount: "1500.000000000000000000"
                      sentAmount: null
                      networkFee: null
                      platformFee: null
                      requestDate: "2025-08-11T17:00:00Z"
                      sentDate: null
                      sentHash: null
                      confirmedDate: null
                      failedDate: null
                      failureReason: null
                      state: "requested"
                      blockchainExplorerUrl: null
                      estimatedConfirmationTime: "15 minutes"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /withdrawals/{withdrawalId}:
    get:
      tags:
        - Withdrawal Management
      summary: Get withdrawal details
      description: |
        Retrieve detailed information about a specific withdrawal.
      operationId: getWithdrawal
      parameters:
        - name: withdrawalId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Withdrawal details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WithdrawalResponse'
              examples:
                confirmed_withdrawal:
                  summary: Confirmed withdrawal with blockchain details
                  value:
                    success: true
                    data:
                      id: 501
                      currency:
                        blockchainKey: "eip155:56"
                        tokenId: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
                        name: "Binance-Peg USD Coin"
                        symbol: "USDC"
                        decimals: 18
                        logoUrl: "https://cryptologos.cc/logos/tether-usdt-logo.png"
                      beneficiary:
                        id: 301
                        blockchainKey: "eip155:56"
                        address: "0x742d35Cc6634C0532925a3b8D5c9B0E1e1234567"
                        label: "My BSC Hardware Wallet"
                        createdDate: "2025-08-01T12:00:00Z"
                        verifiedDate: "2025-08-01T12:30:00Z"
                        isActive: true
                        blockchain:
                          key: "eip155:56"
                          name: "Binance Smart Chain"
                          shortName: "BSC"
                          image: "https://cryptologos.cc/logos/bnb-bnb-logo.png"
                      requestAmount: "1000.000000000000000000"
                      sentAmount: "995.000000000000000000"
                      networkFee: "5.000000000000000000"
                      platformFee: "0.000000000000000000"
                      requestDate: "2025-08-11T14:00:00Z"
                      sentDate: "2025-08-11T14:15:00Z"
                      sentHash: "0xdef456789abcdef123456789abcdef123456789abcdef123456789abcdef1234"
                      confirmedDate: "2025-08-11T15:00:00Z"
                      failedDate: null
                      failureReason: null
                      state: "confirmed"
                      blockchainExplorerUrl: "https://bscscan.com/tx/0xdef456789abcdef123456789abcdef123456789abcdef123456789abcdef1234"
                      estimatedConfirmationTime: null
                pending_withdrawal:
                  summary: Pending withdrawal request
                  value:
                    success: true
                    data:
                      id: 502
                      currency:
                        blockchainKey: "eip155:1"
                        tokenId: "erc20:0xa0b86a33e6ba4c2f8b3dcc56b4c3b3f7b123f456"
                        name: "USD Coin"
                        symbol: "USDC"
                        decimals: 6
                        logoUrl: "https://cryptologos.cc/logos/usd-coin-usdc-logo.png"
                      beneficiary:
                        id: 302
                        blockchainKey: "eip155:1"
                        address: "0x8ba1f109551bd432803012645aa136ba40b34567"
                        label: "Ethereum Exchange Address"
                        createdDate: "2025-07-15T08:45:00Z"
                        verifiedDate: "2025-07-15T09:15:00Z"
                        isActive: true
                        blockchain:
                          key: "eip155:1"
                          name: "Ethereum Mainnet"
                          shortName: "ETH"
                          image: "https://cryptologos.cc/logos/ethereum-eth-logo.png"
                      requestAmount: "5000.000000000000000000"
                      sentAmount: null
                      networkFee: null
                      platformFee: null
                      requestDate: "2025-08-11T16:00:00Z"
                      sentDate: null
                      sentHash: null
                      confirmedDate: null
                      failedDate: null
                      failureReason: null
                      state: "requested"
                      blockchainExplorerUrl: null
                      estimatedConfirmationTime: "30 minutes"
                failed_withdrawal:
                  summary: Failed withdrawal with reason
                  value:
                    success: true
                    data:
                      id: 503
                      currency:
                        blockchainKey: "eip155:56"
                        tokenId: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
                        name: "Binance-Peg USD Coin"
                        symbol: "USDC"
                        decimals: 18
                        logoUrl: "https://cryptologos.cc/logos/tether-usdt-logo.png"
                      beneficiary:
                        id: 301
                        blockchainKey: "eip155:56"
                        address: "0x742d35Cc6634C0532925a3b8D5c9B0E1e1234567"
                        label: "My BSC Hardware Wallet"
                        createdDate: "2025-08-01T12:00:00Z"
                        verifiedDate: "2025-08-01T12:30:00Z"
                        isActive: true
                        blockchain:
                          key: "eip155:56"
                          name: "Binance Smart Chain"
                          shortName: "BSC"
                          image: "https://cryptologos.cc/logos/bnb-bnb-logo.png"
                      requestAmount: "2500.000000000000000000"
                      sentAmount: null
                      networkFee: null
                      platformFee: null
                      requestDate: "2025-08-10T10:00:00Z"
                      sentDate: null
                      sentHash: null
                      confirmedDate: null
                      failedDate: "2025-08-10T11:30:00Z"
                      failureReason: "Insufficient gas for transaction execution"
                      state: "failed"
                      blockchainExplorerUrl: null
                      estimatedConfirmationTime: null
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /withdrawals/{withdrawalId}/refund:
    post:
      tags:
        - Withdrawal Management
      summary: Request withdrawal refund
      description: |
        Request a refund for a failed withdrawal (admin approval required).
      operationId: requestWithdrawalRefund
      parameters:
        - name: withdrawalId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WithdrawalRefundRequest'
            examples:
              gas_failure_refund:
                summary: Request refund due to gas failure
                value:
                  reason: "Transaction failed due to insufficient gas. Network congestion caused gas estimation to be inaccurate."
              network_issue_refund:
                summary: Request refund due to network issues
                value:
                  reason: "Blockchain network experienced downtime during transaction execution, causing withdrawal to fail."
              address_issue_refund:
                summary: Request refund due to address issues
                value:
                  reason: "Recipient address was temporarily frozen by exchange, unable to receive funds."
      responses:
        '200':
          description: Refund request submitted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              examples:
                refund_request_success:
                  summary: Refund request submitted successfully
                  value:
                    success: true
                    message: "Withdrawal refund request has been submitted successfully and is under admin review"
                    timestamp: "2025-08-11T17:30:00Z"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'


components:
  securitySchemes:
    apiKeyCookie:
      type: apiKey
      in: cookie
      name: apiKeyCookie
      description: Better Auth API Key authentication via cookie
    bearerAuth:
      type: http
      scheme: bearer
      description: Better Auth Bearer token authentication

  schemas:
    # Currency Management Schemas
    CurrenciesResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            currencies:
              type: array
              items:
                $ref: '#/components/schemas/CurrencyDetail'
      required:
        - success
        - data

    CurrencyDetail:
      type: object
      properties:
        blockchainKey:
          type: string
          description: CAIP-2 compliant blockchain identifier
          example: "eip155:1"
          maxLength: 64
        tokenId:
          type: string
          description: Token identifier within the blockchain (CAIP-19 format)
          example: "slip44:60"
          maxLength: 64
        name:
          type: string
          description: Human-readable currency name
          example: "Ethereum"
        symbol:
          type: string
          description: Currency symbol/ticker
          example: "ETH"
        decimals:
          type: integer
          description: Number of decimal places for precision
          example: 18
          minimum: 0
          maximum: 18
        logoUrl:
          type: string
          format: uri
          description: URL to currency logo image
          example: "https://cryptologos.cc/logos/ethereum-eth-logo.png"
        isCollateralCurrency:
          type: boolean
          description: Whether this currency can be used as collateral
          example: true
        isLoanCurrency:
          type: boolean
          description: Whether this currency can be used for loans
          example: false
        maxLtv:
          type: number
          format: decimal
          description: Maximum Loan-to-Value ratio for collateral (percentage)
          example: 70.0
          minimum: 0
          maximum: 100
        ltvWarningThreshold:
          type: number
          format: decimal
          description: LTV threshold that triggers warning notifications
          example: 56.0
          minimum: 0
          maximum: 100
        ltvCriticalThreshold:
          type: number
          format: decimal
          description: LTV threshold that triggers critical alerts
          example: 66.5
          minimum: 0
          maximum: 100
        ltvLiquidationThreshold:
          type: number
          format: decimal
          description: LTV threshold that triggers automatic liquidation
          example: 70.0
          minimum: 0
          maximum: 100
        minLoanPrincipalAmount:
          type: string
          description: Minimum loan amount in smallest unit (wei/satoshi equivalent)
          example: "1000000000000000000000"
        maxLoanPrincipalAmount:
          type: string
          description: Maximum loan amount in smallest unit (0 means no limit)
          example: "0"
        minWithdrawalAmount:
          type: string
          description: Minimum withdrawal amount in smallest unit
          example: "100000000000000000000"
        maxWithdrawalAmount:
          type: string
          description: Maximum withdrawal amount in smallest unit (0 means no limit)
          example: "0"
        maxDailyWithdrawalAmount:
          type: string
          description: Maximum daily withdrawal amount in smallest unit (0 means no limit)
          example: "0"
        withdrawalFeeRate:
          type: number
          format: decimal
          description: Withdrawal fee rate (decimal, e.g., 0.001 = 0.1%)
          example: 0.0000
          minimum: 0
          maximum: 1
        blockchain:
          type: object
          description: Associated blockchain information
          properties:
            key:
              type: string
              description: CAIP-2 blockchain identifier
              example: "eip155:1"
            name:
              type: string
              description: Blockchain network name
              example: "Ethereum Mainnet"
            shortName:
              type: string
              description: Blockchain short name
              example: "ETH"
            image:
              type: string
              format: uri
              description: Blockchain logo URL
              example: "https://cryptologos.cc/logos/ethereum-eth-logo.png"
          required:
            - key
            - name
            - shortName
            - image
      required:
        - blockchainKey
        - tokenId
        - name
        - symbol
        - decimals
        - logoUrl
        - isCollateralCurrency
        - isLoanCurrency
        - maxLtv
        - ltvWarningThreshold
        - ltvCriticalThreshold
        - ltvLiquidationThreshold
        - minLoanPrincipalAmount
        - maxLoanPrincipalAmount
        - minWithdrawalAmount
        - maxWithdrawalAmount
        - maxDailyWithdrawalAmount
        - withdrawalFeeRate
        - blockchain

    # Account Management Schemas
    AccountBalancesResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            accounts:
              type: array
              items:
                $ref: '#/components/schemas/AccountBalance'
            totalPortfolioValue:
              type: object
              properties:
                amount:
                  type: string
                  description: Total portfolio value in USD
                  example: "125000.50"
                currency:
                  type: string
                  example: "USD"
                lastUpdated:
                  type: string
                  format: date-time
      required:
        - success
        - data

    AccountBalance:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 123
        currency:
          $ref: '#/components/schemas/Currency'
        balance:
          type: string
          description: Available balance (decimal string)
          example: "1250.750000000000000000"
        lastUpdated:
          type: string
          format: date-time
          example: "2025-08-11T10:30:00Z"
        valuation:
          type: object
          properties:
            amount:
              type: string
              description: Balance value in USD
              example: "2451.25"
            currency:
              $ref: '#/components/schemas/Currency'
            exchangeRate:
              type: string
              description: Exchange rate used for valuation
              example: "1.960000000000000000"
            rateSource:
              type: string
              description: Source of the exchange rate
              example: "coinbase"
            rateDate:
              type: string
              format: date-time
              description: Timestamp of the exchange rate
              example: "2025-08-11T10:29:45Z"
      required:
        - id
        - currency
        - balance
        - lastUpdated

    AccountMutationsResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            mutations:
              type: array
              items:
                $ref: '#/components/schemas/AccountMutation'
            pagination:
              $ref: '#/components/schemas/PaginationMeta'
      required:
        - success
        - data

    AccountMutation:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 456
        mutationType:
          $ref: '#/components/schemas/AccountMutationType'
        mutationDate:
          type: string
          format: date-time
          example: "2025-08-11T09:15:00Z"
        amount:
          type: string
          description: Mutation amount (positive = credit, negative = debit)
          example: "1000.000000000000000000"
        description:
          type: string
          description: Human-readable description of the mutation
          example: "Loan principal disbursement for loan #789"
        referenceId:
          type: integer
          format: int64
          description: ID of related entity (invoice, loan, withdrawal, etc.)
          example: 789
        referenceType:
          type: string
          description: Type of related entity
          example: "loan"
        balanceAfter:
          type: string
          description: Account balance after this mutation
          example: "2250.750000000000000000"
      required:
        - id
        - mutationType
        - mutationDate
        - amount
        - description

    AccountMutationType:
      type: string
      enum:
        # Invoice operations
        - InvoicePrepaid
        - InvoiceReceived
        # Loan operations - borrower perspective
        - LoanCollateralDeposit
        - LoanApplicationCollateralEscrowed
        - LoanPrincipalDisbursement
        - LoanDisbursementReceived
        - LoanPrincipalDisbursementFee
        - LoanRepayment
        - LoanCollateralRelease
        - LoanCollateralReturned
        - LoanCollateralReleased
        - LoanLiquidationRelease
        - LoanLiquidationSurplus
        - LoanLiquidationReleaseFee
        # Loan operations - lender perspective
        - LoanPrincipalFunded
        - LoanOfferPrincipalEscrowed
        - LoanPrincipalReturned
        - LoanPrincipalReturnedFee
        - LoanInterestReceived
        - LoanRepaymentReceived
        - LoanLiquidationRepayment
        # Loan operations - platform perspective
        - LoanDisbursementPrincipal
        - LoanDisbursementFee
        - LoanReturnFee
        - LoanLiquidationFee
        - LoanLiquidationCollateralUsed
        # Withdrawal operations
        - WithdrawalRequested
        - WithdrawalRefunded
        # Platform fee operations
        - PlatformFeeCharged
        - PlatformFeeRefunded
        # Admin and emergency operations
        - AdminManualAdjustment
        - LiquidationDeficitCover
        - PlatformLoss
        - EmergencyFreeze
        - EmergencyUnfreeze
        - ComplianceHold
        - ComplianceRelease

    # Portfolio Management Schemas
    PortfolioOverviewResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          $ref: '#/components/schemas/PortfolioOverview'

    PortfolioOverview:
      type: object
      properties:
        totalValue:
          $ref: '#/components/schemas/MonetaryValue'
        assetAllocation:
          type: array
          items:
            $ref: '#/components/schemas/AssetAllocation'
        performance:
          $ref: '#/components/schemas/PortfolioPerformance'
        lastUpdated:
          type: string
          format: date-time
          description: Timestamp when portfolio data was last calculated
          example: "2025-09-22T10:30:00Z"

    AssetAllocation:
      type: object
      properties:
        currency:
          $ref: '#/components/schemas/Currency'
        balance:
          type: string
          description: Raw balance in smallest currency unit
          example: "150000000"
        value:
          $ref: '#/components/schemas/MonetaryValue'
        percentage:
          type: number
          format: float
          minimum: 0
          maximum: 100
          description: Percentage of total portfolio value
          example: 80.45

    PortfolioPerformance:
      type: object
      properties:
        daily:
          $ref: '#/components/schemas/PerformanceMetric'
        weekly:
          $ref: '#/components/schemas/PerformanceMetric'
        monthly:
          $ref: '#/components/schemas/PerformanceMetric'

    PerformanceMetric:
      type: object
      properties:
        amount:
          type: string
          description: Absolute change amount in USD
          example: "2540.50"
        currency:
          type: string
          description: Currency code for the amount
          example: "USD"
        percentage:
          type: number
          format: float
          description: Percentage change
          example: 2.06

    # Withdrawal Management Schemas
    BeneficiariesResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            beneficiaries:
              type: array
              items:
                $ref: '#/components/schemas/Beneficiary'
      required:
        - success
        - data

    BeneficiaryResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          $ref: '#/components/schemas/Beneficiary'
      required:
        - success
        - data

    Beneficiary:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 202
        blockchainKey:
          type: string
          description: CAIP-2 compliant blockchain identifier
          example: "eip155:1"
          maxLength: 64
        address:
          type: string
          description: Withdrawal address
          example: "0x742d35Cc6634C0532925a3b8D5c9B0E1e1234567"
        label:
          type: string
          description: User-friendly label for the address
          example: "My Hardware Wallet"
        createdDate:
          type: string
          format: date-time
          example: "2025-08-01T12:00:00Z"
        verifiedDate:
          type: string
          format: date-time
          nullable: true
          example: "2025-08-01T12:30:00Z"
        isActive:
          type: boolean
          description: Whether the beneficiary is active for withdrawals
          example: true
        blockchain:
          type: object
          description: Blockchain information
          properties:
            key:
              type: string
              description: CAIP-2 blockchain identifier
              example: "eip155:1"
            name:
              type: string
              description: Blockchain network name
              example: "Ethereum Mainnet"
            shortName:
              type: string
              description: Blockchain short name
              example: "ETH"
            image:
              type: string
              format: uri
              description: Blockchain logo URL
              example: "https://cryptologos.cc/logos/ethereum-eth-logo.png"
          required:
            - key
            - name
            - shortName
            - image
      required:
        - id
        - blockchainKey
        - address
        - createdDate
        - isActive
        - blockchain

    CreateBeneficiaryRequest:
      type: object
      properties:
        blockchainKey:
          type: string
          description: CAIP-2 compliant blockchain identifier
          example: "eip155:1"
          maxLength: 64
        address:
          type: string
          description: Withdrawal address
          example: "0x742d35Cc6634C0532925a3b8D5c9B0E1e1234567"
        label:
          type: string
          description: User-friendly label for the address
          example: "My Hardware Wallet"
      required:
        - blockchainKey
        - address

    WithdrawalsResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            withdrawals:
              type: array
              items:
                $ref: '#/components/schemas/Withdrawal'
            pagination:
              $ref: '#/components/schemas/PaginationMeta'
      required:
        - success
        - data

    WithdrawalResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          $ref: '#/components/schemas/Withdrawal'
      required:
        - success
        - data

    Withdrawal:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 303
        currency:
          $ref: '#/components/schemas/Currency'
        beneficiary:
          $ref: '#/components/schemas/Beneficiary'
        requestAmount:
          type: string
          description: Requested withdrawal amount (18 decimal precision)
          example: "1000.000000000000000000"
          pattern: '^\d+\.\d{18}$'
        sentAmount:
          type: string
          description: Actual amount sent (after fees)
          nullable: true
          example: "995.000000000000000000"
        networkFee:
          type: string
          description: Network transaction fee
          nullable: true
          example: "5.000000000000000000"
        platformFee:
          type: string
          description: Platform withdrawal fee
          nullable: true
          example: "0.000000000000000000"
        requestDate:
          type: string
          format: date-time
          example: "2025-08-11T14:00:00Z"
        sentDate:
          type: string
          format: date-time
          nullable: true
          example: "2025-08-11T14:15:00Z"
        sentHash:
          type: string
          description: Blockchain transaction hash
          nullable: true
          example: "def456789abc..."
        confirmedDate:
          type: string
          format: date-time
          nullable: true
          example: "2025-08-11T15:00:00Z"
        failedDate:
          type: string
          format: date-time
          nullable: true
          example: null
        failureReason:
          type: string
          nullable: true
          example: null
        state:
          type: string
          description: Current withdrawal state (derived from time-based fields, not stored)
          enum:
            - requested
            - sent
            - confirmed
            - failed
          example: "confirmed"
          readOnly: true
          writeOnly: false
        blockchainExplorerUrl:
          type: string
          description: Link to view transaction on blockchain explorer
          nullable: true
          example: "https://etherscan.io/tx/def456789abc..."
        estimatedConfirmationTime:
          type: string
          description: Estimated confirmation time
          nullable: true
          example: "30 minutes"
      required:
        - id
        - currency
        - beneficiary
        - requestAmount
        - requestDate
        - state

    CreateWithdrawalRequest:
      type: object
      properties:
        beneficiaryId:
          type: integer
          format: int64
          description: ID of registered beneficiary
          example: 202
        currencyBlockchainKey:
          type: string
          description: CAIP-2 compliant blockchain identifier for the currency
          example: "eip155:56"
          maxLength: 64
        currencyTokenId:
          type: string
          description: Token identifier within the blockchain (CAIP-19 format)
          example: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
          maxLength: 64
        amount:
          type: string
          description: Withdrawal amount (18 decimal precision)
          example: "1000.000000000000000000"
          pattern: '^\d+\.\d{18}$'
        twoFactorCode:
          type: string
          description: 2FA authentication code
          example: "123456"
      required:
        - beneficiaryId
        - currencyBlockchainKey
        - currencyTokenId
        - amount
        - twoFactorCode

    WithdrawalRefundRequest:
      type: object
      properties:
        reason:
          type: string
          description: Reason for requesting refund
          example: "Transaction failed due to insufficient gas"
      required:
        - reason

    # Exchange Rates Schemas
    ExchangeRatesResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            exchangeRates:
              type: array
              items:
                $ref: '#/components/schemas/ExchangeRate'
            lastUpdated:
              type: string
              format: date-time
              example: "2025-08-11T15:30:00Z"
      required:
        - success
        - data

    ExchangeRate:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 404
        baseAsset:
          $ref: '#/components/schemas/Currency'
        quoteAsset:
          $ref: '#/components/schemas/Currency'
        bidPrice:
          type: string
          description: Bid price (decimal string)
          example: "2450.750000000000000000"
        askPrice:
          type: string
          description: Ask price (decimal string)
          example: "2451.250000000000000000"
        midPrice:
          type: string
          description: Mid price ((bid + ask) / 2)
          example: "2451.000000000000000000"
        source:
          type: string
          description: Price data source
          example: "coinbase"
        sourceDate:
          type: string
          format: date-time
          description: Timestamp from price source
          example: "2025-08-11T15:29:45Z"
        retrievalDate:
          type: string
          format: date-time
          description: Timestamp when price was retrieved
          example: "2025-08-11T15:30:00Z"
      required:
        - id
        - baseAsset
        - quoteAsset
        - bidPrice
        - askPrice
        - midPrice
        - source
        - sourceDate
        - retrievalDate

    # Common Schemas
    Currency:
      type: object
      properties:
        blockchainKey:
          type: string
          description: CAIP-2 compliant blockchain identifier
          example: "eip155:1"
          maxLength: 64
        tokenId:
          type: string
          description: Token identifier within the blockchain
          example: "slip44:60"
          maxLength: 64
        name:
          type: string
          description: Human-readable currency name
          example: "Ethereum"
        symbol:
          type: string
          description: Currency symbol/ticker
          example: "ETH"
        decimals:
          type: integer
          description: Number of decimal places for precision
          example: 18
          minimum: 0
          maximum: 18
        logoUrl:
          type: string
          format: uri
          description: URL to currency logo image
          example: "https://assets.cryptogadai.com/currencies/eth.png"
      required:
        - blockchainKey
        - tokenId
        - name
        - symbol
        - decimals

    PaginationMeta:
      type: object
      properties:
        page:
          type: integer
          description: Current page number (1-based)
          example: 1
          minimum: 1
        limit:
          type: integer
          description: Number of items per page
          example: 20
          minimum: 1
          maximum: 100
        total:
          type: integer
          description: Total number of items across all pages
          example: 150
          minimum: 0
        totalPages:
          type: integer
          description: Total number of pages
          example: 8
          minimum: 0
        hasNext:
          type: boolean
          description: Whether there are more pages after current
          example: true
        hasPrev:
          type: boolean
          description: Whether there are pages before current
          example: false
      required:
        - page
        - limit
        - total
        - totalPages
        - hasNext
        - hasPrev

    ApiResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Operation completed successfully"
        timestamp:
          type: string
          format: date-time
          example: "2025-08-11T15:30:00Z"
      required:
        - success
        - message
        - timestamp

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          properties:
            code:
              type: string
              description: Error code
              example: "INSUFFICIENT_BALANCE"
            message:
              type: string
              description: Human-readable error message
              example: "Insufficient account balance for withdrawal"
            details:
              type: object
              description: Additional error details
              additionalProperties: true
        timestamp:
          type: string
          format: date-time
          example: "2025-08-11T15:30:00Z"
      required:
        - success
        - error
        - timestamp

    ValidationErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          properties:
            code:
              type: string
              example: "VALIDATION_ERROR"
            message:
              type: string
[...]
