openapi: 3.0.3
info:
  title: CryptoGadai Loan Management API
  version: 1.0.0
  description: |
    Complete API specification for the CryptoGadai loan management system.
    
    This API handles:
    - Loan offer creation and management
    - Loan application submission and tracking  
    - Loan lifecycle management (disbursement, repayment, liquidation)
    - LTV monitoring and valuation
    - Background processing workflows
    
servers:
  - url: https://api.cryptogadai.com/api
    description: Production server
  - url: https://cg-api.fh47.com/api
    description: Testing server
  - url: http://cg-api.localhost/api
    description: Local development server

security:
  - apiKeyCookie: []
  - bearerAuth: []

tags:
  - name: Loan Offers
    description: Lender loan offer management
  - name: Loan Applications
    description: Borrower loan application management
  - name: Loans
    description: Active loan contract management
  - name: Valuations
    description: LTV monitoring and collateral valuation

paths:
  # Loan Offers
  /loan-offers:
    post:
      tags: [Loan Offers]
      summary: Create new loan offer
      description: |
        Create a new loan offer with specified terms. The offer will be unpublished 
        until the principal funding invoice is paid.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLoanOfferRequest'
      responses:
        '201':
          description: Loan offer created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoanOfferResponse'
              examples:
                individual_offer_created:
                  summary: Individual lender loan offer created
                  value:
                    success: true
                    data:
                      id: "12345"
                      lenderId: "user_67890"
                      lender:
                        id: "user_67890"
                        type: "Individual"
                        name: "John Doe"
                      principalCurrency:
                        blockchainKey: "eip155:56"
                        tokenId: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
                        name: "Binance-Peg USD Coin"
                        symbol: "USDC"
                        decimals: 18
                        logoUrl: "https://assets.cryptogadai.com/currencies/usdc.png"
                      totalAmount: "10000.000000000000000000"
                      availableAmount: "10000.000000000000000000"
                      disbursedAmount: "0.000000000000000000"
                      interestRate: 12.5
                      termOptions: [3, 6]
                      status: "Published"
                      createdDate: "2025-09-11T10:30:00Z"
                      publishedDate: "2025-09-11T10:45:00Z"
                      fundingInvoice:
                        id: "inv_12345"
                        amount: "10000.000000000000000000"
                        currency:
                          blockchainKey: "eip155:56"
                          tokenId: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
                          name: "Binance-Peg USD Coin"
                          symbol: "USDC"
                          decimals: 18
                        walletAddress: "0x742d35cc1234567890abcdef1234567890abcdef"
                        expiryDate: "2025-09-18T10:30:00Z"
                        paidDate: "2025-09-11T10:45:00Z"
                        expiredDate: null
                company_offer_created:
                  summary: Company lender large loan offer created
                  value:
                    success: true
                    data:
                      id: "54321"
                      lenderId: "company_13579"
                      lender:
                        id: "company_13579"
                        type: "Institution"
                        name: "PT Fintech Solutions"
                        businessType: "PT"
                      principalCurrency:
                        blockchainKey: "eip155:56"
                        tokenId: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
                        name: "Binance-Peg USD Coin"
                        symbol: "USDC"
                        decimals: 18
                        logoUrl: "https://assets.cryptogadai.com/currencies/usdc.png"
                      totalAmount: "100000.000000000000000000"
                      availableAmount: "100000.000000000000000000"
                      disbursedAmount: "0.000000000000000000"
                      interestRate: 10.0
                      termOptions: [1, 3, 6, 12]
                      status: "Published"
                      createdDate: "2025-09-11T09:00:00Z"
                      publishedDate: "2025-09-11T09:15:00Z"
                      fundingInvoice:
                        id: "inv_54321"
                        amount: "100000.000000000000000000"
                        currency:
                          blockchainKey: "eip155:56"
                          tokenId: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
                          name: "Binance-Peg USD Coin"
                          symbol: "USDC"
                          decimals: 18
                        walletAddress: "0x742d35cc9876543210fedcba9876543210fedcba"
                        expiryDate: "2025-09-18T09:00:00Z"
                        paidDate: "2025-09-11T09:15:00Z"
                        expiredDate: null
        '400':
          $ref: '#/components/responses/ValidationError'
        '409':
          $ref: '#/components/responses/InsufficientBalance'

    get:
      tags: [Loan Offers]
      summary: List available loan offers
      description: Retrieve paginated list of published loan offers available for matching
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - name: collateralBlockchainKey
          in: query
          schema:
            type: string
            description: Filter by collateral blockchain key
        - name: collateralTokenId
          in: query
          schema:
            type: string
            description: Filter by collateral token ID
        - name: principalBlockchainKey
          in: query
          schema:
            type: string
            description: Filter by principal blockchain key
        - name: principalTokenId
          in: query
          schema:
            type: string
            description: Filter by principal token ID
      responses:
        '200':
          description: List of loan offers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoanOfferListResponse'
              examples:
                mixed_offers_listing:
                  summary: Mixed loan offers from individual and company lenders
                  value:
                    success: true
                    data:
                      offers:
                        - id: "12345"
                          lenderId: "user_67890"
                          lender:
                            id: "user_67890"
                            type: "Individual"
                            name: "John Doe"
                          principalCurrency:
                            blockchainKey: "eip155:56"
                            tokenId: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
                            name: "Binance-Peg USD Coin"
                            symbol: "USDC"
                            decimals: 18
                            logoUrl: "https://assets.cryptogadai.com/currencies/usdc.png"
                          totalAmount: "10000.000000000000000000"
                          availableAmount: "7500.000000000000000000"
                          disbursedAmount: "2500.000000000000000000"
                          interestRate: 12.5
                          termOptions: [3, 6]
                          status: "Published"
                          createdDate: "2025-09-10T10:30:00Z"
                          publishedDate: "2025-09-10T10:45:00Z"
                        - id: "54321"
                          lenderId: "company_13579"
                          lender:
                            id: "company_13579"
                            type: "Institution"
                            name: "PT Fintech Solutions"
                            businessType: "PT"
                          principalCurrency:
                            blockchainKey: "eip155:56"
                            tokenId: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
                            name: "Binance-Peg USD Coin"
                            symbol: "USDC"
                            decimals: 18
                            logoUrl: "https://assets.cryptogadai.com/currencies/usdc.png"
                          totalAmount: "100000.000000000000000000"
                          availableAmount: "85000.000000000000000000"
                          disbursedAmount: "15000.000000000000000000"
                          interestRate: 10.0
                          termOptions: [1, 3, 6, 12]
                          status: "Published"
                          createdDate: "2025-09-09T09:00:00Z"
                          publishedDate: "2025-09-09T09:15:00Z"
                        - id: "67890"
                          lenderId: "user_24680"
                          lender:
                            id: "user_24680"
                            type: "Individual"
                            name: "Sarah Chen"
                          principalCurrency:
                            blockchainKey: "eip155:56"
                            tokenId: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
                            name: "Binance-Peg USD Coin"
                            symbol: "USDC"
                            decimals: 18
                            logoUrl: "https://assets.cryptogadai.com/currencies/usdc.png"
                          totalAmount: "25000.000000000000000000"
                          availableAmount: "25000.000000000000000000"
                          disbursedAmount: "0.000000000000000000"
                          interestRate: 14.0
                          termOptions: [1, 3]
                          status: "Published"
                          createdDate: "2025-09-11T14:20:00Z"
                          publishedDate: "2025-09-11T14:35:00Z"
                      pagination:
                        page: 1
                        limit: 20
                        total: 3
                        totalPages: 1
                        hasNext: false
                        hasPrev: false

  /loan-offers/my-offers:
    get:
      tags: [Loan Offers]
      summary: Get my loan offers
      description: Retrieve all loan offers created by the authenticated lender
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Lender's loan offers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoanOfferListResponse'

  /loan-offers/{id}:
    patch:
      tags: [Loan Offers]
      summary: Update loan offer
      description: Update loan offer status (close)
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLoanOfferRequest'
      responses:
        '200':
          description: Loan offer updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoanOfferResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  # Loan Applications
  /loan-applications/calculate:
    post:
      tags: [Loan Applications]
      summary: Calculate loan application requirements
      description: |
        Calculate required collateral amount and generate preview for loan application
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanCalculationRequest'
      responses:
        '200':
          description: Loan calculation results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoanCalculationResponse'
              examples:
                eth_collateral_result:
                  summary: ETH collateral calculation result
                  value:
                    success: true
                    data:
                      requiredCollateralAmount: "8.571428571428571428"
                      exchangeRate: "2100.000000000000000000"
                      collateralCurrency:
                        blockchainKey: "eip155:1"
                        tokenId: "slip44:60"
                        name: "Ethereum"
                        symbol: "ETH"
                        decimals: 18
                        logoUrl: "https://assets.cryptogadai.com/currencies/eth.png"
                      principalCurrency:
                        blockchainKey: "eip155:56"
                        tokenId: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
                        name: "Binance-Peg USD Coin"
                        symbol: "USDC"
                        decimals: 18
                        logoUrl: "https://assets.cryptogadai.com/currencies/usdc.png"
                      maxLtvRatio: 0.7
                      safetyBuffer: 0.2
                      calculationDetails:
                        baseLoanAmount: "10000.000000000000000000"
                        baseCollateralValue: "14285.714285714285714286"
                        withSafetyBuffer: "17142.857142857142857143"
                        currentExchangeRate: "2100.000000000000000000"
                        rateSource: "coinbase"
                        rateTimestamp: "2025-09-11T15:30:00Z"
                btc_collateral_result:
                  summary: BTC collateral calculation result
                  value:
                    success: true
                    data:
                      requiredCollateralAmount: "1.666666666666666667"
                      exchangeRate: "60000.000000000000000000"
                      collateralCurrency:
                        blockchainKey: "bip122:000000000019d6689c085ae165831e93"
                        tokenId: "slip44:0"
                        name: "Bitcoin"
                        symbol: "BTC"
                        decimals: 8
                        logoUrl: "https://assets.cryptogadai.com/currencies/btc.png"
                      principalCurrency:
                        blockchainKey: "eip155:56"
                        tokenId: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
                        name: "Binance-Peg USD Coin"
                        symbol: "USDC"
                        decimals: 18
                        logoUrl: "https://assets.cryptogadai.com/currencies/usdc.png"
                      maxLtvRatio: 0.6
                      safetyBuffer: 0.2
                      calculationDetails:
                        baseLoanAmount: "50000.000000000000000000"
                        baseCollateralValue: "83333.333333333333333333"
                        withSafetyBuffer: "100000.000000000000000000"
                        currentExchangeRate: "60000.000000000000000000"
                        rateSource: "coinbase"
                        rateTimestamp: "2025-09-11T15:30:00Z"
        '400':
          $ref: '#/components/responses/ValidationError'

  /loan-applications:
    post:
      tags: [Loan Applications]
      summary: Create loan application
      description: |
        Create a new loan application. Requires collateral deposit to be published.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLoanApplicationRequest'
            examples:
              eth_collateral_application:
                summary: Loan application with ETH collateral
                value:
                  collateralBlockchainKey: "eip155:1"
                  collateralTokenId: "slip44:60"
                  principalAmount: "5000.000000000000000000"
                  principalBlockchainKey: "eip155:56"
                  principalTokenId: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
                  maxInterestRate: 15.0
                  termMonths: 6
                  liquidationMode: "Full"
                  minLtvRatio: 0.5
              btc_collateral_large_loan:
                summary: Large loan application with BTC collateral
                value:
                  collateralBlockchainKey: "bip122:000000000019d6689c085ae165831e93"
                  collateralTokenId: "slip44:0"
                  principalAmount: "25000.000000000000000000"
                  principalBlockchainKey: "eip155:56"
                  principalTokenId: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
                  maxInterestRate: 12.0
                  termMonths: 12
                  liquidationMode: "Partial"
                  minLtvRatio: 0.4
              sol_collateral_short_term:
                summary: Short-term loan with SOL collateral
                value:
                  collateralBlockchainKey: "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp"
                  collateralTokenId: "slip44:501"
                  principalAmount: "2000.000000000000000000"
                  principalBlockchainKey: "eip155:56"
                  principalTokenId: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
                  maxInterestRate: 18.0
                  termMonths: 1
                  liquidationMode: "Full"
                  minLtvRatio: 0.3
      responses:
        '201':
          description: Loan application created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoanApplicationResponse'
              examples:
                eth_application_created:
                  summary: ETH collateral loan application created
                  value:
                    success: true
                    data:
                      id: "app_78901"
                      borrowerId: "user_54321"
                      collateralCurrency:
                        blockchainKey: "eip155:1"
                        tokenId: "slip44:60"
                        name: "Ethereum"
                        symbol: "ETH"
                        decimals: 18
                        logoUrl: "https://assets.cryptogadai.com/currencies/eth.png"
                      principalAmount: "5000.000000000000000000"
                      status: "PendingCollateral"
                      createdDate: "2025-09-11T16:00:00Z"
                      publishedDate: null
                      expiryDate: "2025-09-18T16:00:00Z"
                      collateralInvoice:
                        id: "inv_78901"
                        amount: "3.571428571428571429"
                        currency:
                          blockchainKey: "eip155:1"
                          tokenId: "slip44:60"
                          name: "Ethereum"
                          symbol: "ETH"
                          decimals: 18
                        walletAddress: "0x1a2b3c4d5e6f7890abcdef1234567890abcdef12"
                        expiryDate: "2025-09-18T16:00:00Z"
                        paidDate: null
                        expiredDate: null
                btc_application_created:
                  summary: BTC collateral loan application created
                  value:
                    success: true
                    data:
                      id: "app_23456"
                      borrowerId: "user_98765"
                      collateralCurrency:
                        blockchainKey: "bip122:000000000019d6689c085ae165831e93"
                        tokenId: "slip44:0"
                        name: "Bitcoin"
                        symbol: "BTC"
                        decimals: 8
                        logoUrl: "https://assets.cryptogadai.com/currencies/btc.png"
                      principalAmount: "25000.000000000000000000"
                      status: "PendingCollateral"
                      createdDate: "2025-09-11T17:00:00Z"
                      publishedDate: null
                      expiryDate: "2025-09-18T17:00:00Z"
                      collateralInvoice:
                        id: "inv_23456"
                        amount: "0.83333333"
                        currency:
                          blockchainKey: "bip122:000000000019d6689c085ae165831e93"
                          tokenId: "slip44:0"
                          name: "Bitcoin"
                          symbol: "BTC"
                          decimals: 8
                        walletAddress: "bc1qxy2kgdygjrsqtzq2n0yrf2493p83kkfjhx0wlh"
                        expiryDate: "2025-09-18T17:00:00Z"
                        paidDate: null
                        expiredDate: null
        '400':
          $ref: '#/components/responses/ValidationError'
        '409':
          $ref: '#/components/responses/InsufficientBalance'

  /loan-applications/my-applications:
    get:
      tags: [Loan Applications]
      summary: Get my loan applications
      description: Retrieve all loan applications created by the authenticated borrower
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Borrower's loan applications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoanApplicationListResponse'

  /loan-applications/{id}:
    patch:
      tags: [Loan Applications]
      summary: Update loan application
      description: Update loan application (cancel, extend, modify terms)
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLoanApplicationRequest'
      responses:
        '200':
          description: Loan application updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoanApplicationResponse'

  # Loans
  /loans:
    get:
      tags: [Loans]
      summary: List loans
      description: Get loans for authenticated user (as borrower or lender)
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - name: role
          in: query
          schema:
            type: string
            enum: [borrower, lender]
        - name: status
          in: query
          schema:
            type: string
            enum: [active, repaid, liquidated]
      responses:
        '200':
          description: List of loans
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoanListResponse'
              examples:
                mixed_loan_portfolio:
                  summary: Mixed loan portfolio for borrower and lender
                  value:
                    success: true
                    data:
                      loans:
                        - id: "loan_12345"
                          borrowerId: "user_54321"
                          lenderId: "user_67890"
                          principalCurrency:
                            blockchainKey: "eip155:56"
                            tokenId: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
                            name: "Binance-Peg USD Coin"
                            symbol: "USDC"
                            decimals: 18
                          principalAmount: "5000.000000000000000000"
                          collateralCurrency:
                            blockchainKey: "eip155:1"
                            tokenId: "slip44:60"
                            name: "Ethereum"
                            symbol: "ETH"
                            decimals: 18
                          collateralAmount: "3.571428571428571429"
                          interestRate: 12.5
                          termMonths: 6
                          currentLtv: 65.2
                          maxLtvRatio: 70.0
                          status: "Active"
                          originationDate: "2025-09-01T10:00:00Z"
                          disbursementDate: "2025-09-01T11:00:00Z"
                          maturityDate: "2026-03-01T10:00:00Z"
                          repaidDate: null
                          liquidationDate: null
                        - id: "loan_67890"
                          borrowerId: "user_11111"
                          lenderId: "company_22222"
                          principalCurrency:
                            blockchainKey: "eip155:56"
                            tokenId: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
                            name: "Binance-Peg USD Coin"
                            symbol: "USDC"
                            decimals: 18
                          principalAmount: "15000.000000000000000000"
                          collateralCurrency:
                            blockchainKey: "bip122:000000000019d6689c085ae165831e93"
                            tokenId: "slip44:0"
                            name: "Bitcoin"
                            symbol: "BTC"
                            decimals: 8
                          collateralAmount: "0.5"
                          interestRate: 10.0
                          termMonths: 12
                          currentLtv: 55.8
                          maxLtvRatio: 60.0
                          status: "Active"
                          originationDate: "2025-08-15T14:00:00Z"
                          disbursementDate: "2025-08-15T15:00:00Z"
                          maturityDate: "2026-08-15T14:00:00Z"
                          repaidDate: null
                          liquidationDate: null
                        - id: "loan_99999"
                          borrowerId: "user_33333"
                          lenderId: "user_44444"
                          principalCurrency:
                            blockchainKey: "eip155:56"
                            tokenId: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
                            name: "Binance-Peg USD Coin"
                            symbol: "USDC"
                            decimals: 18
                          principalAmount: "3000.000000000000000000"
                          collateralCurrency:
                            blockchainKey: "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp"
                            tokenId: "slip44:501"
                            name: "Solana"
                            symbol: "SOL"
                            decimals: 9
                          collateralAmount: "500.000000000"
                          interestRate: 16.0
                          termMonths: 3
                          currentLtv: 49.2
                          maxLtvRatio: 50.0
                          status: "Repaid"
                          originationDate: "2025-06-01T09:00:00Z"
                          disbursementDate: "2025-06-01T10:00:00Z"
                          maturityDate: "2025-09-01T09:00:00Z"
                          repaidDate: "2025-08-28T14:30:00Z"
                          liquidationDate: null
                      pagination:
                        page: 1
                        limit: 20
                        total: 3
                        totalPages: 1
                        hasNext: false
                        hasPrev: false

  /loans/{id}:
    get:
      tags: [Loans]
      summary: Get loan details
      description: Retrieve detailed information about a specific loan
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Loan details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoanResponse'
              examples:
                active_eth_loan_details:
                  summary: Active ETH-collateralized loan details
                  value:
                    success: true
                    data:
                      id: "loan_12345"
                      borrowerId: "user_54321"
                      lenderId: "user_67890"
                      principalCurrency:
                        blockchainKey: "eip155:56"
                        tokenId: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
                        name: "Binance-Peg USD Coin"
                        symbol: "USDC"
                        decimals: 18
                        logoUrl: "https://assets.cryptogadai.com/currencies/usdc.png"
                      principalAmount: "5000.000000000000000000"
                      collateralCurrency:
                        blockchainKey: "eip155:1"
                        tokenId: "slip44:60"
                        name: "Ethereum"
                        symbol: "ETH"
                        decimals: 18
                        logoUrl: "https://assets.cryptogadai.com/currencies/eth.png"
                      collateralAmount: "3.571428571428571429"
                      interestRate: 12.5
                      termMonths: 6
                      currentLtv: 65.2
                      maxLtvRatio: 70.0
                      status: "Active"
                      originationDate: "2025-09-01T10:00:00Z"
                      disbursementDate: "2025-09-01T11:00:00Z"
                      maturityDate: "2026-03-01T10:00:00Z"
                      repaidDate: null
                      liquidationDate: null
                      repaymentInvoice:
                        id: "inv_repay_12345"
                        amount: "5462.500000000000000000"
                        currency:
                          blockchainKey: "eip155:56"
                          tokenId: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
                          name: "Binance-Peg USD Coin"
                          symbol: "USDC"
                          decimals: 18
                        walletAddress: "0x9876543210fedcba9876543210fedcba98765432"
                        expiryDate: "2026-03-01T10:00:00Z"
                        paidDate: null
                        expiredDate: null
                      loanBreakdown:
                        principalAmount: "5000.000000000000000000"
                        interestAmount: "312.500000000000000000"
                        provisionFeeAmount: "150.000000000000000000"
                        totalRepaymentAmount: "5462.500000000000000000"
                repaid_btc_loan_details:
                  summary: Repaid BTC-collateralized loan details
                  value:
                    success: true
                    data:
                      id: "loan_67890"
                      borrowerId: "user_11111"
                      lenderId: "company_22222"
                      principalCurrency:
                        blockchainKey: "eip155:56"
                        tokenId: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
                        name: "Binance-Peg USD Coin"
                        symbol: "USDC"
                        decimals: 18
                        logoUrl: "https://assets.cryptogadai.com/currencies/usdc.png"
                      principalAmount: "15000.000000000000000000"
                      collateralCurrency:
                        blockchainKey: "bip122:000000000019d6689c085ae165831e93"
                        tokenId: "slip44:0"
                        name: "Bitcoin"
                        symbol: "BTC"
                        decimals: 8
                        logoUrl: "https://assets.cryptogadai.com/currencies/btc.png"
                      collateralAmount: "0.5"
                      interestRate: 10.0
                      termMonths: 12
                      currentLtv: 0.0
                      maxLtvRatio: 60.0
                      status: "Repaid"
                      originationDate: "2024-08-15T14:00:00Z"
                      disbursementDate: "2024-08-15T15:00:00Z"
                      maturityDate: "2025-08-15T14:00:00Z"
                      repaidDate: "2025-08-10T09:30:00Z"
                      liquidationDate: null
                      repaymentInvoice:
                        id: "inv_repay_67890"
                        amount: "16950.000000000000000000"
                        currency:
                          blockchainKey: "eip155:56"
                          tokenId: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
                          name: "Binance-Peg USD Coin"
                          symbol: "USDC"
                          decimals: 18
                        walletAddress: "0x1111222233334444555566667777888899990000"
                        expiryDate: "2025-08-15T14:00:00Z"
                        paidDate: "2025-08-10T09:30:00Z"
                        expiredDate: null
                      loanBreakdown:
                        principalAmount: "15000.000000000000000000"
                        interestAmount: "1500.000000000000000000"
                        provisionFeeAmount: "450.000000000000000000"
                        totalRepaymentAmount: "16950.000000000000000000"
        '404':
          $ref: '#/components/responses/NotFound'

  # Valuations
  /loans/{id}/valuations:
    get:
      tags: [Valuations]
      summary: Get loan valuation history
      description: Retrieve LTV ratio history for a loan
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Loan valuation history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoanValuationListResponse'
              examples:
                eth_loan_valuation_history:
                  summary: ETH loan valuation history showing price volatility
                  value:
                    success: true
                    data:
                      valuations:
                        - id: "val_001"
                          loanId: "loan_12345"
                          valuationDate: "2025-09-11T15:30:00Z"
                          ltvRatio: 66.67
                          collateralValue: "7500.000000000000000000"
                          exchangeRate: "2100.000000000000000000"
                        - id: "val_002"
                          loanId: "loan_12345"
                          valuationDate: "2025-09-11T15:25:00Z"
                          ltvRatio: 65.85
                          collateralValue: "7590.000000000000000000"
                          exchangeRate: "2125.000000000000000000"
                        - id: "val_003"
                          loanId: "loan_12345"
                          valuationDate: "2025-09-11T15:20:00Z"
                          ltvRatio: 67.11
                          collateralValue: "7450.000000000000000000"
                          exchangeRate: "2086.000000000000000000"
                        - id: "val_004"
                          loanId: "loan_12345"
                          valuationDate: "2025-09-11T15:15:00Z"
                          ltvRatio: 68.25
                          collateralValue: "7320.000000000000000000"
                          exchangeRate: "2050.000000000000000000"
                        - id: "val_005"
                          loanId: "loan_12345"
                          valuationDate: "2025-09-11T15:10:00Z"
                          ltvRatio: 67.89
                          collateralValue: "7368.000000000000000000"
                          exchangeRate: "2063.000000000000000000"
                      pagination:
                        page: 1
                        limit: 20
                        total: 5
                        totalPages: 1
                        hasNext: false
                        hasPrev: false

  # Early Liquidation
  /loans/{id}/early-liquidation/estimate:
    post:
      tags: [Loans]
      summary: Calculate early liquidation estimate
      description: |
        Calculate the estimated outcome of early liquidation for an active loan.
        
        This endpoint provides:
        - Current collateral valuation using latest exchange rates
        - Breakdown of all fees and costs involved
        - Estimated surplus or deficit after liquidation
        - Early liquidation fee calculation (1% of outstanding loan)
        
        **Requirements:**
        - Loan must be in 'Active' status
        - User must be the borrower of the loan
        - Current collateral valuation must be sufficient
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Loan ID to estimate early liquidation for
      responses:
        '200':
          description: Early liquidation estimate calculated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EarlyLiquidationEstimateResponse'
              examples:
                profitable_eth_liquidation:
                  summary: Profitable ETH liquidation with surplus
                  value:
                    success: true
                    data:
                      loanId: "loan_12345"
                      currentValuation:
                        collateralCurrency:
                          blockchainKey: "eip155:1"
                          tokenId: "slip44:60"
                          name: "Ethereum"
                          symbol: "ETH"
                          decimals: 18
                          logoUrl: "https://assets.cryptogadai.com/currencies/eth.png"
                        currentAmount: "3.571428571428571429"
                        currentMarketValue:
                          amount: "7500.000000000000000000"
                          currency:
                            blockchainKey: "eip155:56"
                            tokenId: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
                            name: "Binance-Peg USD Coin"
                            symbol: "USDC"
                            decimals: 18
                          exchangeRate: "2100.000000000000000000"
                          rateSource: "coinbase"
                          rateTimestamp: "2025-09-11T15:30:00Z"
                        currentLtvRatio: "66.67"
                        originalLtvRatio: "70.0"
                        ltvChange:
                          percentage: "-3.33"
                          direction: "improved"
                      liquidationBreakdown:
                        outstandingLoan:
                          principalAmount: "5000.000000000000000000"
                          interestAmount: "312.500000000000000000"
                          provisionFeeAmount: "150.000000000000000000"
                          totalLoanRepayment: "5462.500000000000000000"
                        liquidationFees:
                          earlyLiquidationFee: "54.625000000000000000"
                          earlyLiquidationFeeRate: "1.0"
                          marketLiquidationFee: "15.000000000000000000"
                          totalLiquidationFees: "69.625000000000000000"
                        totalDeductions: "5532.125000000000000000"
                        calculationDetails:
                          basedOnExchangeRate: "2100.000000000000000000"
                          rateSource: "coinbase"
                          rateTimestamp: "2025-09-11T15:30:00Z"
                      estimatedOutcome:
                        totalLiquidationProceeds: "7500.000000000000000000"
                        totalDeductions: "5532.125000000000000000"
                        estimatedSurplus: "1967.875000000000000000"
                        breakeven: true
                      calculationDate: "2025-09-11T15:30:00Z"
                      disclaimers:
                        - "Actual liquidation proceeds may vary due to market conditions"
                        - "Exchange rates are subject to change until execution"
                        - "Early liquidation fee of 1% is final and non-refundable"
                        - "Market slippage may reduce actual proceeds"
                risky_btc_liquidation:
                  summary: Risky BTC liquidation near breakeven
                  value:
                    success: true
                    data:
                      loanId: "loan_67890"
                      currentValuation:
                        collateralCurrency:
                          blockchainKey: "bip122:000000000019d6689c085ae165831e93"
                          tokenId: "slip44:0"
                          name: "Bitcoin"
                          symbol: "BTC"
                          decimals: 8
                          logoUrl: "https://assets.cryptogadai.com/currencies/btc.png"
                        currentAmount: "0.5"
                        currentMarketValue:
                          amount: "17000.000000000000000000"
                          currency:
                            blockchainKey: "eip155:56"
                            tokenId: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
                            name: "Binance-Peg USD Coin"
                            symbol: "USDC"
                            decimals: 18
                          exchangeRate: "34000.000000000000000000"
                          rateSource: "coinbase"
                          rateTimestamp: "2025-09-11T15:30:00Z"
                        currentLtvRatio: "88.24"
                        originalLtvRatio: "60.0"
                        ltvChange:
                          percentage: "+28.24"
                          direction: "worsened"
                      liquidationBreakdown:
                        outstandingLoan:
                          principalAmount: "15000.000000000000000000"
                          interestAmount: "1500.000000000000000000"
                          provisionFeeAmount: "450.000000000000000000"
                          totalLoanRepayment: "16950.000000000000000000"
                        liquidationFees:
                          earlyLiquidationFee: "169.500000000000000000"
                          earlyLiquidationFeeRate: "1.0"
                          marketLiquidationFee: "34.000000000000000000"
                          totalLiquidationFees: "203.500000000000000000"
                        totalDeductions: "17153.500000000000000000"
                        calculationDetails:
                          basedOnExchangeRate: "34000.000000000000000000"
                          rateSource: "coinbase"
                          rateTimestamp: "2025-09-11T15:30:00Z"
                      estimatedOutcome:
                        totalLiquidationProceeds: "17000.000000000000000000"
                        totalDeductions: "17153.500000000000000000"
                        estimatedSurplus: "-153.500000000000000000"
                        breakeven: false
                      calculationDate: "2025-09-11T15:30:00Z"
                      disclaimers:
                        - "WARNING: Estimated deficit of $153.50 - liquidation not profitable"
                        - "Consider adding more collateral to improve LTV ratio"
                        - "Market conditions may worsen before liquidation"
                        - "Platform will absorb any deficit per policy"
        '400':
          $ref: '#/components/responses/ValidationError'
        '403':
          description: User is not the borrower of this loan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: Loan not eligible for early liquidation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /loans/{id}/early-liquidation/request:
    post:
      tags: [Loans]
      summary: Request early liquidation
      description: |
        Submit a request for early liquidation of an active loan.
        
        **Process:**
        1. Validate loan eligibility and borrower ownership
        2. Calculate final liquidation amounts using current market rates
        3. Create liquidation record with 'Pending' status
        4. Queue liquidation processing for execution
        5. Send confirmation notification to borrower
        
        **Important Notes:**
        - Early liquidation fee: 1% of outstanding loan amount
        - All interest and origination fees are still charged in full
        - Any surplus after payment will be returned in USDT
        - Process is irreversible once submitted
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Loan ID to request early liquidation for
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EarlyLiquidationRequestPayload'
      responses:
        '201':
          description: Early liquidation request submitted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EarlyLiquidationRequestResponse'
              examples:
                eth_liquidation_success:
                  summary: ETH liquidation request successfully submitted
                  value:
                    success: true
                    data:
                      liquidationId: "liq_98765"
                      loanId: "loan_12345"
                      status: "Pending"
                      submittedDate: "2025-09-11T16:00:00Z"
                      estimatedCompletionTime: "2-4 hours"
                      finalBreakdown:
                        outstandingLoan:
                          principalAmount: "5000.000000000000000000"
                          interestAmount: "312.500000000000000000"
                          provisionFeeAmount: "150.000000000000000000"
                          totalLoanRepayment: "5462.500000000000000000"
                        liquidationFees:
                          earlyLiquidationFee: "54.625000000000000000"
                          earlyLiquidationFeeRate: "1.0"
                          marketLiquidationFee: "15.000000000000000000"
                          totalLiquidationFees: "69.625000000000000000"
                        totalDeductions: "5532.125000000000000000"
                        calculationDetails:
                          basedOnExchangeRate: "2100.000000000000000000"
                          rateSource: "coinbase"
                          rateTimestamp: "2025-09-11T15:59:45Z"
                      nextSteps:
                        - "Collateral (3.57 ETH) will be liquidated on the market"
                        - "Loan repayment ($5,462.50) will be processed"
                        - "Early liquidation fee (1%) will be deducted"
                        - "Estimated surplus ($1,967.88) will be credited to your account in USDT"
                        - "You will receive email confirmation when complete"
                    message: "Early liquidation request submitted successfully. Processing will begin shortly."
                btc_liquidation_deficit:
                  summary: BTC liquidation with potential deficit
                  value:
                    success: true
                    data:
                      liquidationId: "liq_11111"
                      loanId: "loan_67890"
                      status: "Pending"
                      submittedDate: "2025-09-11T16:30:00Z"
                      estimatedCompletionTime: "1-2 hours"
                      finalBreakdown:
                        outstandingLoan:
                          principalAmount: "15000.000000000000000000"
                          interestAmount: "1500.000000000000000000"
                          provisionFeeAmount: "450.000000000000000000"
                          totalLoanRepayment: "16950.000000000000000000"
                        liquidationFees:
                          earlyLiquidationFee: "169.500000000000000000"
                          earlyLiquidationFeeRate: "1.0"
                          marketLiquidationFee: "34.000000000000000000"
                          totalLiquidationFees: "203.500000000000000000"
                        totalDeductions: "17153.500000000000000000"
                        calculationDetails:
                          basedOnExchangeRate: "34000.000000000000000000"
                          rateSource: "coinbase"
                          rateTimestamp: "2025-09-11T16:29:30Z"
                      nextSteps:
                        - "Collateral (0.5 BTC) will be liquidated on the market"
                        - "Loan repayment ($16,950) will be processed"
                        - "Early liquidation fee (1%) will be deducted"
                        - "Any deficit will be absorbed by platform insurance fund"
                        - "No additional charges to borrower"
                        - "You will receive email confirmation when complete"
                    message: "Early liquidation request submitted. Note: Current market conditions may result in deficit, but no additional charges will apply."
        '400':
          $ref: '#/components/responses/ValidationError'
        '403':
          description: User is not the borrower of this loan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Early liquidation already in progress or loan not eligible
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Loan not eligible for early liquidation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /loans/{id}/early-repayment/request:
    post:
      tags: [Loans]
      summary: Request early loan repayment
      description: |
        Submit a request for early repayment of an active loan before maturity date.
        
        **Process:**
        1. Validate loan eligibility and borrower ownership
        2. Calculate full repayment amount (no pro-rata interest reduction)
        3. Create repayment invoice for full amount
        4. Record repayment request with initiator='Borrower'
        5. Send repayment invoice to borrower
        
        **Payment Terms (per SRS BR-008):**
        - Principal: Full loan amount
        - Interest: Full interest amount (no reduction for early payment)
        - Origination Fee: Full 3% of principal amount
        - Early Payment Fee: NONE (no additional fee)
        - Total Payment = Principal + Full Interest + Origination Fee
        
        **Important Notes:**
        - No early payment fee or penalty applied
        - Interest is charged in full regardless of early payment
        - Origination fee is charged in full
        - Payment processed through standard invoice system
        - Process is irreversible once submitted
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Loan ID to request early repayment for
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EarlyRepaymentRequestPayload'
      responses:
        '201':
          description: Early repayment request submitted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EarlyRepaymentRequestResponse'
              examples:
                eth_early_repayment:
                  summary: ETH loan early repayment request
                  value:
                    success: true
                    data:
                      repaymentId: "rep_77777"
                      loanId: "loan_12345"
                      status: "Pending"
                      submittedDate: "2025-09-11T17:00:00Z"
                      repaymentBreakdown:
                        loanDetails:
                          principalAmount: "5000.000000000000000000"
                          interestAmount: "312.500000000000000000"
                          provisionFeeAmount: "150.000000000000000000"
                          totalRepaymentAmount: "5462.500000000000000000"
                        paymentTerms:
                          earlyPaymentFee: "0.000000000000000000"
                          interestReduction: "0.000000000000000000"
                          paymentCurrency:
                            blockchainKey: "eip155:56"
                            tokenId: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
                            name: "Binance-Peg USD Coin"
                            symbol: "USDC"
                            decimals: 18
                        calculationDetails:
                          originalTermMonths: 6
                          earlyPaymentAtMonth: 1
                          remainingTermMonths: 5
                          calculationDate: "2025-09-11T17:00:00Z"
                        disclaimers:
                          - "Full interest amount is charged regardless of early payment"
                          - "Origination fee (3% of principal) is charged in full"
                          - "No early payment fee or penalty applies"
                          - "Payment must be made in full to complete early repayment"
                      repaymentInvoice:
                        id: "inv_early_77777"
                        amount: "5462.500000000000000000"
                        currency:
                          blockchainKey: "eip155:56"
                          tokenId: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
                          name: "Binance-Peg USD Coin"
                          symbol: "USDC"
                          decimals: 18
                        walletAddress: "0xaabbccddeeff1122334455667788990011223344"
                        expiryDate: "2025-09-18T17:00:00Z"
                        paidDate: null
                        expiredDate: null
                      nextSteps:
                        - "Payment invoice has been created for full repayment amount"
                        - "Pay the invoice ($5,462.50 USDT) to complete early repayment"
                        - "Collateral (3.57 ETH) will be released upon payment confirmation"
                        - "You will receive email confirmation when complete"
                        - "Savings: No early payment penalties applied"
                    message: "Early repayment request submitted successfully. Please pay the invoice to complete the repayment."
                btc_early_repayment:
                  summary: BTC loan early repayment request
                  value:
                    success: true
                    data:
                      repaymentId: "rep_88888"
                      loanId: "loan_67890"
                      status: "Pending"
                      submittedDate: "2025-09-11T18:00:00Z"
                      repaymentBreakdown:
                        loanDetails:
                          principalAmount: "15000.000000000000000000"
                          interestAmount: "1500.000000000000000000"
                          provisionFeeAmount: "450.000000000000000000"
                          totalRepaymentAmount: "16950.000000000000000000"
                        paymentTerms:
                          earlyPaymentFee: "0.000000000000000000"
                          interestReduction: "0.000000000000000000"
                          paymentCurrency:
                            blockchainKey: "eip155:56"
                            tokenId: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
                            name: "Binance-Peg USD Coin"
                            symbol: "USDC"
                            decimals: 18
                        calculationDetails:
                          originalTermMonths: 12
                          earlyPaymentAtMonth: 2
                          remainingTermMonths: 10
                          calculationDate: "2025-09-11T18:00:00Z"
                        disclaimers:
                          - "Full interest amount is charged regardless of early payment"
                          - "Origination fee (3% of principal) is charged in full"
                          - "No early payment fee or penalty applies"
                          - "Payment must be made in full to complete early repayment"
                      repaymentInvoice:
                        id: "inv_early_88888"
                        amount: "16950.000000000000000000"
                        currency:
                          blockchainKey: "eip155:56"
                          tokenId: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
                          name: "Binance-Peg USD Coin"
                          symbol: "USDC"
                          decimals: 18
                        walletAddress: "0x5566778899aabbccddeeff0011223344556677"
                        expiryDate: "2025-09-18T18:00:00Z"
                        paidDate: null
                        expiredDate: null
                      nextSteps:
                        - "Payment invoice has been created for full repayment amount"
                        - "Pay the invoice ($16,950.00 USDT) to complete early repayment"
                        - "Collateral (0.5 BTC) will be released upon payment confirmation"
                        - "You will receive email confirmation when complete"
                        - "Benefit: Avoid potential liquidation risk from market volatility"
                    message: "Early repayment request submitted successfully. Full payment will secure your collateral immediately."
        '400':
          $ref: '#/components/responses/ValidationError'
        '403':
          description: User is not the borrower of this loan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Early repayment already in progress or loan not eligible
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Loan not eligible for early repayment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  securitySchemes:
    apiKeyCookie:
      type: apiKey
      in: cookie
      name: apiKeyCookie
      description: Better Auth API Key authentication via cookie
    bearerAuth:
      type: http
      scheme: bearer
      description: Better Auth Bearer token authentication

  parameters:
    Page:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20

  schemas:
    # Loan Offer Schemas
    CreateLoanOfferRequest:
      type: object
      required:
        - principalBlockchainKey
        - principalTokenId
        - totalAmount
        - interestRate
        - termOptions
        - minLoanAmount
        - maxLoanAmount
        - liquidationMode
        - expirationDate
      properties:
        principalBlockchainKey:
          type: string
          description: Blockchain key for principal currency
          example: "eip155:1"
          maxLength: 64
        principalTokenId:
          type: string
          description: Token ID for principal currency
          example: "erc20:0xdac17f958d2ee523a2206206994597c13d831ec7"
          maxLength: 64
        totalAmount:
          type: string
          description: Total loan offer amount (18 decimal precision)
          pattern: '^\d+\.\d{18}$'
        interestRate:
          type: number
          description: Annual interest rate (percentage)
          minimum: 0
          maximum: 100
        termOptions:
          type: array
          items:
            type: integer
            enum: [1, 3, 6, 12]
        minLoanAmount:
          type: string
          description: Minimum loan amount (decimal places depending on principal currency)
          pattern: '^\d+\.\d{18}$'
        maxLoanAmount:
          type: string
          description: Maximum loan amount (decimal places depending on principal currency)
          pattern: '^\d+\.\d{18}$'
        liquidationMode:
          type: string
          enum: [Partial, Full]
        expirationDate:
          type: string
          format: date-time
          description: Optional expiration date for the offer

    UpdateLoanOfferRequest:
      type: object
      properties:
        action:
          type: string
          enum: [Close]
        closureReason:
          type: string

    LoanOfferResponse:
      type: object
      properties:
        id:
          type: string
        lenderId:
          type: string
        lender:
          $ref: '#/components/schemas/LenderInfo'
        principalCurrency:
          $ref: '#/components/schemas/Currency'
        totalAmount:
          type: string
        availableAmount:
          type: string
        disbursedAmount:
          type: string
        interestRate:
          type: number
        termOptions:
          type: array
          items:
            type: integer
        status:
          type: string
          description: Current offer status (derived from time-based fields and business logic)
          enum: [Draft, Published, Closed]
          readOnly: true
          writeOnly: false
        createdDate:
          type: string
          format: date-time
        publishedDate:
          type: string
          format: date-time
        fundingInvoice:
          $ref: '#/components/schemas/Invoice'

    LoanOfferListResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            offers:
              type: array
              items:
                $ref: '#/components/schemas/LoanOfferResponse'
            pagination:
              $ref: '#/components/schemas/PaginationMeta'

    # Loan Application Schemas
    LoanCalculationRequest:
      type: object
      required:
        - collateralBlockchainKey
        - collateralTokenId
        - principalBlockchainKey
        - principalTokenId
        - principalAmount
      properties:
        collateralBlockchainKey:
          type: string
          description: Blockchain key for collateral
          example: "eip155:1"
          maxLength: 64
        collateralTokenId:
          type: string
          description: Token ID for collateral
          example: "slip44:60"
          maxLength: 64
        principalBlockchainKey:
          type: string
          description: Blockchain key for principal currency
          example: "eip155:1"
          maxLength: 64
        principalTokenId:
          type: string
          description: Token ID for principal currency
          example: "erc20:0xdac17f958d2ee523a2206206994597c13d831ec7"
          maxLength: 64
        principalAmount:
          type: string
          pattern: '^\d+\.\d{18}$'

    LoanCalculationResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            requiredCollateralAmount:
              type: string
              description: Amount of collateral required (with safety buffer)
              pattern: '^\d+\.\d{18}$'
            exchangeRate:
              type: string
              description: Current exchange rate used for calculation
              pattern: '^\d+\.\d{18}$'
            collateralCurrency:
              $ref: '#/components/schemas/Currency'
            principalCurrency:
              $ref: '#/components/schemas/Currency'
            maxLtvRatio:
              type: number
              description: Maximum LTV ratio for this collateral type
              minimum: 0
              maximum: 1
            safetyBuffer:
              type: number
              description: Safety buffer percentage (typically 20%)
              minimum: 0
              maximum: 1
            calculationDetails:
              type: object
              properties:
                baseLoanAmount:
                  type: string
                  description: Base loan amount requested
                  pattern: '^\d+\.\d{18}$'
                baseCollateralValue:
                  type: string
                  description: Base collateral value without safety buffer
                  pattern: '^\d+\.\d{18}$'
                withSafetyBuffer:
                  type: string
                  description: Collateral value including safety buffer
                  pattern: '^\d+\.\d{18}$'
                currentExchangeRate:
                  type: string
                  description: Exchange rate at calculation time
                  pattern: '^\d+\.\d{18}$'
                rateSource:
                  type: string
                  description: Source of exchange rate data
                  example: "coinbase"
                rateTimestamp:
                  type: string
                  format: date-time
                  description: When the exchange rate was last updated

    CreateLoanApplicationRequest:
      type: object
      required:
        - collateralBlockchainKey
        - collateralTokenId
        - principalAmount
        - principalBlockchainKey
        - principalTokenId
        - maxInterestRate
        - termMonths
        - liquidationMode
      properties:
        collateralBlockchainKey:
          type: string
          description: Blockchain key for collateral
          example: "eip155:1"
          maxLength: 64
        collateralTokenId:
          type: string
          description: Token ID for collateral
          example: "slip44:60"
          maxLength: 64
        principalAmount:
          type: string
          pattern: '^\d+\.\d{18}$'
        principalBlockchainKey:
          type: string
          description: Blockchain key for principal currency
          example: "eip155:1"
          maxLength: 64
        principalTokenId:
          type: string
          description: Token ID for principal currency
          example: "erc20:0xdac17f958d2ee523a2206206994597c13d831ec7"
          maxLength: 64
        maxInterestRate:
          type: number
          minimum: 0
          maximum: 100
        termMonths:
          type: integer
          enum: [1, 3, 6, 12]
        liquidationMode:
          type: string
          enum: [Partial, Full]
        minLtvRatio:
          type: number
          minimum: 0
          maximum: 100

    UpdateLoanApplicationRequest:
      type: object
      properties:
        action:
          type: string
          enum: [Cancel]

    LoanApplicationResponse:
      type: object
      properties:
        id:
          type: string
        borrowerId:
          type: string
        collateralCurrency:
          type: string
        principalAmount:
          type: string
        status:
          type: string
          description: Current application status (derived from time-based fields and business logic)
          enum: [Draft, Published, Matched, Expired, Closed]
          readOnly: true
          writeOnly: false
        createdDate:
          type: string
          format: date-time
        publishedDate:
          type: string
          format: date-time
        expiryDate:
          type: string
          format: date-time
        collateralInvoice:
          $ref: '#/components/schemas/Invoice'

    LoanApplicationListResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            applications:
              type: array
              items:
                $ref: '#/components/schemas/LoanApplicationResponse'
            pagination:
              $ref: '#/components/schemas/PaginationMeta'

    # Loan Schemas
    LoanResponse:
      type: object
      properties:
        id:
          type: string
          description: Unique loan identifier
        borrowerId:
          type: string
          description: Borrower user identifier
        lenderId:
          type: string
          description: Lender user identifier
        principalCurrency:
          $ref: '#/components/schemas/Currency'
        principalAmount:
          type: string
          description: Loan principal amount
          pattern: '^\d+\.\d{18}$'
        collateralCurrency:
          $ref: '#/components/schemas/Currency'
        collateralAmount:
          type: string
          description: Collateral amount deposited
          pattern: '^\d+\.\d{18}$'
        interestRate:
          type: number
          description: Annual interest rate percentage
          minimum: 0
          maximum: 100
        termMonths:
          type: integer
          description: Loan term in months
          minimum: 1
          maximum: 12
        currentLtv:
          type: number
          description: Current loan-to-value ratio percentage
          minimum: 0
          maximum: 100
        maxLtvRatio:
          type: number
          description: Maximum allowed LTV ratio percentage
          minimum: 0
          maximum: 100
        status:
          type: string
          description: Current loan status (derived from time-based fields and business logic)
          enum: [Originated, Disbursed, Active, Repaid, Liquidated]
          readOnly: true
          writeOnly: false
        originationDate:
          type: string
          format: date-time
          description: When the loan was originated
        disbursementDate:
          type: string
          format: date-time
          description: When funds were disbursed to borrower
          nullable: true
        maturityDate:
          type: string
          format: date-time
          description: When the loan is due for repayment
          nullable: true
        repaidDate:
          type: string
          format: date-time
          description: When the loan was fully repaid
          nullable: true
        liquidationDate:
          type: string
          format: date-time
          description: When the collateral was liquidated
          nullable: true
        repaymentInvoice:
          $ref: '#/components/schemas/Invoice'
        loanBreakdown:
          type: object
          description: Detailed loan payment breakdown
          properties:
            principalAmount:
              type: string
              description: Original loan principal
              pattern: '^\d+\.\d{18}$'
            interestAmount:
              type: string
              description: Total interest amount
              pattern: '^\d+\.\d{18}$'
            provisionFeeAmount:
              type: string
              description: Origination fee (3% of principal)
              pattern: '^\d+\.\d{18}$'
            totalRepaymentAmount:
              type: string
              description: Total amount to repay
              pattern: '^\d+\.\d{18}$'

    LoanListResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            loans:
              type: array
              items:
                $ref: '#/components/schemas/LoanResponse'
            pagination:
              $ref: '#/components/schemas/PaginationMeta'

    # Valuation Schemas
    LoanValuationResponse:
      type: object
      properties:
        id:
          type: string
        loanId:
          type: string
        valuationDate:
          type: string
          format: date-time
        ltvRatio:
          type: number
        collateralValue:
          type: string
        exchangeRate:
          type: string

    LoanValuationListResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            valuations:
              type: array
              items:
                $ref: '#/components/schemas/LoanValuationResponse'
            pagination:
              $ref: '#/components/schemas/PaginationMeta'

    # Common Schemas
    LenderInfo:
      type: object
      properties:
        id:
          type: string
          description: Lender user identifier
          example: "user_67890"
        type:
          type: string
          enum: [Individual, Institution]
          description: Type of lender
          example: "Individual"
        name:
          type: string
          description: Lender display name (user.name for Individual, business_name for Institution)
          example: "John Doe"
        businessType:
          type: string
          description: Business type (only for Institution lenders)
          example: "PT"
          nullable: true
      required:
        - id
        - type
        - name
        - verified

    Currency:
      type: object
      properties:
        blockchainKey:
          type: string
          description: CAIP-2 compliant blockchain identifier
          example: "eip155:1"
          maxLength: 64
        tokenId:
          type: string
          description: Token identifier within the blockchain
          example: "slip44:60"
          maxLength: 64
        name:
          type: string
          description: Human-readable currency name
          example: "Ethereum"
        symbol:
          type: string
          description: Currency symbol/ticker
          example: "ETH"
        decimals:
          type: integer
          description: Number of decimal places for precision
          example: 18
          minimum: 0
          maximum: 18
        logoUrl:
          type: string
          format: uri
          description: URL to currency logo image
          example: "https://assets.cryptogadai.com/currencies/eth.png"
      required:
        - blockchainKey
        - tokenId
        - name
        - symbol
        - decimals

    Invoice:
      type: object
      properties:
        id:
          type: string
        amount:
          type: string
          description: Invoice amount with decimal precision
          pattern: '^\d+\.\d{18}$'
        currency:
          $ref: '#/components/schemas/Currency'
        walletAddress:
          type: string
          description: Payment wallet address
        expiryDate:
          type: string
          format: date-time
        # Status is derived from time-based fields
        paidDate:
          type: string
          format: date-time
          nullable: true
        expiredDate:
          type: string
          format: date-time
          nullable: true
      required:
        - id
        - amount
        - currency
        - walletAddress
        - expiryDate

    PaginationMeta:
      type: object
      properties:
        page:
          type: integer
          description: Current page number (1-based)
          example: 1
          minimum: 1
        limit:
          type: integer
          description: Number of items per page
          example: 20
          minimum: 1
          maximum: 100
        total:
          type: integer
          description: Total number of items across all pages
          example: 150
          minimum: 0
        totalPages:
          type: integer
          description: Total number of pages
          example: 8
          minimum: 0
        hasNext:
          type: boolean
          description: Whether there are more pages after current
          example: true
        hasPrev:
          type: boolean
          description: Whether there are pages before current
          example: false
      required:
        - page
        - limit
        - total
        - totalPages
        - hasNext
        - hasPrev

    # Early Liquidation Schemas
    EarlyLiquidationEstimateResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            loanId:
              type: string
              description: Loan identifier
              example: "12345"
            currentValuation:
              $ref: '#/components/schemas/CollateralValuation'
            liquidationBreakdown:
              $ref: '#/components/schemas/LiquidationBreakdown'
            estimatedOutcome:
              type: object
              properties:
                totalLiquidationProceeds:
                  type: string
                  description: Total USDT from collateral liquidation
                  example: "12500.000000000000000000"
                  pattern: '^\d+\.\d{18}$'
                totalDeductions:
                  type: string
                  description: Total amount deducted (loan + interest + fees)
                  example: "10900.000000000000000000"
                  pattern: '^\d+\.\d{18}$'
                estimatedSurplus:
                  type: string
                  description: Estimated surplus returned to borrower in USDT
                  example: "1600.000000000000000000"
                  pattern: '^\d+\.\d{18}$'
                breakeven:
                  type: boolean
                  description: Whether liquidation will break even or result in deficit
                  example: true
            calculationDate:
              type: string
              format: date-time
              description: When this estimate was calculated
              example: "2025-08-13T15:30:00Z"
            disclaimers:
              type: array
              items:
                type: string
              description: Important disclaimers about the estimate
              example:
                - "Actual liquidation proceeds may vary due to market conditions"
                - "Exchange rates are subject to change until execution"
                - "Early liquidation fee of 1% is final and non-refundable"
      required:
        - success
        - data

    EarlyLiquidationRequestPayload:
      type: object
      properties:
        acknowledgment:
          type: boolean
          description: Borrower acknowledges terms and conditions
          example: true
        # [TBD] we don't do 2FA yet
        # twoFactorCode:
        #   type: string
        #   description: 2FA authentication code (if enabled)
        #   example: "123456"
        # confirmationMessage:
        #   type: string
        #   description: Confirmation message for irreversible action
        #   example: "I understand this action is irreversible and agree to proceed"
      required:
        - acknowledgment

    EarlyLiquidationRequestResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            liquidationId:
              type: string
              description: Unique liquidation request identifier
              example: "liq_67890"
            loanId:
              type: string
              description: Associated loan identifier
              example: "12345"
            status:
              type: string
              enum: [Pending, Processing, Fulfilled, Failed]
              description: Current liquidation status
              example: "Pending"
            submittedDate:
              type: string
              format: date-time
              description: When the liquidation request was submitted
              example: "2025-08-13T15:30:00Z"
            estimatedCompletionTime:
              type: string
              description: Estimated completion time for liquidation
              example: "2-4 hours"
            finalBreakdown:
              $ref: '#/components/schemas/LiquidationBreakdown'
            nextSteps:
              type: array
              items:
                type: string
              description: What happens next in the process
              example:
                - "Collateral will be liquidated on the market"
                - "Loan payment will be processed"
                - "Any surplus will be credited to your account"
                - "You will receive email confirmation when complete"
        message:
          type: string
          description: Confirmation message
          example: "Early liquidation request submitted successfully"
      required:
        - success
        - data
        - message

    # Early Repayment Schemas
    EarlyRepaymentRequestPayload:
      type: object
      properties:
        acknowledgment:
          type: boolean
          description: Borrower acknowledges terms and conditions
          example: true
        # [TBD] we don't do 2FA yet
        # twoFactorCode:
        #   type: string
        #   description: 2FA authentication code (if enabled)
        #   example: "123456"
        # confirmationMessage:
        #   type: string
        #   description: Confirmation message for repayment request
        #   example: "I understand I will pay the full interest and origination fee even for early repayment"
      required:
        - acknowledgment

    EarlyRepaymentRequestResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            repaymentId:
              type: string
              description: Unique repayment request identifier
              example: "rep_12345"
            loanId:
              type: string
              description: Associated loan identifier
              example: "12345"
            status:
              type: string
              enum: [Pending, Processing, Completed, Failed]
              description: Current repayment status
              example: "Pending"
            submittedDate:
              type: string
              format: date-time
              description: When the repayment request was submitted
              example: "2025-08-13T15:30:00Z"
            repaymentBreakdown:
              $ref: '#/components/schemas/RepaymentBreakdown'
            repaymentInvoice:
              $ref: '#/components/schemas/Invoice'
            nextSteps:
              type: array
              items:
                type: string
              description: What happens next in the process
              example:
                - "Payment invoice has been created"
                - "Pay the invoice to complete early repayment"
                - "Collateral will be released upon payment confirmation"
                - "You will receive email confirmation when complete"
        message:
          type: string
          description: Confirmation message
          example: "Early repayment request submitted successfully"
      required:
        - success
        - data
        - message

    RepaymentBreakdown:
      type: object
      properties:
        loanDetails:
          type: object
          properties:
            principalAmount:
              type: string
              description: Original loan principal
              example: "10000.000000000000000000"
              pattern: '^\\d+\\.\\d{18}$'
            interestAmount:
              type: string
              description: Full interest amount (no reduction for early payment)
              example: "600.000000000000000000"
              pattern: '^\\d+\\.\\d{18}$'
            provisionFeeAmount:
              type: string
              description: Origination fee (3% of principal)
              example: "300.000000000000000000"
              pattern: '^\\d+\\.\\d{18}$'
            totalRepaymentAmount:
              type: string
              description: Total repayment amount
              example: "10900.000000000000000000"
              pattern: '^\\d+\\.\\d{18}$'
        paymentTerms:
          type: object
          properties:
            earlyPaymentFee:
              type: string
              description: Early payment fee (always 0 per SRS BR-008)
              example: "0.000000000000000000"
              pattern: '^\\d+\\.\\d{18}$'
            interestReduction:
              type: string
              description: Interest reduction (always 0 per SRS BR-008)
              example: "0.000000000000000000"
              pattern: '^\\d+\\.\\d{18}$'
            paymentCurrency:
              $ref: '#/components/schemas/Currency'
        calculationDetails:
          type: object
          properties:
            originalTermMonths:
              type: integer
              description: Original loan term in months
              example: 6
            earlyPaymentAtMonth:
              type: integer
              description: Month when early payment is being made
              example: 3
            remainingTermMonths:
              type: integer
              description: Remaining months until maturity
              example: 3
            calculationDate:
              type: string
              format: date-time
              description: When this calculation was made
              example: "2025-08-13T15:30:00Z"
        disclaimers:
          type: array
          items:
            type: string
          description: Important disclaimers about early repayment
          example:
            - "Full interest amount is charged regardless of early payment"
            - "Origination fee (3% of principal) is charged in full"
            - "No early payment fee or penalty applies"
            - "Payment must be made in full to complete early repayment"
      required:
        - loanDetails
        - paymentTerms
        - calculationDetails

    LiquidationBreakdown:
      type: object
      properties:
        outstandingLoan:
          type: object
          properties:
            principalAmount:
              type: string
              description: Original loan principal
              example: "10000.000000000000000000"
              pattern: '^\d+\.\d{18}$'
            interestAmount:
              type: string
              description: Total interest amount (full term)
              example: "600.000000000000000000"
              pattern: '^\d+\.\d{18}$'
            provisionFeeAmount:
              type: string
              description: Origination fee (3% of principal)
              example: "300.000000000000000000"
              pattern: '^\d+\.\d{18}$'
            totalLoanRepayment:
              type: string
              description: Total loan repayment amount
              example: "10900.000000000000000000"
              pattern: '^\d+\.\d{18}$'
        liquidationFees:
          type: object
          properties:
            earlyLiquidationFee:
              type: string
              description: Early liquidation fee (1% of outstanding loan)
              example: "109.000000000000000000"
              pattern: '^\d+\.\d{18}$'
            earlyLiquidationFeeRate:
              type: string
              description: Early liquidation fee rate
              example: "1.0"
            marketLiquidationFee:
              type: string
              description: Market execution fee
              example: "25.000000000000000000"
              pattern: '^\d+\.\d{18}$'
            totalLiquidationFees:
              type: string
              description: Total liquidation fees
              example: "134.000000000000000000"
              pattern: '^\d+\.\d{18}$'
        totalDeductions:
          type: string
          description: Total amount to be deducted
          example: "11034.000000000000000000"
          pattern: '^\d+\.\d{18}$'
        calculationDetails:
          type: object
          properties:
            basedOnExchangeRate:
              type: string
              description: Exchange rate used for calculation
              example: "2500.000000000000000000"
            rateSource:
              type: string
              description: Source of exchange rate
              example: "coinbase"
            rateTimestamp:
              type: string
              format: date-time
              description: When the rate was retrieved
              example: "2025-08-13T15:29:45Z"
      required:
        - outstandingLoan
        - liquidationFees
        - totalDeductions
        - calculationDetails

    CollateralValuation:
      type: object
      properties:
        collateralCurrency:
          $ref: '#/components/schemas/Currency'
        currentAmount:
          type: string
          description: Current collateral amount
          example: "5.000000000000000000"
          pattern: '^\d+\.\d{18}$'
        currentMarketValue:
          type: object
          properties:
            amount:
              type: string
              description: Current market value in USDT
              example: "12500.000000000000000000"
              pattern: '^\d+\.\d{18}$'
            currency:
              $ref: '#/components/schemas/Currency'
            exchangeRate:
              type: string
              description: Current exchange rate (collateral/USDT)
              example: "2500.000000000000000000"
            rateSource:
              type: string
              description: Source of exchange rate
              example: "coinbase"
            rateTimestamp:
              type: string
              format: date-time
              description: When the rate was retrieved
              example: "2025-08-13T15:29:45Z"
        currentLtvRatio:
          type: string
          description: Current loan-to-value ratio
          example: "87.2"
        originalLtvRatio:
          type: string
          description: Original loan-to-value ratio at loan origination
          example: "70.0"
        ltvChange:
          type: object
          properties:
            percentage:
              type: string
              description: Change in LTV since origination
              example: "+17.2"
            direction:
              type: string
              enum: [improved, worsened, stable]
              description: Direction of LTV change
              example: "worsened"
      required:
        - collateralCurrency
        - currentAmount
        - currentMarketValue
        - currentLtvRatio
        - originalLtvRatio
        - ltvChange

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          properties:
            code:
              type: string
              description: Error code
              example: "VALIDATION_ERROR"
            message:
              type: string
              description: Human-readable error message
              example: "Request validation failed"
            details:
              type: object
              description: Additional error details
              additionalProperties: true
        timestamp:
          type: string
          format: date-time
          example: "2025-08-13T15:30:00Z"
        requestId:
          type: string
          format: uuid
          description: Request ID for tracking
      required:
        - success
        - error
        - timestamp

  responses:
    ValidationError:
      description: Validation error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: VALIDATION_ERROR
            requestId: req_abc123

    InsufficientBalance:
      description: Insufficient balance
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: INSUFFICIENT_BALANCE
            requestId: req_abc123

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: NOT_FOUND
            requestId: req_abc123
