openapi: 3.0.3
info:
  title: CryptoGadai Loan Market API
  version: 1.0.0
  description: |
    Complete API specification for the CryptoGadai loan marketplace system.
    
    This API handles the pre-agreement phase of loan operations:
    - Loan offer creation and management
    - Loan application submission and tracking
    - Loan matching and marketplace activities
    
servers:
  - url: https://api.cryptogadai.com
    description: Production server
  - url: https://cg-api.fh47.com
    description: Testing server
  - url: http://cg-api.localhost
    description: Local development server

security:
  - apiKeyCookie: []
  - bearerAuth: []

tags:
  - name: Loan Offers
    description: Lender loan offer management
  - name: Loan Applications
    description: Borrower loan application management

paths:
  # Loan Offers
  /api/loan-offers:
    post:
      tags: [Loan Offers]
      summary: Create new loan offer
      description: |
        Create a new loan offer with specified terms. The offer will be unpublished 
        until the principal funding invoice is paid.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLoanOfferRequest'
            example:
              principalBlockchainKey: "eip155:56"
              principalTokenId: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
              totalAmount: "10000.000000000000000000"
              interestRate: 12.5
              termOptions: [3, 6]
              minLoanAmount: "1000.000000000000000000"
              maxLoanAmount: "10000.000000000000000000"
              expirationDate: "2025-12-31T23:59:59Z"
      responses:
        '201':
          description: Loan offer created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoanOfferResponse'
              examples:
                individual_offer_created:
                  summary: Individual lender loan offer created
                  value:
                    success: true
                    data:
                      id: "12345"
                      lenderId: "user_67890"
                      lender:
                        id: "user_67890"
                        type: "Individual"
                        name: "John Doe"
                      principalCurrency:
                        blockchainKey: "eip155:56"
                        tokenId: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
                        name: "Binance-Peg USD Coin"
                        symbol: "USDC"
                        decimals: 18
                        logoUrl: "https://assets.cryptogadai.com/currencies/usdc.png"
                      totalAmount: "10000.000000000000000000"
                      availableAmount: "10000.000000000000000000"
                      disbursedAmount: "0.000000000000000000"
                      interestRate: 12.5
                      termOptions: [3, 6]
                      status: "Published"
                      createdDate: "2025-09-11T10:30:00Z"
                      publishedDate: "2025-09-11T10:45:00Z"
                      fundingInvoice:
                        id: "inv_12345"
                        amount: "10000.000000000000000000"
                        currency:
                          blockchainKey: "eip155:56"
                          tokenId: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
                          name: "Binance-Peg USD Coin"
                          symbol: "USDC"
                          decimals: 18
                        walletAddress: "0x742d35cc1234567890abcdef1234567890abcdef"
                        expiryDate: "2025-09-18T10:30:00Z"
                        paidDate: "2025-09-11T10:45:00Z"
                        expiredDate: null
                company_offer_created:
                  summary: Company lender large loan offer created
                  value:
                    success: true
                    data:
                      id: "54321"
                      lenderId: "company_13579"
                      lender:
                        id: "company_13579"
                        type: "Institution"
                        name: "PT Fintech Solutions"
                        businessType: "PT"
                      principalCurrency:
                        blockchainKey: "eip155:56"
                        tokenId: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
                        name: "Binance-Peg USD Coin"
                        symbol: "USDC"
                        decimals: 18
                        logoUrl: "https://assets.cryptogadai.com/currencies/usdc.png"
                      totalAmount: "100000.000000000000000000"
                      availableAmount: "100000.000000000000000000"
                      disbursedAmount: "0.000000000000000000"
                      interestRate: 10.0
                      termOptions: [1, 3, 6, 12]
                      status: "Published"
                      createdDate: "2025-09-11T09:00:00Z"
                      publishedDate: "2025-09-11T09:15:00Z"
                      fundingInvoice:
                        id: "inv_54321"
                        amount: "100000.000000000000000000"
                        currency:
                          blockchainKey: "eip155:56"
                          tokenId: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
                          name: "Binance-Peg USD Coin"
                          symbol: "USDC"
                          decimals: 18
                        walletAddress: "0x742d35cc9876543210fedcba9876543210fedcba"
                        expiryDate: "2025-09-18T09:00:00Z"
                        paidDate: "2025-09-11T09:15:00Z"
                        expiredDate: null
        '400':
          $ref: '#/components/responses/ValidationError'
        '409':
          $ref: '#/components/responses/InsufficientBalance'

    get:
      tags: [Loan Offers]
      summary: List available loan offers
      description: Retrieve paginated list of published loan offers available for matching
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - name: collateralBlockchainKey
          in: query
          schema:
            type: string
            description: Filter by collateral blockchain key
        - name: collateralTokenId
          in: query
          schema:
            type: string
            description: Filter by collateral token ID
        - name: principalBlockchainKey
          in: query
          schema:
            type: string
            description: Filter by principal blockchain key
        - name: principalTokenId
          in: query
          schema:
            type: string
            description: Filter by principal token ID
        - name: lenderUserType
          in: query
          schema:
            type: string
            enum: [All, Individual, Institution]
            description: Filter by lender user type
        - name: minAvailablePrincipalAmount
          in: query
          schema:
            type: string
            format: decimal
            description: Min available supply
        - name: maxAvailablePrincipalAmount
          in: query
          schema:
            type: string
            format: decimal
            description: Max available supply
        - name: minInterestRate
          in: query
          schema:
            type: number
            format: float
            description: Min interest rate percentage
        - name: maxInterestRate
          in: query
          schema:
            type: number
            format: float
            description: Max interest rate percentage
        - name: termMonths
          in: query
          schema:
            type: integer
            description: Filter by available term in months
        - name: keyword
          in: query
          schema:
            type: string
            description: Keyword search in lender name
      responses:
        '200':
          description: List of loan offers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoanOfferListResponse'
              examples:
                mixed_offers_listing:
                  summary: Mixed loan offers from individual and company lenders
                  value:
                    success: true
                    data:
                      offers:
                        - id: "12345"
                          lenderId: "user_67890"
                          lender:
                            id: "user_67890"
                            type: "Individual"
                            name: "John Doe"
                          principalCurrency:
                            blockchainKey: "eip155:56"
                            tokenId: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
                            name: "Binance-Peg USD Coin"
                            symbol: "USDC"
                            decimals: 18
                            logoUrl: "https://assets.cryptogadai.com/currencies/usdc.png"
                          totalAmount: "10000.000000000000000000"
                          availableAmount: "7500.000000000000000000"
                          disbursedAmount: "2500.000000000000000000"
                          interestRate: 12.5
                          termOptions: [3, 6]
                          status: "Published"
                          createdDate: "2025-09-10T10:30:00Z"
                          publishedDate: "2025-09-10T10:45:00Z"
                        - id: "54321"
                          lenderId: "company_13579"
                          lender:
                            id: "company_13579"
                            type: "Institution"
                            name: "PT Fintech Solutions"
                            businessType: "PT"
                          principalCurrency:
                            blockchainKey: "eip155:56"
                            tokenId: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
                            name: "Binance-Peg USD Coin"
                            symbol: "USDC"
                            decimals: 18
                            logoUrl: "https://assets.cryptogadai.com/currencies/usdc.png"
                          totalAmount: "100000.000000000000000000"
                          availableAmount: "85000.000000000000000000"
                          disbursedAmount: "15000.000000000000000000"
                          interestRate: 10.0
                          termOptions: [1, 3, 6, 12]
                          status: "Published"
                          createdDate: "2025-09-09T09:00:00Z"
                          publishedDate: "2025-09-09T09:15:00Z"
                        - id: "67890"
                          lenderId: "user_24680"
                          lender:
                            id: "user_24680"
                            type: "Individual"
                            name: "Sarah Chen"
                          principalCurrency:
                            blockchainKey: "eip155:56"
                            tokenId: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
                            name: "Binance-Peg USD Coin"
                            symbol: "USDC"
                            decimals: 18
                            logoUrl: "https://assets.cryptogadai.com/currencies/usdc.png"
                          totalAmount: "25000.000000000000000000"
                          availableAmount: "25000.000000000000000000"
                          disbursedAmount: "0.000000000000000000"
                          interestRate: 14.0
                          termOptions: [1, 3]
                          status: "Published"
                          createdDate: "2025-09-11T14:20:00Z"
                          publishedDate: "2025-09-11T14:35:00Z"
                      pagination:
                        page: 1
                        limit: 20
                        total: 3
                        totalPages: 1
                        hasNext: false
                        hasPrev: false

  /api/loan-offers/my-offers:
    get:
      tags: [Loan Offers]
      summary: Get my loan offers
      description: Retrieve all loan offers created by the authenticated lender
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Lender's loan offers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoanOfferListResponse'

  /api/loan-offers/{id}:
    patch:
      tags: [Loan Offers]
      summary: Update loan offer
      description: Update loan offer status (close)
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLoanOfferRequest'
      responses:
        '200':
          description: Loan offer updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoanOfferResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    get:
      tags: [Loan Offers]
      summary: Get loan offer details
      description: Retrieve detailed information about a specific loan offer
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Loan offer details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoanOfferResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  # Loan Applications
  /api/loan-applications/calculate:
    post:
      tags: [Loan Applications]
      summary: Calculate loan application requirements
      description: |
        Calculate required collateral amount and generate preview for loan application.
        Requires authenticated user with valid KYC status.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanCalculationRequest'
      responses:
        '200':
          description: Loan calculation results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoanCalculationResponse'
              examples:
                eth_collateral_result:
                  summary: ETH collateral calculation result
                  value:
                    success: true
                    data:
                      requiredCollateralAmount: "8.571428571428571428"
                      exchangeRate: "2100.000000000000000000"
                      collateralCurrency:
                        blockchainKey: "eip155:1"
                        tokenId: "slip44:60"
                        name: "Ethereum"
                        symbol: "ETH"
                        decimals: 18
                        logoUrl: "https://assets.cryptogadai.com/currencies/eth.png"
                      principalCurrency:
                        blockchainKey: "eip155:56"
                        tokenId: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
                        name: "Binance-Peg USD Coin"
                        symbol: "USDC"
                        decimals: 18
                        logoUrl: "https://assets.cryptogadai.com/currencies/usdc.png"
                      maxLtvRatio: 0.7
                      safetyBuffer: 0.2
                      calculationDetails:
                        baseLoanAmount: "10000.000000000000000000"
                        baseCollateralValue: "14285.714285714285714286"
                        withSafetyBuffer: "17142.857142857142857143"
                        currentExchangeRate: "2100.000000000000000000"
                        rateSource: "coinbase"
                        rateTimestamp: "2025-09-11T15:30:00Z"
                btc_collateral_result:
                  summary: BTC collateral calculation result
                  value:
                    success: true
                    data:
                      requiredCollateralAmount: "1.666666666666666667"
                      exchangeRate: "60000.000000000000000000"
                      collateralCurrency:
                        blockchainKey: "bip122:000000000019d6689c085ae165831e93"
                        tokenId: "slip44:0"
                        name: "Bitcoin"
                        symbol: "BTC"
                        decimals: 8
                        logoUrl: "https://assets.cryptogadai.com/currencies/btc.png"
                      principalCurrency:
                        blockchainKey: "eip155:56"
                        tokenId: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
                        name: "Binance-Peg USD Coin"
                        symbol: "USDC"
                        decimals: 18
                        logoUrl: "https://assets.cryptogadai.com/currencies/usdc.png"
                      maxLtvRatio: 0.6
                      safetyBuffer: 0.2
                      calculationDetails:
                        baseLoanAmount: "50000.000000000000000000"
                        baseCollateralValue: "83333.333333333333333333"
                        withSafetyBuffer: "100000.000000000000000000"
                        currentExchangeRate: "60000.000000000000000000"
                        rateSource: "coinbase"
                        rateTimestamp: "2025-09-11T15:30:00Z"
        '400':
          $ref: '#/components/responses/ValidationError'

  /api/loan-applications:
    post:
      tags: [Loan Applications]
      summary: Create loan application
      description: |
        Create a new loan application. Requires collateral deposit to be published.
        Requires authenticated user with valid KYC status and user type validation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLoanApplicationRequest'
            example:
              collateralBlockchainKey: "eip155:1"
              collateralTokenId: "slip44:60"
              principalAmount: "5000.000000000000000000"
              maxInterestRate: 15
              termMonths: 6
              liquidationMode: "Full"
              minLtvRatio: 0.5
            examples:
              eth_collateral_application:
                summary: Loan application with ETH collateral
                value:
                  collateralBlockchainKey: "eip155:1"
                  collateralTokenId: "slip44:60"
                  principalAmount: "5000.000000000000000000"
                  principalBlockchainKey: "eip155:56"
                  principalTokenId: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
                  maxInterestRate: 15.0
                  termMonths: 6
                  liquidationMode: "Full"
                  minLtvRatio: 0.5
              btc_collateral_large_loan:
                summary: Large loan application with BTC collateral
                value:
                  collateralBlockchainKey: "bip122:000000000019d6689c085ae165831e93"
                  collateralTokenId: "slip44:0"
                  principalAmount: "25000.000000000000000000"
                  principalBlockchainKey: "eip155:56"
                  principalTokenId: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
                  maxInterestRate: 12.0
                  termMonths: 12
                  liquidationMode: "Partial"
                  minLtvRatio: 0.4
              sol_collateral_short_term:
                summary: Short-term loan with SOL collateral
                value:
                  collateralBlockchainKey: "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp"
                  collateralTokenId: "slip44:501"
                  principalAmount: "2000.000000000000000000"
                  principalBlockchainKey: "eip155:56"
                  principalTokenId: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
                  maxInterestRate: 18.0
                  termMonths: 1
                  liquidationMode: "Full"
                  minLtvRatio: 0.3
      responses:
        '201':
          description: Loan application created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoanApplicationResponse'
              examples:
                eth_application_created:
                  summary: ETH collateral loan application created
                  value:
                    success: true
                    data:
                      id: "app_78901"
                      borrowerId: "user_54321"
                      collateralCurrency:
                        blockchainKey: "eip155:1"
                        tokenId: "slip44:60"
                        name: "Ethereum"
                        symbol: "ETH"
                        decimals: 18
                        logoUrl: "https://assets.cryptogadai.com/currencies/eth.png"
                      principalAmount: "5000.000000000000000000"
                      status: "PendingCollateral"
                      createdDate: "2025-09-11T16:00:00Z"
                      publishedDate: null
                      expiryDate: "2025-09-18T16:00:00Z"
                      collateralInvoice:
                        id: "inv_78901"
                        amount: "3.571428571428571429"
                        currency:
                          blockchainKey: "eip155:1"
                          tokenId: "slip44:60"
                          name: "Ethereum"
                          symbol: "ETH"
                          decimals: 18
                        walletAddress: "0x1a2b3c4d5e6f7890abcdef1234567890abcdef12"
                        expiryDate: "2025-09-18T16:00:00Z"
                        paidDate: null
                        expiredDate: null
                btc_application_created:
                  summary: BTC collateral loan application created
                  value:
                    success: true
                    data:
                      id: "app_23456"
                      borrowerId: "user_98765"
                      collateralCurrency:
                        blockchainKey: "bip122:000000000019d6689c085ae165831e93"
                        tokenId: "slip44:0"
                        name: "Bitcoin"
                        symbol: "BTC"
                        decimals: 8
                        logoUrl: "https://assets.cryptogadai.com/currencies/btc.png"
                      principalAmount: "25000.000000000000000000"
                      status: "PendingCollateral"
                      createdDate: "2025-09-11T17:00:00Z"
                      publishedDate: null
                      expiryDate: "2025-09-18T17:00:00Z"
                      collateralInvoice:
                        id: "inv_23456"
                        amount: "0.83333333"
                        currency:
                          blockchainKey: "bip122:000000000019d6689c085ae165831e93"
                          tokenId: "slip44:0"
                          name: "Bitcoin"
                          symbol: "BTC"
                          decimals: 8
                        walletAddress: "bc1qxy2kgdygjrsqtzq2n0yrf2493p83kkfjhx0wlh"
                        expiryDate: "2025-09-18T17:00:00Z"
                        paidDate: null
                        expiredDate: null
        '400':
          $ref: '#/components/responses/ValidationError'
        '409':
          $ref: '#/components/responses/InsufficientBalance'

    get:
      tags: [Loan Applications]
      summary: List loan applications
      description: Retrieve paginated list of published loan applications available for matching
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - name: collateralBlockchainKey
          in: query
          schema:
            type: string
            description: Filter by collateral blockchain key
        - name: collateralTokenId
          in: query
          schema:
            type: string
            description: Filter by collateral token ID
        - name: principalBlockchainKey
          in: query
          schema:
            type: string
            description: Filter by principal blockchain key
        - name: principalTokenId
          in: query
          schema:
            type: string
            description: Filter by principal token ID
        - name: minPrincipalAmount
          in: query
          schema:
            type: string
            format: decimal
            description: Min principal amount
        - name: maxPrincipalAmount
          in: query
          schema:
            type: string
            format: decimal
            description: Max principal amount
        - name: minInterestRate
          in: query
          schema:
            type: number
            format: float
            description: Min interest rate percentage
        - name: maxInterestRate
          in: query
          schema:
            type: number
            format: float
            description: Max interest rate percentage
        - name: termMonths
          in: query
          schema:
            type: integer
            description: Filter by term in months
        - name: liquidationMode
          in: query
          schema:
            type: string
            enum: [Partial, Full]
            description: Filter by liquidation mode
        - name: keyword
          in: query
          schema:
            type: string
            description: Keyword search in borrower name
      responses:
        '200':
          description: List of loan applications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoanApplicationListResponse'
              examples:
                mixed_applications_listing:
                  summary: Mixed loan applications from different borrowers
                  value:
                    success: true
                    data:
                      applications:
                        - id: "app_78901"
                          borrowerId: "user_54321"
                          borrower:
                            id: "user_54321"
                            type: "Individual"
                            name: "Alice Johnson"
                          collateralCurrency:
                            blockchainKey: "eip155:1"
                            tokenId: "slip44:60"
                            name: "Ethereum"
                            symbol: "ETH"
                            decimals: 18
                            logoUrl: "https://assets.cryptogadai.com/currencies/eth.png"
                          principalCurrency:
                            blockchainKey: "eip155:56"
                            tokenId: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
                            name: "Binance-Peg USD Coin"
                            symbol: "USDC"
                            decimals: 18
                            logoUrl: "https://assets.cryptogadai.com/currencies/usdc.png"
                          principalAmount: "5000.000000000000000000"
                          maxInterestRate: 15.0
                          termMonths: 6
                          liquidationMode: "Full"
                          status: "Published"
                          createdDate: "2025-09-11T16:00:00Z"
                          publishedDate: "2025-09-11T16:15:00Z"
                          expiryDate: "2025-09-18T16:00:00Z"
                        - id: "app_23456"
                          borrowerId: "user_98765"
                          borrower:
                            id: "user_98765"
                            type: "Individual"
                            name: "Bob Smith"
                          collateralCurrency:
                            blockchainKey: "bip122:000000000019d6689c085ae165831e93"
                            tokenId: "slip44:0"
                            name: "Bitcoin"
                            symbol: "BTC"
                            decimals: 8
                            logoUrl: "https://assets.cryptogadai.com/currencies/btc.png"
                          principalCurrency:
                            blockchainKey: "eip155:56"
                            tokenId: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
                            name: "Binance-Peg USD Coin"
                            symbol: "USDC"
                            decimals: 18
                            logoUrl: "https://assets.cryptogadai.com/currencies/usdc.png"
                          principalAmount: "25000.000000000000000000"
                          maxInterestRate: 12.0
                          termMonths: 12
                          liquidationMode: "Partial"
                          status: "Published"
                          createdDate: "2025-09-11T17:00:00Z"
                          publishedDate: "2025-09-11T17:15:00Z"
                          expiryDate: "2025-09-18T17:00:00Z"
                        - id: "app_34567"
                          borrowerId: "user_11111"
                          borrower:
                            id: "user_11111"
                            type: "Individual"
                            name: "Carol Davis"
                          collateralCurrency:
                            blockchainKey: "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp"
                            tokenId: "slip44:501"
                            name: "Solana"
                            symbol: "SOL"
                            decimals: 9
                            logoUrl: "https://assets.cryptogadai.com/currencies/sol.png"
                          principalCurrency:
                            blockchainKey: "eip155:56"
                            tokenId: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
                            name: "Binance-Peg USD Coin"
                            symbol: "USDC"
                            decimals: 18
                            logoUrl: "https://assets.cryptogadai.com/currencies/usdc.png"
                          principalAmount: "2000.000000000000000000"
                          maxInterestRate: 18.0
                          termMonths: 1
                          liquidationMode: "Full"
                          status: "Published"
                          createdDate: "2025-09-11T18:00:00Z"
                          publishedDate: "2025-09-11T18:10:00Z"
                          expiryDate: "2025-09-18T18:00:00Z"
                      pagination:
                        page: 1
                        limit: 20
                        total: 3
                        totalPages: 1
                        hasNext: false
                        hasPrev: false

  /api/loan-applications/my-applications:
    get:
      tags: [Loan Applications]
      summary: Get my loan applications
      description: Retrieve all loan applications created by the authenticated borrower
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Borrower's loan applications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoanApplicationListResponse'

  /api/loan-applications/{id}:
    patch:
      tags: [Loan Applications]
      summary: Update loan application
      description: Update loan application (cancel, extend, modify terms)
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLoanApplicationRequest'
      responses:
        '200':
          description: Loan application updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoanApplicationResponse'

    get:
      tags: [Loan Applications]
      summary: Get loan application details
      description: Retrieve detailed information about a specific loan application with calculated breakdown
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Loan application details with calculated fields
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/LoanApplicationDetailResponse'
        '404':
          $ref: '#/components/responses/NotFound'

components:
  securitySchemes:
    apiKeyCookie:
      type: apiKey
      in: cookie
      name: apiKeyCookie
      description: Better Auth API Key authentication via cookie
    bearerAuth:
      type: http
      scheme: bearer
      description: Better Auth Bearer token authentication

  parameters:
    Page:
      name: page
      in: query
      schema:
        type: integer
        minimum: 11
        default: 1
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20

  schemas:
    # Loan Offer Schemas
    CreateLoanOfferRequest:
      type: object
      required:
        - principalBlockchainKey
        - principalTokenId
        - totalAmount
        - interestRate
        - termOptions
        - minLoanAmount
        - maxLoanAmount
        - expirationDate
      properties:
        principalBlockchainKey:
          type: string
          description: Blockchain key for principal currency
          example: "eip155:56"
          maxLength: 64
        principalTokenId:
          type: string
          description: Token ID for principal currency
          example: "erc20:0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d"
          maxLength: 64
        totalAmount:
          type: string
          description: Total loan offer amount (18 decimal precision)
          pattern: '^[0-9]+(\.[0-9]{1,18})?$'
          example: "10000.000000000000000000"
        interestRate:
          type: number
          description: Annual interest rate (percentage)
          minimum: 0.1
          maximum: 50.0
          example: 12.5
        termOptions:
          type: array
          items:
            type: integer
            enum: [1, 3, 6, 12]
          minItems: 1
          description: Available loan term options in months
          example: [3, 6]
        minLoanAmount:
          type: string
          description: Minimum loan amount per borrower
          pattern: '^[0-9]+(\.[0-9]{1,18})?$'
          example: "1000.000000000000000000"
        maxLoanAmount:
          type: string
          description: Maximum loan amount per borrower
          pattern: '^[0-9]+(\.[0-9]{1,18})?$'
          example: "10000.000000000000000000"
        expirationDate:
          type: string
          format: date-time
          description: When this loan offer expires
          example: "2025-12-31T23:59:59Z"

    UpdateLoanOfferRequest:
      type: object
      properties:
        action:
          type: string
          enum: [Close]
        closureReason:
          type: string

    LoanOfferResponse:
      type: object
      properties:
        id:
          type: string
        lenderId:
          type: string
        lender:
          $ref: '#/components/schemas/LenderInfo'
        principalCurrency:
          $ref: '#/components/schemas/Currency'
        totalAmount:
          type: string
        availableAmount:
          type: string
          description: Availabale Supply
        disbursedAmount:
          type: string
        interestRate:
          type: number
        termOptions:
          type: array
          items:
            type: integer
        status:
          type: string
          description: Current offer status (derived from time-based fields and business logic)
          enum: [Draft, Published, Closed]
          readOnly: true
          writeOnly: false
        createdDate:
          type: string
          format: date-time
        publishedDate:
          type: string
          format: date-time
        fundingInvoice:
          $ref: '#/components/schemas/Invoice'

    LoanOfferListResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            offers:
              type: array
              items:
                $ref: '#/components/schemas/LoanOfferResponse'
            pagination:
              $ref: '#/components/schemas/PaginationMeta'

    # Loan Application Schemas
    LoanCalculationRequest:
      type: object
      required:
        - collateralBlockchainKey
        - collateralTokenId
        - principalBlockchainKey
        - principalTokenId
        - principalAmount
      properties:
        loanTerm:
          type: integer
          enum: [1, 3, 6]
          description: "Loan term in months"
        collateralBlockchainKey:
          type: string
          description: Blockchain key for collateral
          example: "eip155:1"
          maxLength: 64
        collateralTokenId:
          type: string
          description: Token ID for collateral
          example: "slip44:60"
          maxLength: 64
        principalBlockchainKey:
          type: string
          description: Blockchain key for principal currency
          example: "eip155:1"
          maxLength: 64
        principalTokenId:
          type: string
          description: Token ID for principal currency
          example: "erc20:0xdac17f958d2ee523a2206206994597c13d831ec7"
          maxLength: 64

    LoanCalculationResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            collateralAmount:
              type: number
              format: double
              description: "Required collateral amount (auto-calculated)"
            ltvRatio:
              type: number
              format: double
            loanTerm:
              type: integer
            interestRate:
              type: number
              format: double
              description: "Annual interest rate as decimal"
            originationFee:
              type: number
              format: double
              description: "Origination fee amount (3% of loan)"
            totalRepaymentAmount:
              type: number
              format: double
              description: "Total amount to be repaid (loan + interest + fees)"
            liquidationThreshold:
              type: number
              format: double
              description: "Collateral value threshold for liquidation"
            estimatedLiquidationPrice:
              type: number
              format: double
              description: "Estimated collateral price that triggers liquidation"
            requiredCollateralAmount:
              type: string
              description: Amount of collateral required (with safety buffer)
              pattern: '^\d+\.\d{18}$'
            exchangeRate:
              type: string
              description: Current exchange rate used for calculation
              pattern: '^\d+\.\d{18}$'
            collateralCurrency:
              $ref: '#/components/schemas/Currency'
            principalCurrency:
              $ref: '#/components/schemas/Currency'
            maxLtvRatio:
              type: number
              description: Maximum LTV ratio for this collateral type
              minimum: 0
              maximum: 1
            calculationDetails:
              type: object
              properties:
                baseLoanAmount:
                  type: string
                  description: Base loan amount requested
                  pattern: '^\d+\.\d{18}$'
                baseCollateralValue:
                  type: string
                  description: Base collateral value without safety buffer
                  pattern: '^\d+\.\d{18}$'
                withSafetyBuffer:
                  type: string
                  description: Collateral value including safety buffer
                  pattern: '^\d+\.\d{18}$'
                currentExchangeRate:
                  type: string
                  description: Exchange rate at calculation time
                  pattern: '^\d+\.\d{18}$'
                rateSource:
                  type: string
                  description: Source of exchange rate data
                  example: "coinbase"
                rateTimestamp:
                  type: string
                  format: date-time
                  description: When the exchange rate was last updated

    CreateLoanApplicationRequest:
      type: object
      required:
        - collateralBlockchainKey
        - collateralTokenId
        - principalAmount
        - maxInterestRate
        - termMonths
        - liquidationMode
        - minLtvRatio
      properties:
        collateralBlockchainKey:
          type: string
          description: Blockchain key for collateral
          example: "eip155:1"
          maxLength: 64
        collateralTokenId:
          type: string
          description: Token ID for collateral
          example: "slip44:60"
          maxLength: 64
        principalAmount:
          type: string
          pattern: '^\d+\.\d{18}$'
          example: "5000.000000000000000000"
        maxInterestRate:
          type: number
          minimum: 0
          maximum: 100
          example: 15
        termMonths:
          type: integer
          enum: [1, 3, 6, 12]
          example: 6
        liquidationMode:
          type: string
          enum: [Partial, Full]
          example: "Full"
        minLtvRatio:
          type: number
          minimum: 0
          maximum: 1
          example: 0.5

    UpdateLoanApplicationRequest:
      type: object
      properties:
        action:
          type: string
          enum: [Cancel]

    LoanApplicationResponse:
      type: object
      properties:
        id:
          type: string
        borrowerId:
          type: string
        borrower:
          $ref: '#/components/schemas/BorrowerInfo'
        collateralCurrency:
          $ref: '#/components/schemas/Currency'
        principalCurrency:
          $ref: '#/components/schemas/Currency'
        principalAmount:
          type: string
          pattern: '^\\d+\\.\\d{18}$'
          description: "Principal amount in USDT, min $100, max $10,000"
        maxInterestRate:
          type: number
          minimum: 0
          maximum: 100
        termMonths:
          type: integer
          enum: [1, 3, 6, 12]
        liquidationMode:
          type: string
          enum: [Partial, Full]
        minLtvRatio:
          type: number
          minimum: 0
          maximum: 1
        status:
          type: string
          description: Current application status (derived from time-based fields and business logic)
          enum: [Draft, PendingCollateral, Published, Matched, Expired, Cancelled]
          readOnly: true
          writeOnly: false
        createdDate:
          type: string
          format: date-time
        publishedDate:
          type: string
          format: date-time
          nullable: true
        expiryDate:
          type: string
          format: date-time
        collateralInvoice:
          $ref: '#/components/schemas/Invoice'

    LoanApplicationListResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            applications:
              type: array
              items:
                $ref: '#/components/schemas/LoanApplicationResponse'
            pagination:
              $ref: '#/components/schemas/PaginationMeta'

    LoanApplicationDetailResponse:
      type: object
      description: Detailed loan application information with calculated fields
      properties:
        id:
          type: string
          description: Loan application identifier
          example: "app_78901"
        applicationNumber:
          type: string
          description: Application number for display
          example: "LA-2025-001"
        status:
          type: string
          enum: [Draft, PendingCollateral, Published, Matched, Expired, Cancelled]
          description: Current application status
        appliedDate:
          type: string
          format: date-time
          description: Date when application was created
        dueDate:
          type: string
          format: date-time
          description: Loan repayment due date
        loanAmount:
          type: object
          description: Total loan amount
          properties:
            amount:
              type: string
              pattern: '^\d+\.\d{18}$'
              example: "5000.000000000000000000"
            currency:
              type: string
              example: "USDT"
          required: [amount, currency]
        loanBreakdown:
          type: object
          description: Detailed breakdown of loan components
          properties:
            principal:
              type: object
              properties:
                amount:
                  type: string
                  pattern: '^\d+\.\d{18}$'
                currency:
                  type: string
              required: [amount, currency]
            interest:
              type: object
              properties:
                amount:
                  type: string
                  pattern: '^\d+\.\d{18}$'
                currency:
                  type: string
                rate:
                  type: number
                  description: Interest rate as decimal (e.g., 0.12 for 12%)
              required: [amount, currency, rate]
            provisions:
              type: object
              properties:
                amount:
                  type: string
                  pattern: '^\d+\.\d{18}$'
                currency:
                  type: string
                rate:
                  type: number
                  description: Provisions rate as decimal (e.g., 0.03 for 3%)
              required: [amount, currency, rate]
            totalRepayment:
              type: object
              properties:
                amount:
                  type: string
                  pattern: '^\d+\.\d{18}$'
                  description: Total amount to repay (principal + interest + provisions)
                currency:
                  type: string
              required: [amount, currency]
          required: [principal, interest, provisions, totalRepayment]
        terms:
          type: object
          description: Loan terms
          properties:
            duration:
              type: string
              example: "3 Months"
            paymentType:
              type: string
              example: "Full Payment"
          required: [duration, paymentType]
        collateral:
          type: object
          description: Detailed collateral information
          properties:
            selectedAsset:
              type: string
              description: Collateral currency symbol
              example: "ETH"
            requiredAmount:
              type: object
              properties:
                amount:
                  type: string
                  pattern: '^\d+\.\d{18}$'
                currency:
                  type: string
              required: [amount, currency]
            currentValue:
              type: object
              description: Current value in principal currency
              properties:
                amount:
                  type: string
                  pattern: '^\d+\.\d{18}$'
                currency:
                  type: string
              required: [amount, currency]
            currentPrice:
              type: object
              description: Current price per unit of collateral
              properties:
                amount:
                  type: string
                  pattern: '^\d+\.\d{18}$'
                currency:
                  type: string
              required: [amount, currency]
            ltv:
              type: integer
              description: Loan-to-value ratio as percentage
              example: 70
            liquidationTrigger:
              type: string
              description: Condition that triggers liquidation
              example: "LTV exceeds 70%"
          required: [selectedAsset, requiredAmount, currentValue, currentPrice, ltv, liquidationTrigger]
        riskAssessment:
          type: object
          description: Risk assessment information
          properties:
            riskLevel:
              type: string
              enum: [Low, Medium, High]
              example: "Medium"
            marginCall:
              type: string
              description: Margin call trigger condition
              example: "LTV > 63%"
            liquidation:
              type: string
              description: Liquidation trigger condition
              example: "LTV > 70%"
          required: [riskLevel, marginCall, liquidation]
        paymentMethods:
          type: array
          description: Available payment methods
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              description:
                type: string
              icon:
                type: string
              isRecommended:
                type: boolean
        liquidationExecutions:
          type: array
          description: Liquidation execution history (if any)
          items:
            type: object
            properties:
              id:
                type: string
                description: Liquidation execution identifier
              executedDate:
                type: string
                format: date-time
                description: Execution date
              triggerPrice:
                type: object
                description: Price that triggered liquidation
                properties:
                  amount:
                    type: string
                    pattern: '^\d+\.\d{18}$'
                  currency:
                    type: string
              liquidatedAmount:
                type: object
                description: Amount liquidated
                properties:
                  amount:
                    type: string
                    pattern: '^\d+\.\d{18}$'
                  currency:
                    type: string
              reason:
                type: string
                description: Liquidation reason
              status:
                type: string
                enum: [Executed, Pending, Failed]
        liquidationMode:
          type: string
          enum: [Partial, Full]
          description: Liquidation mode for this application
      required:
        - id
        - applicationNumber
        - status
        - appliedDate
        - dueDate
        - loanAmount
        - loanBreakdown
        - terms
        - collateral
        - riskAssessment
        - paymentMethods
        - liquidationMode

    # Common Schemas
    BorrowerInfo:
      type: object
      properties:
        id:
          type: string
          description: Borrower user identifier
          example: "user_54321"
        type:
          type: string
          enum: [Individual, Institution]
          description: Type of borrower
          example: "Individual"
        name:
          type: string
          description: Borrower display name (user.name for Individual, business_name for Institution)
          example: "Alice Johnson"
        businessType:
          type: string
          description: Business type (only for Institution borrowers)
          example: "PT"
          nullable: true
        businessDescription:
          type: string
          description: Business description (only for Institution borrowers)
          example: "PT. Financial Services Indonesia is a leading fintech company providing innovative lending solutions."
          nullable: true
      required:
        - id
        - type
        - name

    LenderInfo:
      type: object
      properties:
        id:
          type: string
          description: Lender user identifier
          example: "user_67890"
        type:
          type: string
          enum: [Individual, Institution]
          description: Type of lender
          example: "Individual"
        name:
          type: string
          description: Lender display name (user.name for Individual, business_name for Institution)
          example: "John Doe"
        businessType:
          type: string
          description: Business type (only for Institution lenders)
          example: "PT"
          nullable: true
        businessDescription:
          type: string
          description: Business description (only for Institution lenders)
          example: PT. Bank Negara Indonesia (BNI) is one of the largest banks in Indonesia. It has branches in several countries and provides a wide range of financial services to individuals and corporations.
          nullable: true
        profilePictureUrl:
          type: string
          format: uri
          description: URL to lender's profile picture
          example: "https://assets.cryptogadai.com/profiles/user_67890.jpg"
          nullable: true
      required:
        - id
        - type
        - name
        - verified

    Currency:
      type: object
      properties:
        blockchainKey:
          type: string
          description: CAIP-2 compliant blockchain identifier
          example: "eip155:1"
          maxLength: 64
        tokenId:
          type: string
          description: Token identifier within the blockchain
          example: "slip44:60"
          maxLength: 64
        name:
          type: string
          description: Human-readable currency name
          example: "Ethereum"
        symbol:
          type: string
          description: Currency symbol/ticker
          example: "ETH"
        decimals:
          type: integer
          description: Number of decimal places for precision
          example: 18
          minimum: 0
          maximum: 18
        logoUrl:
          type: string
          format: uri
          description: URL to currency logo image
          example: "https://assets.cryptogadai.com/currencies/eth.png"
      required:
        - blockchainKey
        - tokenId
        - name
        - symbol
        - decimals

    Invoice:
      type: object
      properties:
        id:
          type: string
        amount:
          type: string
          description: Invoice amount with decimal precision
          pattern: '^\d+\.\d{18}$'
        currency:
          $ref: '#/components/schemas/Currency'
        walletAddress:
          type: string
          description: Payment wallet address
        expiryDate:
          type: string
          format: date-time
        # Status is derived from time-based fields
        paidDate:
          type: string
          format: date-time
          nullable: true
        expiredDate:
          type: string
          format: date-time
          nullable: true
      required:
        - id
        - amount
        - currency
        - walletAddress
        - expiryDate

    PaginationMeta:
      type: object
      properties:
        page:
          type: integer
          description: Current page number (1-based)
          example: 1
          minimum: 1
        limit:
          type: integer
          description: Number of items per page
          example: 20
          minimum: 1
          maximum: 100
        total:
          type: integer
          description: Total number of items across all pages
          example: 150
          minimum: 0
        totalPages:
          type: integer
          description: Total number of pages
          example: 8
          minimum: 0
        hasNext:
          type: boolean
          description: Whether there are more pages after current
          example: true
        hasPrev:
          type: boolean
          description: Whether there are pages before current
          example: false
      required:
        - page
        - limit
        - total
        - totalPages
        - hasNext
        - hasPrev

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          properties:
            code:
              type: string
              description: Standardized error code for client handling
              enum:
                - VALIDATION_ERROR
                - INSUFFICIENT_FUNDS
                - RATE_LIMIT_EXCEEDED
                - AUTHENTICATION_REQUIRED
                - PERMISSION_DENIED
                - RESOURCE_NOT_FOUND
                - BUSINESS_RULE_VIOLATION
                - EXTERNAL_SERVICE_ERROR
                - SYSTEM_MAINTENANCE
                - DRAFT_ALREADY_EXISTS
                - INVALID_LOAN_STATE
                - PAYMENT_PROCESSING_ERROR
                - LEGAL_AGREEMENT_REQUIRED
                - KYC_VERIFICATION_REQUIRED
                - COLLATERAL_INSUFFICIENT
                - INTEREST_RATE_INVALID
                - TERM_NOT_SUPPORTED
                - CURRENCY_NOT_SUPPORTED
                - AMOUNT_OUT_OF_BOUNDS
                - USER_ELIGIBILITY_FAILED
              example: "VALIDATION_ERROR"
            message:
              type: string
              description: Human-readable error message for display
              example: "Request validation failed"
            details:
              type: object
              description: Additional structured error details
              additionalProperties: true
              example:
                field: "interestRate"
                value: "75.5"
                constraint: "Maximum interest rate is 50%"
            userAction:
              type: string
              description: Suggested action for the user to resolve the error
              example: "Please enter an interest rate between 0.1% and 50%"
            retryable:
              type: boolean
              description: Whether the client should retry this request
              example: false
        timestamp:
          type: string
          format: date-time
          description: Timestamp when error occurred
          example: "2025-09-23T15:30:00Z"
        requestId:
          type: string
          format: uuid
          description: Unique request ID for tracking and support
          example: "req_12345_abc-def-789"
        path:
          type: string
          description: API endpoint path where error occurred
          example: "/loan-offers"
        method:
          type: string
          description: HTTP method used
          enum: [GET, POST, PUT, PATCH, DELETE]
          example: "POST"
      required:
        - success
        - error
        - timestamp
        - requestId

  responses:
    ValidationError:
      description: Validation error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: VALIDATION_ERROR
            requestId: req_abc123

    InsufficientBalance:
      description: Insufficient balance
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: INSUFFICIENT_BALANCE
            requestId: req_abc123

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: NOT_FOUND
            requestId: req_abc123