openapi: 3.0.3
info:
  title: CryptoGadai User Management API
  description: API specification for user management features using Better Auth with NestJS integration, including authentication, profile management, KYC verification, and institution management
  version: 2.0.0
  contact:
    name: CryptoGadai Development Team

servers:
  - url: https://api.cryptogadai.com/api
    description: Production server
  - url: https://cg-api.fh47.com/api
    description: Testing server
  - url: http://cg-api.localhost/api
    description: Local development server

security:
  - apiKeyCookie: []
  - bearerAuth: []

paths:
  # User Type Selection
  /users/type-selection:
    post:
      tags: [User Profile]
      summary: Select user type
      description: Mandatory user type selection after registration (Individual or Institution)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [userType]
              properties:
                userType:
                  type: string
                  enum: [Individual, Institution]
                  description: User type selection
            examples:
              individual:
                summary: Select Individual user type
                value:
                  userType: Individual
              institution:
                summary: Select Institution user type
                value:
                  userType: Institution
      responses:
        200:
          description: User type selected successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  userType:
                    type: string
                    enum: [Individual, Institution]
                  message:
                    type: string
              examples:
                individual_selected:
                  summary: Individual type selected
                  value:
                    userType: Individual
                    message: User type Individual successfully selected
                institution_selected:
                  summary: Institution type selected
                  value:
                    userType: Institution
                    message: User type Institution successfully selected
        400:
          $ref: '#/components/responses/ValidationError'
        409:
          description: User type already selected
          content:
            application/json:
              schema:
                type: object
                properties:
                  userType:
                    type: string
                    enum: [Individual, Institution]
                  message:
                    type: string
              examples:
                already_selected:
                  summary: User type already selected
                  value:
                    userType: Individual
                    message: User type already selected

  # User Profile Management
  /users/profile:
    get:
      tags: [User Profile]
      summary: Get user profile
      description: Retrieves user profile information and available actions
      responses:
        200:
          description: Profile retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/UserProfile'
              examples:
                individual_user:
                  summary: Individual user profile with verified KYC
                  value:
                    user:
                      id: 12345
                      role: User
                      email: john.doe@example.com
                      emailVerifiedDate: 2024-01-15T10:30:00Z
                      name: John Doe
                      profilePictureUrl: https://storage.cryptogadai.com/profiles/12345.jpg
                      googleId: null
                      userType: Individual
                      kycId: 567
                      kycStatus: verified
                      institutionId: null
                      institutionRole: null
                      twoFaEnabled: false
                      createdDate: 2024-01-10T08:00:00Z
                      lastLoginDate: 2024-03-15T14:20:00Z
                institution_owner:
                  summary: Institution owner profile
                  value:
                    user:
                      id: 98765
                      role: User
                      email: ceo@techcorp.com
                      emailVerifiedDate: 2024-02-01T09:15:00Z
                      name: Jane Smith
                      profilePictureUrl: https://storage.cryptogadai.com/profiles/98765.jpg
                      googleId: google_123456789
                      userType: Institution
                      kycId: null
                      kycStatus: none
                      institutionId: 98765
                      institutionRole: Owner
                      twoFaEnabled: true
                      createdDate: 2024-01-20T10:00:00Z
                      lastLoginDate: 2024-03-15T16:45:00Z
                new_user_no_type:
                  summary: New user without type selection
                  value:
                    user:
                      id: 54321
                      role: User
                      email: newuser@example.com
                      emailVerifiedDate: 2024-03-14T12:00:00Z
                      name: Alex Johnson
                      profilePictureUrl: null
                      googleId: null
                      userType: null
                      kycId: null
                      kycStatus: none
                      institutionId: null
                      institutionRole: null
                      twoFaEnabled: false
                      createdDate: 2024-03-14T12:00:00Z
                      lastLoginDate: 2024-03-15T09:30:00Z
        401:
          $ref: '#/components/responses/Unauthorized'

    put:
      tags: [User Profile]
      summary: Update user profile
      description: Updates user profile information and optionally profile picture
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 160
                profilePicture:
                  type: string
                  format: binary
                  description: Image file, max 5MB
            examples:
              name_only:
                summary: Update name only
                value:
                  name: John Michael Doe
              with_picture:
                summary: Update name and profile picture
                value:
                  name: John Michael Doe
                  profilePicture: [Binary image data]
      responses:
        200:
          description: Profile updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    type: object
                    properties:
                      name:
                        type: string
                      profilePictureUrl:
                        type: string
                  message:
                    type: string
              examples:
                name_updated:
                  summary: Name updated successfully
                  value:
                    user:
                      name: John Michael Doe
                      profilePictureUrl: https://storage.cryptogadai.com/profiles/12345.jpg
                    message: Profile updated successfully
                picture_updated:
                  summary: Name and picture updated
                  value:
                    user:
                      name: John Michael Doe
                      profilePictureUrl: https://storage.cryptogadai.com/profiles/12345_new.jpg
                    message: Profile updated successfully
        400:
          $ref: '#/components/responses/ValidationError'
        413:
          $ref: '#/components/responses/FileTooLarge'

  # KYC Management
  /users/kyc/submit:
    post:
      tags: [KYC Verification]
      summary: Submit KYC verification
      description: Submits KYC documents and information for verification
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [nik, name, birthCity, birthDate, province, city, district, subdistrict, address, postalCode, idCardPhoto, selfieWithIdCardPhoto]
              properties:
                nik:
                  type: string
                  pattern: ^[0-9]{16}$
                  description: 16-digit NIK
                name:
                  type: string
                  maxLength: 160
                  description: Full name as it appears on ID card
                birthCity:
                  type: string
                  maxLength: 100
                birthDate:
                  type: string
                  format: date
                province:
                  type: string
                  maxLength: 100
                city:
                  type: string
                  maxLength: 100
                  description: Kabupaten/Kota
                district:
                  type: string
                  maxLength: 100
                  description: Kecamatan
                subdistrict:
                  type: string
                  maxLength: 100
                  description: Kelurahan/Desa
                address:
                  type: string
                  description: Complete residential address
                postalCode:
                  type: string
                  pattern: ^[0-9]{5}$
                idCardPhoto:
                  type: string
                  format: binary
                selfieWithIdCardPhoto:
                  type: string
                  format: binary
            examples:
              jakarta_resident:
                summary: Jakarta resident KYC submission
                value:
                  nik: 3171012345678901
                  name: John Doe Prasetyo
                  birthCity: Jakarta
                  birthDate: 1990-05-15
                  province: DKI Jakarta
                  city: Jakarta Pusat
                  district: Menteng
                  subdistrict: Menteng
                  address: Jl. MH Thamrin No. 123, RT 001 RW 002
                  postalCode: 10350
                  idCardPhoto: [Binary image data - ID card]
                  selfieWithIdCardPhoto: [Binary image data - Selfie with ID]
              surabaya_resident:
                summary: Surabaya resident KYC submission
                value:
                  nik: 3578012345678901
                  name: Siti Aminah
                  birthCity: Surabaya
                  birthDate: 1985-12-20
                  province: Jawa Timur
                  city: Surabaya
                  district: Gubeng
                  subdistrict: Gubeng
                  address: Jl. Pemuda No. 45, RT 003 RW 001
                  postalCode: 60281
                  idCardPhoto: [Binary image data - ID card]
                  selfieWithIdCardPhoto: [Binary image data - Selfie with ID]
      responses:
        201:
          description: KYC submitted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  kycSubmission:
                    $ref: '#/components/schemas/KYCSubmission'
                  message:
                    type: string
              examples:
                submission_success:
                  summary: KYC submission successful
                  value:
                    kycSubmission:
                      id: 567
                      status: pending
                      submittedDate: 2024-03-15T10:30:00Z
                      verifiedDate: null
                      rejectedDate: null
                      rejectionReason: null
                    message: KYC documents submitted successfully and are under review
        400:
          $ref: '#/components/responses/ValidationError'
        409:
          $ref: '#/components/responses/DuplicateNIK'

  /users/kyc/status:
    get:
      tags: [KYC Verification]
      summary: Get KYC status
      description: Retrieves current KYC verification status
      responses:
        200:
          description: KYC status retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  kycStatus:
                    type: string
                    enum: [pending, verified, rejected]
                    description: Current KYC status
                  submission:
                    $ref: '#/components/schemas/KYCSubmission'
                  canResubmit:
                    type: boolean
              examples:
                pending_review:
                  summary: KYC pending review
                  value:
                    kycStatus: pending
                    submission:
                      id: 567
                      status: pending
                      submittedDate: 2024-03-15T10:30:00Z
                      verifiedDate: null
                      rejectedDate: null
                      rejectionReason: null
                    canResubmit: false
                verified_kyc:
                  summary: KYC verified
                  value:
                    kycStatus: verified
                    submission:
                      id: 567
                      status: verified
                      submittedDate: 2024-03-15T10:30:00Z
                      verifiedDate: 2024-03-16T14:20:00Z
                      rejectedDate: null
                      rejectionReason: null
                    canResubmit: false
                rejected_kyc:
                  summary: KYC rejected with resubmit option
                  value:
                    kycStatus: rejected
                    submission:
                      id: 567
                      status: rejected
                      submittedDate: 2024-03-15T10:30:00Z
                      verifiedDate: null
                      rejectedDate: 2024-03-16T16:45:00Z
                      rejectionReason: ID card photo quality is too low. Please upload a clearer image.
                    canResubmit: true
                no_submission:
                  summary: No KYC submission yet
                  value:
                    kycStatus: none
                    submission: null
                    canResubmit: true

  # Institution Management
  /institutions:
    post:
      tags: [Institution Management]
      summary: Apply for institution account
      description: Submits institution registration application
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [businessName, registrationNumber, npwpNumber, businessType, province, city, district, subdistrict, address, postalCode, npwpDocument, registrationDocument, deedOfEstablishment, directorIdCard, ministryApprovalDocument]
              properties:
                businessName:
                  type: string
                  maxLength: 160
                registrationNumber:
                  type: string
                  maxLength: 50
                  description: NIB or TDP number
                npwpNumber:
                  type: string
                  pattern: ^[0-9]{2}\\.[0-9]{3}\\.[0-9]{3}\\.[0-9]-[0-9]{3}\\.[0-9]{3}$
                  maxLength: 20
                  description: NPWP number in format XX.XXX.XXX.X-XXX.XXX
                businessType:
                  type: string
                  maxLength: 100
                businessDescription:
                  type: string
                  description: Optional business description
                province:
                  type: string
                  maxLength: 100
                city:
                  type: string
                  maxLength: 100
                district:
                  type: string
                  maxLength: 100
                subdistrict:
                  type: string
                  maxLength: 100
                address:
                  type: string
                  description: Complete business address
                postalCode:
                  type: string
                  pattern: ^[0-9]{5,10}$
                  maxLength: 10
                directorName:
                  type: string
                  maxLength: 160
                  description: Name of company director/owner
                directorPosition:
                  type: string
                  maxLength: 100
                  default: Director
                  description: Position of the director
                npwpDocument:
                  type: string
                  format: binary
                  description: NPWP document (PDF/Image, max 10MB)
                registrationDocument:
                  type: string
                  format: binary
                  description: Company registration document (PDF/Image, max 10MB)
                deedOfEstablishment:
                  type: string
                  format: binary
                  description: Deed of establishment document (PDF/Image, max 10MB)
                directorIdCard:
                  type: string
                  format: binary
                  description: Director's ID card (PDF/Image, max 10MB)
                ministryApprovalDocument:
                  type: string
                  format: binary
                  description: Optional ministry approval document (PDF/Image, max 10MB)
                businessLicense:
                  type: string
                  format: binary
                  description: Optional additional business license (PDF/Image, max 10MB)
            examples:
              tech_company:
                summary: Technology company application
                value:
                  businessName: PT Teknologi Nusantara
                  registrationNumber: 8120202123456
                  npwpNumber: 01.234.567.8-901.000
                  businessType: PT
                  businessDescription: Technology consulting and software development services
                  province: DKI Jakarta
                  city: Jakarta Selatan
                  district: Kebayoran Baru
                  subdistrict: Senayan
                  address: Jl. Asia Afrika No. 8, Komplex Gelora Bung Karno
                  postalCode: 10270
                  directorName: Budi Santoso
                  directorPosition: CEO
                  npwpDocument: [Binary PDF - NPWP document]
                  registrationDocument: [Binary PDF - NIB certificate]
                  deedOfEstablishment: [Binary PDF - Akta Pendirian]
                  directorIdCard: '[Binary Image - Directors KTP]'
                  ministryApprovalDocument: [Binary PDF - SK Kemenkumham]
                  businessLicense: [Binary PDF - Additional license]
              trading_company:
                summary: Trading company application
                value:
                  businessName: CV Mitra Jaya Trading
                  registrationNumber: 1234567890123
                  npwpNumber: 02.345.678.9-012.000
                  businessType: CV
                  businessDescription: Import and export trading company specializing in electronics
                  province: Jawa Timur
                  city: Surabaya
                  district: Wonokromo
                  subdistrict: Wonokromo
                  address: Jl. Raya Darmo No. 123
                  postalCode: 60241
                  directorName: Siti Rahayu
                  directorPosition: Director
                  npwpDocument: [Binary PDF - NPWP document]
                  registrationDocument: [Binary PDF - TDP certificate]
                  deedOfEstablishment: [Binary PDF - Akta Pendirian]
                  directorIdCard: '[Binary Image - Directors KTP]'
                  ministryApprovalDocument: [Binary PDF - Ministry approval]
                  businessLicense: [Binary PDF - Trading license]
      responses:
        201:
          description: Application submitted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  application:
                    $ref: '#/components/schemas/InstitutionApplication'
                  message:
                    type: string
              examples:
                application_success:
                  summary: Institution application submitted
                  value:
                    application:
                      id: 789
                      businessName: PT Teknologi Nusantara
                      submittedDate: 2024-03-15T14:30:00Z
                      status: Submitted
                    message: Institution application submitted successfully and is under review
        400:
          $ref: '#/components/responses/ValidationError'
        409:
          $ref: '#/components/responses/BusinessNameExists'

  /institutions/invitations:
    post:
      tags: [Institution Management]
      summary: Invite institution member
      description: Invites a user to join institution
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [userEmail, role]
              properties:
                userEmail:
                  type: string
                  format: email
                role:
                  type: string
                  enum: [Finance]
                message:
                  type: string
                  description: Optional invitation message
            examples:
              finance_member:
                summary: Invite finance member
                value:
                  userEmail: finance.manager@example.com
                  role: Finance
                  message: We would like to invite you to join our institution as Finance member to help manage our lending operations.
              simple_invitation:
                summary: Simple invitation without message
                value:
                  userEmail: john.doe@example.com
                  role: Finance
      responses:
        201:
          description: Invitation created
          content:
            application/json:
              schema:
                type: object
                properties:
                  invitation:
                    $ref: '#/components/schemas/InstitutionInvitation'
              examples:
                invitation_sent:
                  summary: Invitation sent successfully
                  value:
                    invitation:
                      id: 123
                      userEmail: finance.manager@example.com
                      role: Finance
                      invitedDate: 2024-03-15T16:30:00Z
        400:
          $ref: '#/components/responses/UserNotFound'
        409:
          $ref: '#/components/responses/UserAlreadyMember'

  /institutions/invitations/{id}/accept:
    post:
      tags: [Institution Management]
      summary: Accept institution invitation
      description: Accepts a institution invitation
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 123
      responses:
        200:
          description: Invitation accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  institution:
                    type: object
                    properties:
                      id:
                        type: integer
                        format: int64
                      businessName:
                        type: string
                      role:
                        type: string
                  message:
                    type: string
              examples:
                accepted_finance:
                  summary: Finance member invitation accepted
                  value:
                    institution:
                      id: 98765
                      businessName: PT Teknologi Nusantara
                      role: Finance
                    message: You have successfully joined PT Teknologi Nusantara as Finance member
        400:
          $ref: '#/components/responses/InvitationExpired'

  # Notification Management
  /notifications:
    get:
      tags: [Notifications]
      summary: List user notifications
      description: Retrieve paginated list of notifications for authenticated user
      parameters:
        - name: page
          in: query
          description: Page number (1-based)
          schema:
            type: integer
            minimum: 1
            default: 1
          example: 1
        - name: limit
          in: query
          description: Number of notifications per page (max 100)
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          example: 10
        - name: type
          in: query
          description: Filter by notification type
          schema:
            type: string
            enum:
              # Authentication notifications
              - UserRegistered
              - EmailVerificationSent
              - EmailVerified
              - PasswordResetRequested
              - PasswordResetCompleted
              - TwoFactorEnabled
              - TwoFactorDisabled
              - LoginFromNewDevice
              - SuspiciousLoginAttempt
              # KYC notifications
              - UserKycVerified
              - UserKycRejected
              # Institution notifications
              - InstitutionApplicationVerified
              - InstitutionApplicationRejected
              - InstitutionMemberInvited
              - InstitutionMemberAccepted
              - InstitutionMemberRejected
              # Invoice notifications
              - InvoiceCreated
              - InvoiceDue
              - InvoiceExpired
              - InvoicePartiallyPaid
              - InvoicePaid
              # Loan notifications
              - LoanOfferPublished
              - LoanApplicationPublished
              - LoanApplicationMatched
              - LoanOfferMatched
              - LoanApplicationApproved
              - LoanApplicationRejected
              - LoanOfferClosed
              - LoanDisbursement
              - LoanActivated
              - LoanRepaymentDue
              - LoanRepaymentCompleted
              - LoanRepaymentReceived
              - LoanRepaymentFailed
              - LoanLiquidation
              - LoanLtvBreach
              # Withdrawal notifications
              - WithdrawalRequested
              - WithdrawalRefunded
              - WithdrawalRefundApproved
              - WithdrawalRefundRejected
              # Enhanced loan notifications
              - LiquidationWarning
              - LiquidationCompleted
              # System notifications
              - PlatformMaintenanceNotice,
              - SecurityAlert
          example: LoanRepaymentDue
        - name: unreadOnly
          in: query
          description: Filter to show only unread notifications
          schema:
            type: boolean
            default: false
          example: true
      responses:
        200:
          description: Notifications retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationsResponse'
              examples:
                mixed_notifications:
                  summary: Mixed notifications with pagination
                  value:
                    notifications:
                      - id: 456
                        type: LoanRepaymentDue
                        title: Loan Repayment Due Tomorrow
                        content: Your loan payment of 10,300 USDT is due tomorrow. Please ensure sufficient balance.
                        isRead: false
                        readDate: null
                        createdDate: 2024-03-15T10:00:00Z
                      - id: 455
                        type: UserKycVerified
                        title: KYC Verification Approved
                        content: Your identity verification has been approved. You can now access all platform features.
                        isRead: true
                        readDate: 2024-03-14T15:30:00Z
                        createdDate: 2024-03-14T14:20:00Z
                      - id: 454
                        type: InstitutionMemberInvited
                        title: Institution Invitation Received
                        content: You have been invited to join PT Teknologi Nusantara as Finance member.
                        isRead: false
                        readDate: null
                        createdDate: 2024-03-13T16:45:00Z
                    pagination:
                      page: 1
                      limit: 10
                      total: 45
                      totalPages: 5
                      hasNext: true
                      hasPrev: false
                    unreadCount: 12
                unread_only:
                  summary: Unread notifications only
                  value:
                    notifications:
                      - id: 456
                        type: LoanRepaymentDue
                        title: Loan Repayment Due Tomorrow
                        content: Your loan payment of 10,300 USDT is due tomorrow. Please ensure sufficient balance.
                        isRead: false
                        readDate: null
                        createdDate: 2024-03-15T10:00:00Z
                      - id: 454
                        type: LiquidationWarning
                        title: Collateral LTV Warning
                        content: Your collateral LTV ratio has reached 66.5%. Please add more collateral or repay part of your loan.
                        isRead: false
                        readDate: null
                        createdDate: 2024-03-13T16:45:00Z
                    pagination:
                      page: 1
                      limit: 10
                      total: 12
                      totalPages: 2
                      hasNext: true
                      hasPrev: false
                    unreadCount: 12
        401:
          $ref: '#/components/responses/Unauthorized'

  /notifications/{id}/read:
    patch:
      tags: [Notifications]
      summary: Mark notification as read
      description: Mark a specific notification as read
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 456
      responses:
        200:
          description: Notification marked as read
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Notification marked as read
              examples:
                mark_read_success:
                  summary: Notification marked as read
                  value:
                    message: Notification marked as read
        404:
          $ref: '#/components/responses/NotFound'

  /notifications/mark-all-read:
    patch:
      tags: [Notifications]
      summary: Mark all notifications as read
      description: Mark all unread notifications as read for authenticated user
      responses:
        200:
          description: All notifications marked as read
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: All notifications marked as read
                  updatedCount:
                    type: integer
                    description: Number of notifications that were updated
              examples:
                multiple_marked:
                  summary: Multiple notifications marked as read
                  value:
                    message: All notifications marked as read
                    updatedCount: 12
                none_to_mark:
                  summary: No unread notifications to mark
                  value:
                    message: All notifications marked as read
                    updatedCount: 0

  /institutions/invitations/{id}/reject:
    post:
      tags: [Institution Management]
      summary: Reject institution invitation
      description: Rejects a institution invitation
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 123
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Optional rejection reason
            examples:
              with_reason:
                summary: Reject with reason
                value:
                  reason: I am not interested in joining this institution at the moment
              without_reason:
                summary: Reject without reason
                value: {}
      responses:
        200:
          description: Invitation rejected
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
              examples:
                rejection_success:
                  summary: Invitation rejected successfully
                  value:
                    message: Institution invitation rejected successfully

components:
  securitySchemes:
    apiKeyCookie:
      type: apiKey
      in: cookie
      name: apiKeyCookie
      description: Better Auth API Key authentication via cookie
    bearerAuth:
      type: http
      scheme: bearer
      description: Better Auth Bearer token authentication

  schemas:
    UserProfile:
      type: object
      description: User Profile
      properties:
        id:
          type: integer
          format: int64
        role:
          type: string
          enum: [User]
        email:
          type: string
          format: email
          nullable: true
        emailVerifiedDate:
          type: string
          format: date-time
          nullable: true
        name:
          type: string
          nullable: true
        profilePictureUrl:
          type: string
          nullable: true
        googleId:
          type: string
          nullable: true
        userType:
          type: string
          enum: [Individual, Institution]
          description: User type selection (mandatory after registration)
          nullable: true
        kycId:
          type: integer
          format: int64
          nullable: true
        kycStatus:
          type: string
          enum: [none, pending, verified, rejected]
          description: Current KYC status
        institutionId:
          type: integer
          format: int64
          nullable: true
        institutionRole:
          type: string
          enum: [Owner, Finance]
          nullable: true
        twoFaEnabled:
          type: boolean
        createdDate:
          type: string
          format: date-time
        lastLoginDate:
          type: string
          format: date-time
          nullable: true

    PortfolioAnalytics:
      type: object
      properties:
        totalPortfolioValue:
          type: object
          properties:
            amount:
              type: string
              description: Total portfolio value in USD
              example: 125000.50
            currency:
              type: string
              example: USD
            lastUpdated:
              type: string
              format: date-time
        performanceMetrics:
          type: object
          properties:
            dailyChange:
              type: object
              properties:
                amount:
                  type: string
                  example: 1234.56
                percentage:
                  type: number
                  example: 5.2
            weeklyTrend:
              type: array
              items:
                type: object
                properties:
                  date:
                    type: string
                    format: date
                  value:
                    type: string
        assetBreakdown:
          type: object
          properties:
            cryptoAssets:
              type: object
              properties:
                percentage:
                  type: number
                  example: 70.0
                value:
                  type: string
                  example: 87500.00
            stablecoins:
              type: object
              properties:
                percentage:
                  type: number
                  example: 20.0
                value:
                  type: string
                  example: 25000.00
            activeLoanCollateral:
              type: object
              properties:
                percentage:
                  type: number
                  example: 10.0
                value:
                  type: string
                  example: 12500.00
        loanMetrics:
          type: object
          properties:
            activeBorrowedLoans:
              type: object
              properties:
                count:
                  type: integer
                  example: 3
                totalPrincipal:
                  type: string
                  example: 50000.00
                totalCollateral:
                  type: string
                  example: 65000.00
                averageLTV:
                  type: number
                  example: 0.77
            activeLentLoans:
              type: object
              properties:
                count:
                  type: integer
                  example: 5
                totalPrincipal:
                  type: string
                  example: 75000.00
                expectedInterest:
                  type: string
                  example: 6750.00

    KYCSubmission:
      type: object
      properties:
        id:
          type: integer
          format: int64
        status:
          type: string
          description: Current KYC status (derived from time-based verification fields)
          enum: [pending, verified, rejected]
          readOnly: true
          writeOnly: false
        submittedDate:
          type: string
          format: date-time
        verifiedDate:
          type: string
          format: date-time
          nullable: true
        rejectedDate:
          type: string
          format: date-time
          nullable: true
        rejectionReason:
          type: string
          nullable: true

    KYCSubmissionSummary:
      type: object
      properties:
        id:
          type: integer
          format: int64
        userId:
          type: integer
          format: int64
        userName:
          type: string
        submittedDate:
          type: string
          format: date-time
        timeInQueue:
          type: string
          description: Duration in hours

    KYCSubmissionDetail:
      type: object
      properties:
        id:
          type: integer
          format: int64
        userId:
          type: integer
          format: int64
        nik:
          type: string
        name:
          type: string
          description: Full name as registered
        birthCity:
          type: string
        birthDate:
          type: string
          format: date
        province:
          type: string
        city:
          type: string
        district:
          type: string
        subdistrict:
          type: string
        address:
          type: string
        postalCode:
          type: string
          maxLength: 10
        phoneNumber:
          type: string
        idCardPhotoUrl:
          type: string
          description: Signed URL for ID card photo
        selfieWithIdCardPhotoUrl:
          type: string
          description: Signed URL for selfie with ID card photo
        submittedDate:
          type: string
          format: date-time

    InstitutionApplication:
      type: object
      properties:
        id:
          type: integer
          format: int64
        businessName:
          type: string
        submittedDate:
          type: string
          format: date-time
        status:
          type: string
          description: Current application status (derived from time-based approval fields)
          enum: [Submitted, UnderReview, Verified, Rejected]
          readOnly: true
          writeOnly: false

    InstitutionApplicationSummary:
      type: object
      properties:
        id:
          type: integer
          format: int64
        businessName:
          type: string
        applicantName:
          type: string
        submittedDate:
          type: string
          format: date-time

    Institution:
      type: object
      properties:
        id:
          type: integer
          format: int64
        businessName:
          type: string
        verifiedDate:
          type: string
          format: date-time

    InstitutionInvitation:
      type: object
      properties:
        id:
          type: integer
          format: int64
        userEmail:
          type: string
          format: email
        role:
          type: string
          enum: [Finance]
        invitedDate:
          type: string
          format: date-time

    NotificationsResponse:
      type: object
      properties:
        notifications:
          type: array
          items:
            $ref: '#/components/schemas/Notification'
        pagination:
          $ref: '#/components/schemas/PaginationMeta'
        unreadCount:
          type: integer
          description: Total count of unread notifications
          example: 5

    Notification:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 123
        type:
          type: string
          enum: [
              # Authentication notifications
              UserRegistered,
              EmailVerificationSent,
              EmailVerified,
              PasswordResetRequested,
              PasswordResetCompleted,
              TwoFactorEnabled,
              TwoFactorDisabled,
              LoginFromNewDevice,
              SuspiciousLoginAttempt,
              # KYC notifications
              UserKycVerified,
              UserKycRejected,
              # Institution notifications
              InstitutionApplicationVerified,
              InstitutionApplicationRejected,
              InstitutionMemberInvited,
              InstitutionMemberAccepted,
              InstitutionMemberRejected,
              # Invoice notifications
              InvoiceCreated,
              InvoiceDue,
              InvoiceExpired,
              InvoicePartiallyPaid,
              InvoicePaid,
              # Loan notifications
              LoanOfferPublished,
              LoanApplicationPublished,
              LoanApplicationMatched,
              LoanOfferMatched,
              LoanApplicationApproved,
              LoanApplicationRejected,
              LoanOfferClosed,
              LoanDisbursement,
              LoanActivated,
              LoanRepaymentDue,
              LoanRepaymentCompleted,
              LoanRepaymentReceived,
              LoanRepaymentFailed,
              LoanLiquidation,
              LoanLtvBreach,
              # Withdrawal notifications
              WithdrawalRequested,
              WithdrawalRefunded,
              WithdrawalRefundApproved,
              WithdrawalRefundRejected,
              # Enhanced loan notifications
              LiquidationWarning,
              LiquidationCompleted,
              # System notifications
              PlatformMaintenanceNotice,
              SecurityAlert,
            ]
          description: Type of notification matching database enum
          example: LoanRepaymentDue
        title:
          type: string
          description: Notification title/subject
          example: Loan Repayment Due Tomorrow
        content:
          type: string
          description: Notification body content
          example: Your loan payment of $500 is due tomorrow. Please ensure sufficient balance.
        isRead:
          type: boolean
          description: Whether the notification has been read
          example: false
        readDate:
          type: string
          format: date-time
          nullable: true
          description: When the notification was read
          example: null
        createdDate:
          type: string
          format: date-time
          description: When the notification was created
          example: 2024-03-15T10:30:00Z

    # Common Schemas
    PaginationMeta:
      type: object
      properties:
        page:
          type: integer
          description: Current page number (1-based)
          example: 1
          minimum: 1
        limit:
          type: integer
          description: Number of items per page
          example: 20
          minimum: 1
          maximum: 100
        total:
          type: integer
          description: Total number of items across all pages
          example: 150
          minimum: 0
        totalPages:
          type: integer
          description: Total number of pages
          example: 8
          minimum: 0
        hasNext:
          type: boolean
          description: Whether there are more pages after current
          example: true
        hasPrev:
          type: boolean
          description: Whether there are pages before current
          example: false
      required:
        - page
        - limit
        - total
        - totalPages
        - hasNext
        - hasPrev

    Currency:
      type: object
      properties:
        blockchainKey:
          type: string
          description: CAIP-2 compliant blockchain identifier
          example: eip155:1
          maxLength: 64
        tokenId:
          type: string
          description: Token identifier within the blockchain
          example: slip44:60
          maxLength: 64
        name:
          type: string
          description: Human-readable currency name
          example: Ethereum
        symbol:
          type: string
          description: Currency symbol/ticker
          example: ETH
        decimals:
          type: integer
          description: Number of decimal places for precision
          example: 18
          minimum: 0
          maximum: 18
        logoUrl:
          type: string
          format: uri
          description: URL to currency logo image
          example: https://assets.cryptogadai.com/currencies/eth.png
      required:
        - blockchainKey
        - tokenId
        - name
        - symbol
        - decimals

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          properties:
            code:
              type: string
              description: Error code
              example: VALIDATION_ERROR
            message:
              type: string
              description: Human-readable error message
              example: Request validation failed
            details:
              type: object
              description: Additional error details
              additionalProperties: true
        timestamp:
          type: string
          format: date-time
          example: 2025-08-13T15:30:00Z
        requestId:
          type: string
          format: uuid
          description: Request ID for tracking
      required:
        - success
        - error
        - timestamp

  responses:
    Unauthorized:
      description: Authentication required or token invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: INVALID_TOKEN
            message: Token expired or invalid

    ValidationError:
      description: Request validation failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            validation_error:
              summary: KYC submission validation error
              value:
                success: false
                error:
                  code: VALIDATION_ERROR
                  message: Request validation failed
                  details:
                    nik: NIK must be exactly 16 digits
                    birthDate: Birth date cannot be in the future
                    postalCode: Postal code must be 5 digits
                timestamp: 2024-03-15T10:30:00Z
                requestId: req_123e4567-e89b-12d3-a456-426614174000
            profile_validation_error:
              summary: Profile update validation error
              value:
                success: false
                error:
                  code: VALIDATION_ERROR
                  message: Request validation failed
                  details:
                    name: Name cannot exceed 160 characters
                    profilePicture: File must be an image (JPEG, PNG, GIF)
                timestamp: 2024-03-15T10:30:00Z
                requestId: req_123e4567-e89b-12d3-a456-426614174001
            institution_validation_error:
              summary: Institution application validation error
              value:
                success: false
                error:
                  code: VALIDATION_ERROR
                  message: Request validation failed
                  details:
                    npwpNumber: NPWP format must be XX.XXX.XXX.X-XXX.XXX
                    businessName: Business name already exists
                    registrationDocument: Document file is required
                timestamp: 2024-03-15T10:30:00Z
                requestId: req_123e4567-e89b-12d3-a456-426614174002

    EmailExists:
      description: Email already registered
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: EMAIL_EXISTS
            message: Email already registered

    InvalidToken:
      description: Token expired or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: INVALID_TOKEN
            message: Token expired or invalid

    EmailAlreadyVerified:
      description: Email already verified
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: EMAIL_ALREADY_VERIFIED
            message: Email already verified

    InvalidCredentials:
      description: Invalid email or password
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: INVALID_CREDENTIALS
            message: Invalid email or password

    EmailNotVerified:
      description: Email verification required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: EMAIL_NOT_VERIFIED
            message: Please verify your email

    AccountLocked:
      description: Account temporarily locked
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/ErrorResponse'
              - type: object
                properties:
                  retryAfter:
                    type: integer
                    description: Seconds until retry allowed
          example:
            error: ACCOUNT_LOCKED
            message: Account temporarily locked
            retryAfter: 900

    RateLimited:
      description: Too many attempts
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/ErrorResponse'
              - type: object
                properties:
                  retryAfter:
                    type: integer
                    description: Seconds until retry allowed
          example:
            error: RATE_LIMIT_EXCEEDED
            message: Too many attempts
            retryAfter: 300

    Invalid2FA:
      description: Invalid 2FA code
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: INVALID_2FA_CODE
            message: Invalid 2FA code

    TwoFAAttemptsExceeded:
      description: 2FA attempts exceeded
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/ErrorResponse'
              - type: object
                properties:
                  lockoutTime:
                    type: integer
                    description: Seconds until retry allowed
          example:
            error: 2FA_ATTEMPTS_EXCEEDED
            message: Too many 2FA attempts
            lockoutTime: 300

    InvalidGoogleToken:
      description: Invalid Google ID token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: INVALID_GOOGLE_TOKEN
            message: Invalid Google ID token

    EmailLinkedDifferentProvider:
      description: Email exists with different sign-in method
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: EMAIL_LINKED_DIFFERENT_PROVIDER
            message: Email exists with different sign-in method

    GoogleAccountAlreadyLinked:
      description: Google account already linked to another user
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: GOOGLE_ACCOUNT_ALREADY_LINKED
            message: Google account linked to another user

    EmailAlreadyExists:
      description: Email already exists
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: EMAIL_ALREADY_EXISTS
            message: Email is already registered

    TwoFAAlreadyEnabled:
      description: 2FA is already enabled
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: 2FA_ALREADY_ENABLED
            message: 2FA is already enabled

    InvalidTOTPCode:
      description: Invalid TOTP code
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: INVALID_TOTP_CODE
            message: Invalid TOTP code

    FileTooLarge:
      description: File exceeds size limit
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: FILE_TOO_LARGE
            message: Profile picture must be under 5MB

    DuplicateNIK:
      description: NIK already in system
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            duplicate_nik:
              summary: NIK already registered in system
              value:
                success: false
                error:
                  code: DUPLICATE_NIK
                  message: NIK already registered
                  details:
                    nik: 3171012345678901
                    message: This NIK is already associated with another verified account
                timestamp: 2024-03-15T10:30:00Z
                requestId: req_123e4567-e89b-12d3-a456-426614174003

    InsufficientPermissions:
      description: User lacks required permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: INSUFFICIENT_PERMISSIONS
            message: Insufficient privileges

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: NOT_FOUND
            message: Resource not found

    BusinessNameExists:
      description: Business name already registered
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            business_name_exists:
              summary: Business name already exists
              value:
                success: false
                error:
                  code: BUSINESS_NAME_EXISTS
                  message: Business name already registered
                  details:
                    businessName: PT Teknologi Nusantara
                    message: A business with this name is already registered in our system
                timestamp: 2024-03-15T10:30:00Z
                requestId: req_123e4567-e89b-12d3-a456-426614174004

    UserNotFound:
      description: User not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            user_not_found:
              summary: User with email not found
              value:
                success: false
                error:
                  code: USER_NOT_FOUND
                  message: User with email not found
                  details:
                    email: nonexistent@example.com
                    message: No user found with this email address
                timestamp: 2024-03-15T10:30:00Z
                requestId: req_123e4567-e89b-12d3-a456-426614174005

    UserAlreadyMember:
      description: User is already institution member
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            user_already_member:
              summary: User is already member of an institution
              value:
                success: false
                error:
                  code: USER_ALREADY_MEMBER
                  message: User is already institution member
                  details:
                    userEmail: john.doe@example.com
                    currentInstitution: PT Existing Company
                    message: User is already a member of another institution
                timestamp: 2024-03-15T10:30:00Z
                requestId: req_123e4567-e89b-12d3-a456-426614174006

    InvitationExpired:
      description: Invitation has expired
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            invitation_expired:
              summary: Institution invitation has expired
              value:
                success: false
                error:
                  code: INVITATION_EXPIRED
                  message: Invitation has expired
                  details:
                    invitationId: 123
                    expiredDate: 2024-03-14T16:30:00Z
                    message: This invitation expired and can no longer be accepted
                timestamp: 2024-03-15T10:30:00Z
                requestId: req_123e4567-e89b-12d3-a456-426614174007

    InvalidOAuthCallback:
      description: OAuth callback error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: OAUTH_CALLBACK_ERROR
            message: OAuth authentication failed

tags:
  - name: User Profile
    description: User profile management and updates
  - name: KYC Verification
    description: Know Your Customer verification process
  - name: Institution Management
    description: Institution registration and member management
