openapi: 3.0.3
info:
  title: CryptoGadai User Management API
  description: API specification for user management features using Better Auth with NestJS integration, including authentication, profile management, KYC verification, and institution management
  version: 2.0.0
  contact:
    name: CryptoGadai Development Team

servers:
  - url: https://api.cryptogadai.com/api
    description: Production server
  - url: https://cg-api.fh47.com/api
    description: Testing server
  - url: http://cg-api.localhost/api
    description: Local development server

security:
  - apiKeyCookie: []
  - bearerAuth: []

paths:
  # User Type Selection
  /users/type-selection:
    post:
      tags: [User Profile]
      summary: Select user type
      description: Mandatory user type selection after registration (Individual or Institution)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [userType]
              properties:
                userType:
                  type: string
                  enum: [Individual, Institution]
                  description: User type selection
            examples:
              individual:
                summary: Select Individual user type
                value:
                  userType: Individual
              institution:
                summary: Select Institution user type
                value:
                  userType: Institution
      responses:
        '200':
          description: User type selected successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  userType:
                    type: string
                    enum: [Individual, Institution]
                  message:
                    type: string
              examples:
                individual_selected:
                  summary: Individual type selected
                  value:
                    userType: Individual
                    message: User type Individual successfully selected
                institution_selected:
                  summary: Institution type selected
                  value:
                    userType: Institution
                    message: User type Institution successfully selected
        '400':
          $ref: '#/components/responses/ValidationError'
        '409':
          description: User type already selected
          content:
            application/json:
              schema:
                type: object
                properties:
                  userType:
                    type: string
                    enum: [Individual, Institution]
                  message:
                    type: string
              examples:
                already_selected:
                  summary: User type already selected
                  value:
                    userType: Individual
                    message: User type already selected

  # User Profile Management
  /users/profile:
    get:
      tags: [User Profile]
      summary: Get user profile
      description: Retrieves user profile information and available actions
      responses:
        '200':
          description: Profile retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/UserProfile'
              examples:
                individual_user:
                  summary: Individual user profile with verified KYC
                  value:
                    user:
                      id: 12345
                      role: User
                      email: john.doe@example.com
                      emailVerifiedDate: 2024-01-15T10:30:00Z
                      name: John Doe
                      profilePictureUrl: https://storage.cryptogadai.com/profiles/12345.jpg
                      googleId: null
                      userType: Individual
                      kycId: 567
                      kycStatus: verified
                      isVerified: true
                      phoneVerified: true
                      institutionId: null
                      institutionRole: null
                      twoFaEnabled: false
                      createdDate: 2024-01-10T08:00:00Z
                      lastLoginDate: 2024-03-15T14:20:00Z
                institution_owner:
                  summary: Institution owner profile
                  value:
                    user:
                      id: 98765
                      role: User
                      email: ceo@techcorp.com
                      emailVerifiedDate: 2024-02-01T09:15:00Z
                      name: Jane Smith
                      profilePictureUrl: https://storage.cryptogadai.com/profiles/98765.jpg
                      googleId: google_123456789
                      userType: Institution
                      kycId: null
                      kycStatus: none
                      institutionId: 98765
                      institutionRole: Owner
                      twoFaEnabled: true
                      createdDate: 2024-01-20T10:00:00Z
                      lastLoginDate: 2024-03-15T16:45:00Z
                new_user_no_type:
                  summary: New user without type selection
                  value:
                    user:
                      id: 54321
                      role: User
                      email: newuser@example.com
                      emailVerifiedDate: 2024-03-14T12:00:00Z
                      name: Alex Johnson
                      profilePictureUrl: null
                      googleId: null
                      userType: null
                      kycId: null
                      kycStatus: none
                      isVerified: false
                      verificationLevel: unverified
                      phoneVerified: false
                      featureUnlockStatus:
                        tradingEnabled: false
                        withdrawalEnabled: false
                        loanBorrowingEnabled: false
                        loanLendingEnabled: false
                        institutionalFeaturesEnabled: false
                      requiredVerifications:
                        - type: phone
                          title: "Complete your verification to unlock features"
                          description: "Complete phone verification to unlock all platform features"
                          actionText: "Verify Now"
                          priority: high
                        - type: kyc
                          title: "Complete your verification to unlock features"
                          description: "Complete KYC verification to access trading and lending features"
                          actionText: "Verify Now"
                          priority: critical
                      institutionId: null
                      institutionRole: null
                      twoFaEnabled: false
                      createdDate: 2024-03-14T12:00:00Z
                      lastLoginDate: 2024-03-15T09:30:00Z
        '401':
          $ref: '#/components/responses/Unauthorized'

    put:
      tags: [User Profile]
      summary: Update user profile
      description: Updates user profile information and optionally profile picture
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 160
                profilePicture:
                  type: string
                  format: binary
                  description: Image file, max 5MB
            examples:
              name_only:
                summary: Update name only
                value:
                  name: John Michael Doe
              with_picture:
                summary: Update name and profile picture
                value:
                  name: John Michael Doe
                  profilePicture: [Binary image data]
      responses:
        '200':
          description: Profile updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    type: object
                    properties:
                      name:
                        type: string
                      profilePictureUrl:
                        type: string
                  message:
                    type: string
              examples:
                name_updated:
                  summary: Name updated successfully
                  value:
                    user:
                      name: John Michael Doe
                      profilePictureUrl: https://storage.cryptogadai.com/profiles/12345.jpg
                    message: Profile updated successfully
                picture_updated:
                  summary: Name and picture updated
                  value:
                    user:
                      name: John Michael Doe
                      profilePictureUrl: https://storage.cryptogadai.com/profiles/12345_new.jpg
                    message: Profile updated successfully
        '400':
          $ref: '#/components/responses/ValidationError'
        '413':
          $ref: '#/components/responses/FileTooLarge'

  /users/preferences:
    get:
      tags: [User Profile]
      summary: Get user preferences
      description: |
        Retrieve user preferences including notification settings, display preferences,
        and privacy configurations for the authenticated user.

        **Preference Categories:**
        - Notifications: Email, push, and SMS notification preferences
        - Display: Theme, language, and currency display settings
        - Privacy: Profile visibility and data sharing preferences
      responses:
        '200':
          description: User preferences retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPreferencesResponse'
              examples:
                default_preferences:
                  summary: Default user preferences
                  value:
                    success: true
                    data:
                      notifications:
                        email:
                          enabled: true
                          types:
                            paymentAlerts: true
                            loanUpdates: true
                            systemNotifications: true
                            marketingCommunications: false
                        push:
                          enabled: true
                          types:
                            paymentAlerts: true
                            loanUpdates: false
                            systemNotifications: true
                            marketingCommunications: false
                        sms:
                          enabled: false
                          types:
                            paymentAlerts: false
                            loanUpdates: false
                            systemNotifications: false
                            marketingCommunications: false
                      display:
                        theme: "light"
                        language: "en"
                        currency: "USD"
                        timezone: "UTC"
                        dateFormat: "DD/MM/YYYY"
                        numberFormat: "en-US"
                      privacy:
                        profileVisibility: "private"
                        dataSharing:
                          analytics: true
                          thirdPartyIntegrations: false
                          marketResearch: false
                        activityTracking: true
                custom_preferences:
                  summary: Customized user preferences
                  value:
                    success: true
                    data:
                      notifications:
                        email:
                          enabled: true
                          types:
                            paymentAlerts: true
                            loanUpdates: true
                            systemNotifications: false
                            marketingCommunications: true
                        push:
                          enabled: false
                          types:
                            paymentAlerts: false
                            loanUpdates: false
                            systemNotifications: false
                            marketingCommunications: false
                        sms:
                          enabled: true
                          types:
                            paymentAlerts: true
                            loanUpdates: false
                            systemNotifications: false
                            marketingCommunications: false
                      display:
                        theme: "dark"
                        language: "es"
                        currency: "EUR"
                        timezone: "Europe/Madrid"
                        dateFormat: "DD/MM/YYYY"
                        numberFormat: "es-ES"
                      privacy:
                        profileVisibility: "public"
                        dataSharing:
                          analytics: true
                          thirdPartyIntegrations: true
                          marketResearch: true
                        activityTracking: true
        '401':
          $ref: '#/components/responses/Unauthorized'

    put:
      tags: [User Profile]
      summary: Update user preferences
      description: |
        Update user preferences including notification settings, display preferences,
        and privacy configurations for the authenticated user.

        **Update Behavior:**
        - Partial updates supported - only provided fields will be updated
        - Nested objects are merged, not replaced entirely
        - Invalid preference values are rejected with validation errors
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserPreferencesUpdateRequest'
            examples:
              notification_update:
                summary: Update notification preferences only
                value:
                  notifications:
                    email:
                      enabled: false
                    push:
                      enabled: true
                      types:
                        paymentAlerts: true
                        systemNotifications: false
              display_update:
                summary: Update display preferences
                value:
                  display:
                    theme: "dark"
                    language: "fr"
                    currency: "EUR"
              privacy_update:
                summary: Update privacy settings
                value:
                  privacy:
                    profileVisibility: "private"
                    dataSharing:
                      analytics: false
                      thirdPartyIntegrations: false
              full_update:
                summary: Comprehensive preferences update
                value:
                  notifications:
                    email:
                      enabled: true
                      types:
                        paymentAlerts: true
                        loanUpdates: true
                        systemNotifications: true
                        marketingCommunications: false
                    sms:
                      enabled: true
                      types:
                        paymentAlerts: true
                  display:
                    theme: "dark"
                    language: "en"
                    currency: "USD"
                  privacy:
                    profileVisibility: "private"
                    dataSharing:
                      analytics: true
                      thirdPartyIntegrations: false
      responses:
        '200':
          description: User preferences updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPreferencesResponse'
              examples:
                preferences_updated:
                  summary: Preferences successfully updated
                  value:
                    success: true
                    data:
                      notifications:
                        email:
                          enabled: false
                          types:
                            paymentAlerts: true
                            loanUpdates: true
                            systemNotifications: true
                            marketingCommunications: false
                        push:
                          enabled: true
                          types:
                            paymentAlerts: true
                            loanUpdates: false
                            systemNotifications: false
                            marketingCommunications: false
                        sms:
                          enabled: false
                          types:
                            paymentAlerts: false
                            loanUpdates: false
                            systemNotifications: false
                            marketingCommunications: false
                      display:
                        theme: "light"
                        language: "en"
                        currency: "USD"
                        timezone: "UTC"
                        dateFormat: "DD/MM/YYYY"
                        numberFormat: "en-US"
                      privacy:
                        profileVisibility: "private"
                        dataSharing:
                          analytics: true
                          thirdPartyIntegrations: false
                          marketResearch: false
                        activityTracking: true
        '400':
          description: Validation error in preferences data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalid_theme:
                  summary: Invalid theme value
                  value:
                    success: false
                    error:
                      code: "VALIDATION_ERROR"
                      message: "Invalid theme value. Must be 'light' or 'dark'"
                invalid_language:
                  summary: Unsupported language
                  value:
                    success: false
                    error:
                      code: "VALIDATION_ERROR"
                      message: "Unsupported language code. Supported languages: en, es, fr, de, it"
        '401':
          $ref: '#/components/responses/Unauthorized'

  # KYC Management
  /users/kyc/submit:
    post:
      tags: [KYC Verification]
      summary: Submit KYC verification
      description: Submits KYC documents and information for verification
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [nik, name, birthCity, birthDate, province, city, district, subdistrict, address, postalCode, idCardPhoto, selfieWithIdCardPhoto]
              properties:
                nik:
                  type: string
                  pattern: ^[0-9]{16}$
                  description: 16-digit NIK
                name:
                  type: string
                  maxLength: 160
                  description: Full name as it appears on ID card
                birthCity:
                  type: string
                  maxLength: 100
                birthDate:
                  type: string
                  format: date
                province:
                  type: string
                  maxLength: 100
                city:
                  type: string
                  maxLength: 100
                  description: Kabupaten/Kota
                district:
                  type: string
                  maxLength: 100
                  description: Kecamatan
                subdistrict:
                  type: string
                  maxLength: 100
                  description: Kelurahan/Desa
                address:
                  type: string
                  description: Complete residential address
                postalCode:
                  type: string
                  pattern: ^[0-9]{5}$
                idCardPhoto:
                  type: string
                  format: binary
                selfieWithIdCardPhoto:
                  type: string
                  format: binary
            examples:
              jakarta_resident:
                summary: Jakarta resident KYC submission
                value:
                  nik: 3171012345678901
                  name: John Doe Prasetyo
                  birthCity: Jakarta
                  birthDate: 1990-05-15
                  province: DKI Jakarta
                  city: Jakarta Pusat
                  district: Menteng
                  subdistrict: Menteng
                  address: Jl. MH Thamrin No. 123, RT 001 RW 002
                  postalCode: 10350
                  idCardPhoto: [Binary image data - ID card]
                  selfieWithIdCardPhoto: [Binary image data - Selfie with ID]
              surabaya_resident:
                summary: Surabaya resident KYC submission
                value:
                  nik: 3578012345678901
                  name: Siti Aminah
                  birthCity: Surabaya
                  birthDate: 1985-12-20
                  province: Jawa Timur
                  city: Surabaya
                  district: Gubeng
                  subdistrict: Gubeng
                  address: Jl. Pemuda No. 45, RT 003 RW 001
                  postalCode: 60281
                  idCardPhoto: [Binary image data - ID card]
                  selfieWithIdCardPhoto: [Binary image data - Selfie with ID]
      responses:
        '201':
          description: KYC submitted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  kycSubmission:
                    $ref: '#/components/schemas/KYCSubmission'
                  message:
                    type: string
              examples:
                submission_success:
                  summary: KYC submission successful
                  value:
                    kycSubmission:
                      id: 567
                      status: pending
                      submittedDate: 2024-03-15T10:30:00Z
                      verifiedDate: null
                      rejectedDate: null
                      rejectionReason: null
                    message: KYC documents submitted successfully and are under review
        '400':
          $ref: '#/components/responses/ValidationError'
        '409':
          $ref: '#/components/responses/DuplicateNIK'

  /users/kyc/status:
    get:
      tags: [KYC Verification]
      summary: Get KYC status
      description: Retrieves current KYC verification status
      responses:
        '200':
          description: KYC status retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  kycStatus:
                    type: string
                    enum: [pending, verified, rejected]
                    description: Current KYC status
                  submission:
                    $ref: '#/components/schemas/KYCSubmission'
                  canResubmit:
                    type: boolean
              examples:
                pending_review:
                  summary: KYC pending review
                  value:
                    kycStatus: pending
                    submission:
                      id: 567
                      status: pending
                      submittedDate: 2024-03-15T10:30:00Z
                      verifiedDate: null
                      rejectedDate: null
                      rejectionReason: null
                    canResubmit: false
                verified_kyc:
                  summary: KYC verified
                  value:
                    kycStatus: verified
                    submission:
                      id: 567
                      status: verified
                      submittedDate: 2024-03-15T10:30:00Z
                      verifiedDate: 2024-03-16T14:20:00Z
                      rejectedDate: null
                      rejectionReason: null
                    canResubmit: false
                rejected_kyc:
                  summary: KYC rejected with resubmit option
                  value:
                    kycStatus: rejected
                    submission:
                      id: 567
                      status: rejected
                      submittedDate: 2024-03-15T10:30:00Z
                      verifiedDate: null
                      rejectedDate: 2024-03-16T16:45:00Z
                      rejectionReason: ID card photo quality is too low. Please upload a clearer image.
                    canResubmit: true
                no_submission:
                  summary: No KYC submission yet
                  value:
                    kycStatus: none
                    submission: null
                    canResubmit: true

  # Institution Management
  /institutions:
    post:
      tags: [Institution Management]
      summary: Apply for institution account
      description: Submits institution registration application
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [businessName, registrationNumber, npwpNumber, businessType, province, city, district, subdistrict, address, postalCode, npwpDocument, registrationDocument, deedOfEstablishment, directorIdCard, ministryApprovalDocument]
              properties:
                businessName:
                  type: string
                  maxLength: 160
                registrationNumber:
                  type: string
                  maxLength: 50
                  description: NIB or TDP number
                npwpNumber:
                  type: string
                  pattern: ^[0-9]{2}\\.[0-9]{3}\\.[0-9]{3}\\.[0-9]-[0-9]{3}\\.[0-9]{3}$
                  maxLength: 20
                  description: NPWP number in format XX.XXX.XXX.X-XXX.XXX
                businessType:
                  type: string
                  maxLength: 100
                businessDescription:
                  type: string
                  description: Optional business description
                province:
                  type: string
                  maxLength: 100
                city:
                  type: string
                  maxLength: 100
                district:
                  type: string
                  maxLength: 100
                subdistrict:
                  type: string
                  maxLength: 100
                address:
                  type: string
                  description: Complete business address
                postalCode:
                  type: string
                  pattern: ^[0-9]{5,10}$
                  maxLength: 10
                directorName:
                  type: string
                  maxLength: 160
                  description: Name of company director/owner
                directorPosition:
                  type: string
                  maxLength: 100
                  default: Director
                  description: Position of the director
                npwpDocument:
                  type: string
                  format: binary
                  description: NPWP document (PDF/Image, max 10MB)
                registrationDocument:
                  type: string
                  format: binary
                  description: Company registration document (PDF/Image, max 10MB)
                deedOfEstablishment:
                  type: string
                  format: binary
                  description: Deed of establishment document (PDF/Image, max 10MB)
                directorIdCard:
                  type: string
                  format: binary
                  description: Director's ID card (PDF/Image, max 10MB)
                ministryApprovalDocument:
                  type: string
                  format: binary
                  description: Optional ministry approval document (PDF/Image, max 10MB)
                businessLicense:
                  type: string
                  format: binary
                  description: Optional additional business license (PDF/Image, max 10MB)
            examples:
              tech_company:
                summary: Technology company application
                value:
                  businessName: PT Teknologi Nusantara
                  registrationNumber: 8120202123456
                  npwpNumber: 01.234.567.8-901.000
                  businessType: PT
                  businessDescription: Technology consulting and software development services
                  province: DKI Jakarta
                  city: Jakarta Selatan
                  district: Kebayoran Baru
                  subdistrict: Senayan
                  address: Jl. Asia Afrika No. 8, Komplex Gelora Bung Karno
                  postalCode: 10270
                  directorName: Budi Santoso
                  directorPosition: CEO
                  npwpDocument: [Binary PDF - NPWP document]
                  registrationDocument: [Binary PDF - NIB certificate]
                  deedOfEstablishment: [Binary PDF - Akta Pendirian]
                  directorIdCard: '[Binary Image - Directors KTP]'
                  ministryApprovalDocument: [Binary PDF - SK Kemenkumham]
                  businessLicense: [Binary PDF - Additional license]
              trading_company:
                summary: Trading company application
                value:
                  businessName: CV Mitra Jaya Trading
                  registrationNumber: 1234567890123
                  npwpNumber: 02.345.678.9-012.000
                  businessType: CV
                  businessDescription: Import and export trading company specializing in electronics
                  province: Jawa Timur
                  city: Surabaya
                  district: Wonokromo
                  subdistrict: Wonokromo
                  address: Jl. Raya Darmo No. 123
                  postalCode: 60241
                  directorName: Siti Rahayu
                  directorPosition: Director
                  npwpDocument: [Binary PDF - NPWP document]
                  registrationDocument: [Binary PDF - TDP certificate]
                  deedOfEstablishment: [Binary PDF - Akta Pendirian]
                  directorIdCard: '[Binary Image - Directors KTP]'
                  ministryApprovalDocument: [Binary PDF - Ministry approval]
                  businessLicense: [Binary PDF - Trading license]
      responses:
        '201':
          description: Application submitted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  application:
                    $ref: '#/components/schemas/InstitutionApplication'
                  message:
                    type: string
              examples:
                application_success:
                  summary: Institution application submitted
                  value:
                    application:
                      id: 789
                      businessName: PT Teknologi Nusantara
                      submittedDate: 2024-03-15T14:30:00Z
                      status: Submitted
                    message: Institution application submitted successfully and is under review
        '400':
          $ref: '#/components/responses/ValidationError'
        '409':
          $ref: '#/components/responses/BusinessNameExists'

  /institutions/{id}:
    get:
      tags: [Institution Management]
      summary: Get institution details
      description: Retrieves detailed information about an institution including verification status and member count
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 98765
      responses:
        '200':
          description: Institution details retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  institution:
                    $ref: '#/components/schemas/Institution'
              examples:
                verified_institution:
                  summary: Verified institution with members
                  value:
                    institution:
                      id: 98765
                      name: PT Teknologi Nusantara
                      type: PT
                      verificationStatus: Verified
                      memberCount: 5
                      activeSince: 2024-01-20T10:00:00Z
                      registrationDetails:
                        npwpNumber: 01.234.567.8-901.000
                        registrationNumber: 8120202123456
                        businessType: PT
        '404':
          $ref: '#/components/responses/NotFound'
        '403':
          $ref: '#/components/responses/InsufficientPermissions'

  /institutions/{id}/members:
    get:
      tags: [Institution Management]
      summary: List institution members
      description: Retrieves list of current institution members with their roles and verification status
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 98765
      responses:
        '200':
          description: Institution members retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  members:
                    type: array
                    items:
                      $ref: '#/components/schemas/InstitutionMember'
                  memberCount:
                    type: integer
                    description: Total count of active members
              examples:
                institution_members:
                  summary: List of institution members
                  value:
                    members:
                      - id: mem_001
                        userId: 98765
                        institutionId: 98765
                        role: Owner
                        verificationStatus: Verified
                        joinedAt: 2024-01-20T10:00:00Z
                        invitedBy: null
                        user:
                          id: 98765
                          name: Jane Smith
                          email: ceo@techcorp.com
                          profilePictureUrl: https://storage.cryptogadai.com/profiles/98765.jpg
                      - id: mem_002
                        userId: 12346
                        institutionId: 98765
                        role: Finance
                        verificationStatus: Verified
                        joinedAt: 2024-02-15T14:30:00Z
                        invitedBy: 98765
                        user:
                          id: 12346
                          name: John Doe
                          email: finance@techcorp.com
                          profilePictureUrl: https://storage.cryptogadai.com/profiles/12346.jpg
                    memberCount: 2
        '404':
          $ref: '#/components/responses/NotFound'
        '403':
          $ref: '#/components/responses/InsufficientPermissions'

  /institutions/{id}/members/{userId}:
    delete:
      tags: [Institution Management]
      summary: Remove institution member
      description: Removes a member from the institution (Owner only)
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 98765
        - name: userId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 12346
      responses:
        '200':
          description: Member removed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  removedMember:
                    type: object
                    properties:
                      userId:
                        type: integer
                        format: int64
                      userName:
                        type: string
                      role:
                        type: string
              examples:
                member_removed:
                  summary: Finance member removed successfully
                  value:
                    message: Member removed from institution successfully
                    removedMember:
                      userId: 12346
                      userName: John Doe
                      role: Finance
        '400':
          description: Cannot remove institution owner
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                cannot_remove_owner:
                  summary: Cannot remove institution owner
                  value:
                    success: false
                    error:
                      code: CANNOT_REMOVE_OWNER
                      message: Institution owner cannot be removed
                    timestamp: 2024-03-15T10:30:00Z
        '404':
          $ref: '#/components/responses/NotFound'
        '403':
          $ref: '#/components/responses/InsufficientPermissions'

  /institutions/{id}/invitations:
    get:
      tags: [Institution Management]
      summary: List pending invitations
      description: Retrieves list of pending invitations for the institution
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 98765
      responses:
        '200':
          description: Pending invitations retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  invitations:
                    type: array
                    items:
                      $ref: '#/components/schemas/InstitutionInvitationDetails'
              examples:
                pending_invitations:
                  summary: List of pending invitations
                  value:
                    invitations:
                      - id: 123
                        userEmail: finance.manager@example.com
                        role: Finance
                        invitedDate: 2024-03-15T16:30:00Z
                        expiresAt: 2024-03-22T16:30:00Z
                        status: Sent
                        invitedBy:
                          id: 98765
                          name: Jane Smith
                      - id: 124
                        userEmail: analyst@example.com
                        role: Finance
                        invitedDate: 2024-03-14T10:00:00Z
                        expiresAt: 2024-03-21T10:00:00Z
                        status: Sent
                        invitedBy:
                          id: 98765
                          name: Jane Smith
        '404':
          $ref: '#/components/responses/NotFound'
        '403':
          $ref: '#/components/responses/InsufficientPermissions'

  /institutions/{id}/status:
    get:
      tags: [Institution Management]
      summary: Get application status
      description: Retrieves current status and progress of institution application
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Application status retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  application:
                    $ref: '#/components/schemas/InstitutionApplication'
                  progress:
                    type: object
                    properties:
                      currentStep:
                        type: integer
                      totalSteps:
                        type: integer
                      completedSteps:
                        type: array
                        items:
                          type: string
                      nextAction:
                        type: string
                  documents:
                    type: object
                    properties:
                      uploaded:
                        type: integer
                      required:
                        type: integer
                      status:
                        type: string
                        enum: [incomplete, complete, under_review]
        '404':
          $ref: '#/components/responses/NotFound'

  /institutions/invitations:
    post:
      tags: [Institution Management]
      summary: Invite institution member
      description: Invites a user to join institution
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [userEmail, role]
              properties:
                userEmail:
                  type: string
                  format: email
                role:
                  type: string
                  enum: [Finance]
                message:
                  type: string
                  description: Optional invitation message
            examples:
              finance_member:
                summary: Invite finance member
                value:
                  userEmail: finance.manager@example.com
                  role: Finance
                  message: We would like to invite you to join our institution as Finance member to help manage our lending operations.
              simple_invitation:
                summary: Simple invitation without message
                value:
                  userEmail: john.doe@example.com
                  role: Finance
      responses:
        '201':
          description: Invitation created
          content:
            application/json:
              schema:
                type: object
                properties:
                  invitation:
                    $ref: '#/components/schemas/InstitutionInvitation'
              examples:
                invitation_sent:
                  summary: Invitation sent successfully
                  value:
                    invitation:
                      id: 123
                      userEmail: finance.manager@example.com
                      role: Finance
                      invitedDate: 2024-03-15T16:30:00Z
        '400':
          $ref: '#/components/responses/UserNotFound'
        '409':
          $ref: '#/components/responses/UserAlreadyMember'

  /institutions/invitations/{id}/resend:
    post:
      tags: [Institution Management]
      summary: Resend institution invitation
      description: Resends an existing pending invitation
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 123
      responses:
        '200':
          description: Invitation resent successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  invitation:
                    $ref: '#/components/schemas/InstitutionInvitation'
                  message:
                    type: string
              examples:
                invitation_resent:
                  summary: Invitation resent successfully
                  value:
                    invitation:
                      id: 123
                      userEmail: finance.manager@example.com
                      role: Finance
                      invitedDate: 2024-03-15T16:30:00Z
                    message: Invitation resent successfully
        '400':
          description: Cannot resend invitation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invitation_already_responded:
                  summary: Invitation already responded to
                  value:
                    success: false
                    error:
                      code: INVITATION_ALREADY_RESPONDED
                      message: Cannot resend invitation that has already been accepted or rejected
                    timestamp: 2024-03-15T10:30:00Z
        '404':
          $ref: '#/components/responses/NotFound'
        '403':
          $ref: '#/components/responses/InsufficientPermissions'

  /institutions/invitations/{id}:
    delete:
      tags: [Institution Management]
      summary: Cancel pending invitation
      description: Cancels a pending invitation (Owner only)
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 123
      responses:
        '200':
          description: Invitation cancelled successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
              examples:
                invitation_cancelled:
                  summary: Invitation cancelled successfully
                  value:
                    message: Invitation cancelled successfully
        '400':
          description: Cannot cancel invitation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invitation_already_responded:
                  summary: Invitation already responded to
                  value:
                    success: false
                    error:
                      code: INVITATION_ALREADY_RESPONDED
                      message: Cannot cancel invitation that has already been accepted or rejected
                    timestamp: 2024-03-15T10:30:00Z
        '404':
          $ref: '#/components/responses/NotFound'
        '403':
          $ref: '#/components/responses/InsufficientPermissions'

    get:
      tags: [Institution Management]
      summary: Get invitation details
      description: Retrieves detailed information about an invitation for review
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 123
      responses:
        '200':
          description: Invitation details retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  invitation:
                    $ref: '#/components/schemas/InstitutionInvitationDetails'
              examples:
                invitation_details:
                  summary: Detailed invitation information
                  value:
                    invitation:
                      id: 123
                      userEmail: finance.manager@example.com
                      role: Finance
                      invitedDate: 2024-03-15T16:30:00Z
                      expiresAt: 2024-03-22T16:30:00Z
                      message: We would like to invite you to join our institution as Finance member.
                      institution:
                        id: 98765
                        name: PT Teknologi Nusantara
                        type: PT
                        verificationStatus: Verified
                        memberCount: 5
                        activeSince: 2024-01-20T10:00:00Z
                      rolePermissions:
                        - manage_finance_accounts
                        - view_loan_applications
                        - process_withdrawals
                      roleRestrictions:
                        - cannot_invite_members
                        - cannot_remove_members
                        - cannot_access_admin_settings
        '404':
          $ref: '#/components/responses/NotFound'

  /user/institutions:
    get:
      tags: [User Profile]
      summary: Get user's institution memberships
      description: Retrieves user's current institution membership and role information
      responses:
        '200':
          description: User institution memberships retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  memberships:
                    type: array
                    items:
                      type: object
                      properties:
                        institution:
                          $ref: '#/components/schemas/Institution'
                        role:
                          type: string
                          enum: [Owner, Finance]
                        joinedAt:
                          type: string
                          format: date-time
                        verificationStatus:
                          type: string
                          enum: [Verified, Pending, Unverified]
              examples:
                institution_owner:
                  summary: User is institution owner
                  value:
                    memberships:
                      - institution:
                          id: 98765
                          name: PT Teknologi Nusantara
                          type: PT
                          verificationStatus: Verified
                          memberCount: 5
                          activeSince: 2024-01-20T10:00:00Z
                        role: Owner
                        joinedAt: 2024-01-20T10:00:00Z
                        verificationStatus: Verified
                individual_user:
                  summary: Individual user with no institution
                  value:
                    memberships: []
        '401':
          $ref: '#/components/responses/Unauthorized'

  /institutions/invitations/{id}/accept:
    post:
      tags: [Institution Management]
      summary: Accept institution invitation
      description: Accepts a institution invitation
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 123
      responses:
        '200':
          description: Invitation accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  institution:
                    type: object
                    properties:
                      id:
                        type: integer
                        format: int64
                      businessName:
                        type: string
                      role:
                        type: string
                  message:
                    type: string
              examples:
                accepted_finance:
                  summary: Finance member invitation accepted
                  value:
                    institution:
                      id: 98765
                      businessName: PT Teknologi Nusantara
                      role: Finance
                    message: You have successfully joined PT Teknologi Nusantara as Finance member
        '400':
          $ref: '#/components/responses/InvitationExpired'

  # Notification Management
  /notifications:
    get:
      tags: [Notifications]
      summary: List user notifications
      description: Retrieve paginated list of notifications for authenticated user
      parameters:
        - name: page
          in: query
          description: Page number (1-based)
          schema:
            type: integer
            minimum: 1
            default: 1
          example: 1
        - name: limit
          in: query
          description: Number of notifications per page (max 100)
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          example: 10
        - name: type
          in: query
          description: Filter by notification type
          schema:
            type: string
            enum:
              # Authentication notifications
              - UserRegistered
              - EmailVerificationSent
              - EmailVerified
              - PasswordResetRequested
              - PasswordResetCompleted
              - TwoFactorEnabled
              - TwoFactorDisabled
              - LoginFromNewDevice
              - SuspiciousLoginAttempt
              # KYC notifications
              - UserKycVerified
              - UserKycRejected
              # Institution notifications
              - InstitutionApplicationVerified
              - InstitutionApplicationRejected
              - InstitutionMemberInvited
              - InstitutionMemberAccepted
              - InstitutionMemberRejected
              # Invoice notifications
              - InvoiceCreated
              - InvoiceDue
              - InvoiceExpired
              - InvoicePartiallyPaid
              - InvoicePaid
              # Loan notifications
              - LoanOfferPublished
              - LoanApplicationPublished
              - LoanApplicationMatched
              - LoanOfferMatched
              - LoanApplicationApproved
              - LoanApplicationRejected
              - LoanOfferClosed
              - LoanDisbursement
              - LoanActivated
              - LoanRepaymentDue
              - LoanRepaymentCompleted
              - LoanRepaymentReceived
              - LoanRepaymentFailed
              - LoanLiquidation
              - LoanLtvBreach
              # Withdrawal notifications
              - WithdrawalRequested
              - WithdrawalRefunded
              - WithdrawalRefundApproved
              - WithdrawalRefundRejected
              # Enhanced loan notifications
              - LiquidationWarning
              - LiquidationCompleted
              # System notifications
              - PlatformMaintenanceNotice,
              - SecurityAlert
          example: LoanRepaymentDue
        - name: unreadOnly
          in: query
          description: Filter to show only unread notifications
          schema:
            type: boolean
            default: false
          example: true
      responses:
        '200':
          description: Notifications retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationsResponse'
              examples:
                mixed_notifications:
                  summary: Mixed notifications with pagination
                  value:
                    notifications:
                      - id: 456
                        type: LoanRepaymentDue
                        title: Loan Repayment Due Tomorrow
                        content: Your loan payment of 10,300 USDT is due tomorrow. Please ensure sufficient balance.
                        isRead: false
                        readDate: null
                        createdDate: 2024-03-15T10:00:00Z
                      - id: 455
                        type: UserKycVerified
                        title: KYC Verification Approved
                        content: Your identity verification has been approved. You can now access all platform features.
                        isRead: true
                        readDate: 2024-03-14T15:30:00Z
                        createdDate: 2024-03-14T14:20:00Z
                      - id: 454
                        type: InstitutionMemberInvited
                        title: Institution Invitation Received
                        content: You have been invited to join PT Teknologi Nusantara as Finance member.
                        isRead: false
                        readDate: null
                        createdDate: 2024-03-13T16:45:00Z
                    pagination:
                      page: 1
                      limit: 10
                      total: 45
                      totalPages: 5
                      hasNext: true
                      hasPrev: false
                    unreadCount: 12
                unread_only:
                  summary: Unread notifications only
                  value:
                    notifications:
                      - id: 456
                        type: LoanRepaymentDue
                        title: Loan Repayment Due Tomorrow
                        content: Your loan payment of 10,300 USDT is due tomorrow. Please ensure sufficient balance.
                        isRead: false
                        readDate: null
                        createdDate: 2024-03-15T10:00:00Z
                      - id: 454
                        type: LiquidationWarning
                        title: Collateral LTV Warning
                        content: Your collateral LTV ratio has reached 66.5%. Please add more collateral or repay part of your loan.
                        isRead: false
                        readDate: null
                        createdDate: 2024-03-13T16:45:00Z
                    pagination:
                      page: 1
                      limit: 10
                      total: 12
                      totalPages: 2
                      hasNext: true
                      hasPrev: false
                    unreadCount: 12
        '401':
          $ref: '#/components/responses/Unauthorized'

  /notifications/{id}/read:
    patch:
      tags: [Notifications]
      summary: Mark notification as read
      description: Mark a specific notification as read
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 456
      responses:
        '200':
          description: Notification marked as read
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Notification marked as read
              examples:
                mark_read_success:
                  summary: Notification marked as read
                  value:
                    message: Notification marked as read
        '404':
          $ref: '#/components/responses/NotFound'

  /notifications/mark-all-read:
    patch:
      tags: [Notifications]
      summary: Mark all notifications as read
      description: Mark all unread notifications as read for authenticated user
      responses:
        '200':
          description: All notifications marked as read
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: All notifications marked as read
                  updatedCount:
                    type: integer
                    description: Number of notifications that were updated
              examples:
                multiple_marked:
                  summary: Multiple notifications marked as read
                  value:
                    message: All notifications marked as read
                    updatedCount: 12
                none_to_mark:
                  summary: No unread notifications to mark
                  value:
                    message: All notifications marked as read
                    updatedCount: 0

  /notifications/{id}/archive:
    patch:
      tags: [Notifications]
      summary: Archive notification
      description: |
        Archive a specific notification. Addresses audit discrepancy D05 by providing notification archiving functionality.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 456
      responses:
        '200':
          description: Notification archived successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Notification archived successfully
        '404':
          $ref: '#/components/responses/NotFound'

  /notifications/{id}/delete:
    delete:
      tags: [Notifications]
      summary: Delete notification
      description: |
        Delete a specific notification permanently. Addresses audit discrepancy D05 by providing notification deletion functionality.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 456
      responses:
        '200':
          description: Notification deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Notification deleted successfully
        '404':
          $ref: '#/components/responses/NotFound'

  /institutions/invitations/{id}/reject:
    post:
      tags: [Institution Management]
      summary: Reject institution invitation
      description: Rejects a institution invitation
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 123
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Optional rejection reason
            examples:
              with_reason:
                summary: Reject with reason
                value:
                  reason: I am not interested in joining this institution at the moment
              without_reason:
                summary: Reject without reason
                value: {}
      responses:
        '200':
          description: Invitation rejected
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
              examples:
                rejection_success:
                  summary: Invitation rejected successfully
                  value:
                    message: Institution invitation rejected successfully

components:
  securitySchemes:
    apiKeyCookie:
      type: apiKey
      in: cookie
      name: apiKeyCookie
      description: Better Auth API Key authentication via cookie
    bearerAuth:
      type: http
      scheme: bearer
      description: Better Auth Bearer token authentication

  schemas:
    UserProfile:
      type: object
      description: User Profile
      properties:
        id:
          type: integer
          format: int64
        role:
          type: string
          enum: [User]
        email:
          type: string
          format: email
          nullable: true
        emailVerifiedDate:
          type: string
          format: date-time
          nullable: true
        name:
          type: string
          nullable: true
        profilePictureUrl:
          type: string
          nullable: true
        googleId:
          type: string
          nullable: true
        userType:
          type: string
          enum: [Individual, Institution]
          description: User type selection (mandatory after registration)
          nullable: true
        kycId:
          type: integer
          format: int64
          nullable: true
        kycStatus:
          type: string
          enum: [none, pending, verified, rejected]
          description: Current KYC status
        isVerified:
          type: boolean
          description: Overall verification status for display badges (computed from KYC and institution status)
        verificationLevel:
          type: string
          enum: [verified, unverified, pending, rejected]
          description: Standardized verification level for UI badges
        phoneVerified:
          type: boolean
          description: Phone number verification status (addresses audit discrepancy D03)
        requiredVerifications:
          type: array
          description: List of verifications still required (addresses audit discrepancy D03)
          items:
            type: object
            properties:
              type:
                type: string
                enum: [email, phone, kyc, institution]
                description: Type of verification required
              title:
                type: string
                description: Display title for verification requirement
                example: "Complete your verification to unlock features"
              description:
                type: string
                description: Detailed description of what needs to be verified
                example: "Complete phone verification to unlock all platform features"
              actionText:
                type: string
                description: Text for action button
                example: "Verify Now"
              priority:
                type: string
                enum: [low, medium, high, critical]
                description: Priority level of this verification
        institutionId:
          type: integer
          format: int64
          nullable: true
        institutionRole:
          type: string
          enum: [Owner, Finance]
          nullable: true
        twoFaEnabled:
          type: boolean
        createdDate:
          type: string
          format: date-time
        lastLoginDate:
          type: string
          format: date-time
          nullable: true

    PortfolioAnalytics:
      type: object
      properties:
        totalPortfolioValue:
          type: object
          properties:
            amount:
              type: string
              description: Total portfolio value in USD
              example: 125000.50
            currency:
              type: string
              example: USD
            lastUpdated:
              type: string
              format: date-time
        performanceMetrics:
          type: object
          properties:
            dailyChange:
              type: object
              properties:
                amount:
                  type: string
                  example: 1234.56
                percentage:
                  type: number
                  example: 5.2
            weeklyTrend:
              type: array
              items:
                type: object
                properties:
                  date:
                    type: string
                    format: date
                  value:
                    type: string
        assetBreakdown:
          type: object
          properties:
            cryptoAssets:
              type: object
              properties:
                percentage:
                  type: number
                  example: 70.0
                value:
                  type: string
                  example: 87500.00
            stablecoins:
              type: object
              properties:
                percentage:
                  type: number
                  example: 20.0
                value:
                  type: string
                  example: 25000.00
            activeLoanCollateral:
              type: object
              properties:
                percentage:
                  type: number
                  example: 10.0
                value:
                  type: string
                  example: 12500.00
        loanMetrics:
          type: object
          properties:
            activeBorrowedLoans:
              type: object
              properties:
                count:
                  type: integer
                  example: 3
                totalPrincipal:
                  type: string
                  example: 50000.00
                totalCollateral:
                  type: string
                  example: 65000.00
                averageLTV:
                  type: number
                  example: 0.77
            activeLentLoans:
              type: object
              properties:
                count:
                  type: integer
                  example: 5
                totalPrincipal:
                  type: string
                  example: 75000.00
                expectedInterest:
                  type: string
                  example: 6750.00

    KYCSubmission:
      type: object
      properties:
        id:
          type: integer
          format: int64
        status:
          type: string
          description: Current KYC status (derived from time-based verification fields)
          enum: [pending, verified, rejected]
          readOnly: true
          writeOnly: false
        submittedDate:
          type: string
          format: date-time
        verifiedDate:
          type: string
          format: date-time
          nullable: true
        rejectedDate:
          type: string
          format: date-time
          nullable: true
        rejectionReason:
          type: string
          nullable: true

    KYCSubmissionSummary:
      type: object
      properties:
        id:
          type: integer
          format: int64
        userId:
          type: integer
          format: int64
        userName:
          type: string
        submittedDate:
          type: string
          format: date-time
        timeInQueue:
          type: string
          description: Duration in hours

    KYCSubmissionDetail:
      type: object
      properties:
        id:
          type: integer
          format: int64
        userId:
          type: integer
          format: int64
        nik:
          type: string
        name:
          type: string
          description: Full name as registered
        birthCity:
          type: string
        birthDate:
          type: string
          format: date
        province:
          type: string
        city:
          type: string
        district:
          type: string
        subdistrict:
          type: string
        address:
          type: string
        postalCode:
          type: string
          maxLength: 10
        phoneNumber:
          type: string
        idCardPhotoUrl:
          type: string
          description: Signed URL for ID card photo
        selfieWithIdCardPhotoUrl:
          type: string
          description: Signed URL for selfie with ID card photo
        submittedDate:
          type: string
          format: date-time

    InstitutionApplication:
      type: object
      properties:
        id:
          type: integer
          format: int64
        businessName:
          type: string
        submittedDate:
          type: string
          format: date-time
        status:
          type: string
          description: Current application status (derived from time-based approval fields)
          enum: [Submitted, UnderReview, Verified, Rejected]
          readOnly: true
          writeOnly: false

    InstitutionApplicationSummary:
      type: object
      properties:
        id:
          type: integer
          format: int64
        businessName:
          type: string
        applicantName:
          type: string
        submittedDate:
          type: string
          format: date-time

    Institution:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
          description: Business name of the institution
        type:
          type: string
          description: Business type (e.g., PT, CV, UD)
        verificationStatus:
          type: string
          enum: [Verified, Pending, Unverified]
          description: Current verification status
        memberCount:
          type: integer
          description: Number of active members
          minimum: 0
        activeSince:
          type: string
          format: date-time
          description: Date when institution was approved/activated
        registrationDetails:
          type: object
          properties:
            npwpNumber:
              type: string
              description: NPWP tax identification number
            registrationNumber:
              type: string
              description: Business registration number (NIB/TDP)
            businessType:
              type: string
              description: Legal business entity type

    InstitutionMember:
      type: object
      properties:
        id:
          type: string
          description: Unique member identifier
        userId:
          type: integer
          format: int64
          description: User ID of the member
        institutionId:
          type: integer
          format: int64
          description: Institution ID
        role:
          type: string
          enum: [Owner, Finance]
          description: Member role within the institution
        verificationStatus:
          type: string
          enum: [Verified, Pending, Unverified]
          description: Member verification status
        joinedAt:
          type: string
          format: date-time
          description: Date when user joined the institution
        invitedBy:
          type: integer
          format: int64
          nullable: true
          description: User ID who invited this member (null for owners)
        user:
          $ref: '#/components/schemas/UserProfile'
      required:
        - id
        - userId
        - institutionId
        - role
        - verificationStatus
        - joinedAt
        - user

    InstitutionInvitation:
      type: object
      properties:
        id:
          type: integer
          format: int64
        userEmail:
          type: string
          format: email
        role:
          type: string
          enum: [Finance]
        invitedDate:
          type: string
          format: date-time

    InstitutionInvitationDetails:
      allOf:
        - $ref: '#/components/schemas/InstitutionInvitation'
        - type: object
          properties:
            status:
              type: string
              enum: [Sent, Accepted, Rejected, Expired]
              description: Current invitation status
            expiresAt:
              type: string
              format: date-time
              description: When the invitation expires
            message:
              type: string
              nullable: true
              description: Optional invitation message
            institution:
              $ref: '#/components/schemas/Institution'
            rolePermissions:
              type: array
              items:
                type: string
              description: List of permissions for the invited role
              example:
                - manage_finance_accounts
                - view_loan_applications
                - process_withdrawals
            roleRestrictions:
              type: array
              items:
                type: string
              description: List of restrictions for the invited role
              example:
                - cannot_invite_members
                - cannot_remove_members
                - cannot_access_admin_settings
            invitedBy:
              type: object
              properties:
                id:
                  type: integer
                  format: int64
                name:
                  type: string
              description: User who sent the invitation

    NotificationsResponse:
      type: object
      properties:
        notifications:
          type: array
          items:
            $ref: '#/components/schemas/Notification'
        pagination:
          $ref: '#/components/schemas/PaginationMeta'
        unreadCount:
          type: integer
          description: Total count of unread notifications
          example: 5

    Notification:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 123
        type:
          type: string
          enum: [
              # Authentication notifications
              UserRegistered,
              EmailVerificationSent,
              EmailVerified,
              PasswordResetRequested,
              PasswordResetCompleted,
              TwoFactorEnabled,
              TwoFactorDisabled,
              LoginFromNewDevice,
              SuspiciousLoginAttempt,
              # KYC notifications
              UserKycVerified,
              UserKycRejected,
              # Institution notifications
              InstitutionApplicationVerified,
              InstitutionApplicationRejected,
              InstitutionMemberInvited,
              InstitutionMemberAccepted,
              InstitutionMemberRejected,
              # Invoice notifications
              InvoiceCreated,
              InvoiceDue,
              InvoiceExpired,
              InvoicePartiallyPaid,
              InvoicePaid,
              # Loan notifications
              LoanOfferPublished,
              LoanApplicationPublished,
              LoanApplicationMatched,
              LoanOfferMatched,
              LoanApplicationApproved,
              LoanApplicationRejected,
              LoanOfferClosed,
              LoanDisbursement,
              LoanActivated,
              LoanRepaymentDue,
              LoanRepaymentCompleted,
              LoanRepaymentReceived,
              LoanRepaymentFailed,
              LoanLiquidation,
              LoanLtvBreach,
              # Withdrawal notifications
              WithdrawalRequested,
              WithdrawalRefunded,
              WithdrawalRefundApproved,
              WithdrawalRefundRejected,
              # Enhanced loan notifications
              LiquidationWarning,
              LiquidationCompleted,
              # System notifications
              PlatformMaintenanceNotice,
              SecurityAlert,
            ]
          description: Type of notification matching database enum
          example: LoanRepaymentDue
        title:
          type: string
          description: Notification title/subject
          example: Loan Repayment Due Tomorrow
        content:
          type: string
          description: Notification body content
          example: Your loan payment of $500 is due tomorrow. Please ensure sufficient balance.
        isRead:
          type: boolean
          description: Whether the notification has been read
          example: false
        readDate:
          type: string
          format: date-time
          nullable: true
          description: When the notification was read
          example: null
        createdDate:
          type: string
          format: date-time
          description: When the notification was created
          example: 2024-03-15T10:30:00Z

    # Common Schemas
    PaginationMeta:
      type: object
      properties:
        page:
          type: integer
          description: Current page number (1-based)
          example: 1
          minimum: 1
        limit:
          type: integer
          description: Number of items per page
          example: 20
          minimum: 1
          maximum: 100
        total:
          type: integer
          description: Total number of items across all pages
          example: 150
          minimum: 0
        totalPages:
          type: integer
          description: Total number of pages
          example: 8
          minimum: 0
        hasNext:
          type: boolean
          description: Whether there are more pages after current
          example: true
        hasPrev:
          type: boolean
          description: Whether there are pages before current
          example: false
      required:
        - page
        - limit
        - total
        - totalPages
        - hasNext
        - hasPrev

    Currency:
      type: object
      properties:
        blockchainKey:
          type: string
          description: CAIP-2 compliant blockchain identifier
          example: eip155:1
          maxLength: 64
        tokenId:
          type: string
          description: Token identifier within the blockchain
          example: slip44:60
          maxLength: 64
        name:
          type: string
          description: Human-readable currency name
          example: Ethereum
        symbol:
          type: string
          description: Currency symbol/ticker
          example: ETH
        decimals:
          type: integer
          description: Number of decimal places for precision
          example: 18
          minimum: 0
          maximum: 18
        logoUrl:
          type: string
          format: uri
          description: URL to currency logo image
          example: https://assets.cryptogadai.com/currencies/eth.png
      required:
        - blockchainKey
        - tokenId
        - name
        - symbol
        - decimals

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          properties:
            code:
              type: string
              description: Error code
              example: VALIDATION_ERROR
            message:
              type: string
              description: Human-readable error message
              example: Request validation failed
            details:
              type: object
              description: Additional error details
              additionalProperties: true
        timestamp:
          type: string
          format: date-time
          example: 2025-08-13T15:30:00Z
        requestId:
          type: string
          format: uuid
          description: Request ID for tracking
      required:
        - success
        - error
        - timestamp

    UserPreferencesResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          $ref: '#/components/schemas/UserPreferences'

    UserPreferences:
      type: object
      properties:
        notifications:
          $ref: '#/components/schemas/NotificationPreferences'
        display:
          $ref: '#/components/schemas/DisplayPreferences'
        privacy:
          $ref: '#/components/schemas/PrivacyPreferences'

    UserPreferencesUpdateRequest:
      type: object
      properties:
        notifications:
          $ref: '#/components/schemas/NotificationPreferences'
        display:
          $ref: '#/components/schemas/DisplayPreferences'
        privacy:
          $ref: '#/components/schemas/PrivacyPreferences'

    NotificationPreferences:
      type: object
      properties:
        email:
          $ref: '#/components/schemas/NotificationChannelSettings'
        push:
          $ref: '#/components/schemas/NotificationChannelSettings'
        sms:
          $ref: '#/components/schemas/NotificationChannelSettings'

    NotificationChannelSettings:
      type: object
      properties:
        enabled:
          type: boolean
          description: Whether this notification channel is enabled
          example: true
        types:
          type: object
          properties:
            paymentAlerts:
              type: boolean
              description: Payment due and overdue alerts
              example: true
            loanUpdates:
              type: boolean
              description: Loan status and lifecycle updates
              example: true
            systemNotifications:
              type: boolean
              description: System maintenance and security alerts
              example: true
            marketingCommunications:
              type: boolean
              description: Marketing and promotional content
              example: false

    DisplayPreferences:
      type: object
      properties:
        theme:
          type: string
          enum: [light, dark]
          description: UI theme preference
          example: "light"
        language:
          type: string
          enum: [en, es, fr, de, it]
          description: Display language
          example: "en"
        currency:
          type: string
          enum: [USD, EUR, GBP, JPY, CAD, AUD]
          description: Preferred display currency
          example: "USD"
        timezone:
          type: string
          description: User timezone (IANA format)
          example: "UTC"
        dateFormat:
          type: string
          enum: [DD/MM/YYYY, MM/DD/YYYY, YYYY-MM-DD]
          description: Date display format
          example: "DD/MM/YYYY"
        numberFormat:
          type: string
          description: Number formatting locale
          example: "en-US"

    PrivacyPreferences:
      type: object
      properties:
        profileVisibility:
          type: string
          enum: [private, public]
          description: Profile visibility setting
          example: "private"
        dataSharing:
          type: object
          properties:
            analytics:
              type: boolean
              description: Allow anonymous analytics data collection
              example: true
            thirdPartyIntegrations:
              type: boolean
              description: Allow data sharing with approved third parties
              example: false
            marketResearch:
              type: boolean
              description: Participate in market research studies
              example: false
        activityTracking:
          type: boolean
          description: Allow platform activity tracking for personalization
          example: true

  responses:
    Unauthorized:
      description: Authentication required or token invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: INVALID_TOKEN
            message: Token expired or invalid

    ValidationError:
      description: Request validation failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            validation_error:
              summary: KYC submission validation error
              value:
                success: false
                error:
                  code: VALIDATION_ERROR
                  message: Request validation failed
                  details:
                    nik: NIK must be exactly 16 digits
                    birthDate: Birth date cannot be in the future
                    postalCode: Postal code must be 5 digits
                timestamp: 2024-03-15T10:30:00Z
                requestId: req_123e4567-e89b-12d3-a456-426614174000
            profile_validation_error:
              summary: Profile update validation error
              value:
                success: false
                error:
                  code: VALIDATION_ERROR
                  message: Request validation failed
                  details:
                    name: Name cannot exceed 160 characters
                    profilePicture: File must be an image (JPEG, PNG, GIF)
                timestamp: 2024-03-15T10:30:00Z
                requestId: req_123e4567-e89b-12d3-a456-426614174001
            institution_validation_error:
              summary: Institution application validation error
              value:
                success: false
                error:
                  code: VALIDATION_ERROR
                  message: Request validation failed
                  details:
                    npwpNumber: NPWP format must be XX.XXX.XXX.X-XXX.XXX
                    businessName: Business name already exists
                    registrationDocument: Document file is required
                timestamp: 2024-03-15T10:30:00Z
                requestId: req_123e4567-e89b-12d3-a456-426614174002

    EmailExists:
      description: Email already registered
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: EMAIL_EXISTS
            message: Email already registered

    InvalidToken:
      description: Token expired or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: INVALID_TOKEN
            message: Token expired or invalid

    EmailAlreadyVerified:
      description: Email already verified
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: EMAIL_ALREADY_VERIFIED
            message: Email already verified

    InvalidCredentials:
      description: Invalid email or password
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: INVALID_CREDENTIALS
            message: Invalid email or password

    EmailNotVerified:
      description: Email verification required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: EMAIL_NOT_VERIFIED
            message: Please verify your email

    AccountLocked:
      description: Account temporarily locked
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/ErrorResponse'
              - type: object
                properties:
                  retryAfter:
                    type: integer
                    description: Seconds until retry allowed
          example:
            error: ACCOUNT_LOCKED
            message: Account temporarily locked
            retryAfter: 900

    RateLimited:
      description: Too many attempts
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/ErrorResponse'
              - type: object
                properties:
                  retryAfter:
                    type: integer
                    description: Seconds until retry allowed
          example:
            error: RATE_LIMIT_EXCEEDED
            message: Too many attempts
            retryAfter: 300

    Invalid2FA:
      description: Invalid 2FA code
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: INVALID_2FA_CODE
            message: Invalid 2FA code

    TwoFAAttemptsExceeded:
      description: 2FA attempts exceeded
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/ErrorResponse'
              - type: object
                properties:
                  lockoutTime:
                    type: integer
                    description: Seconds until retry allowed
          example:
            error: 2FA_ATTEMPTS_EXCEEDED
            message: Too many 2FA attempts
            lockoutTime: 300

    InvalidGoogleToken:
      description: Invalid Google ID token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: INVALID_GOOGLE_TOKEN
            message: Invalid Google ID token

    EmailLinkedDifferentProvider:
      description: Email exists with different sign-in method
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: EMAIL_LINKED_DIFFERENT_PROVIDER
            message: Email exists with different sign-in method

    GoogleAccountAlreadyLinked:
      description: Google account already linked to another user
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: GOOGLE_ACCOUNT_ALREADY_LINKED
            message: Google account linked to another user

    EmailAlreadyExists:
      description: Email already exists
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: EMAIL_ALREADY_EXISTS
            message: Email is already registered

    TwoFAAlreadyEnabled:
      description: 2FA is already enabled
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: 2FA_ALREADY_ENABLED
            message: 2FA is already enabled

    InvalidTOTPCode:
      description: Invalid TOTP code
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: INVALID_TOTP_CODE
            message: Invalid TOTP code

    FileTooLarge:
      description: File exceeds size limit
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: FILE_TOO_LARGE
            message: Profile picture must be under 5MB

    DuplicateNIK:
      description: NIK already in system
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            duplicate_nik:
              summary: NIK already registered in system
              value:
                success: false
                error:
                  code: DUPLICATE_NIK
                  message: NIK already registered
                  details:
                    nik: 3171012345678901
                    message: This NIK is already associated with another verified account
                timestamp: 2024-03-15T10:30:00Z
                requestId: req_123e4567-e89b-12d3-a456-426614174003

    InsufficientPermissions:
      description: User lacks required permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: INSUFFICIENT_PERMISSIONS
            message: Insufficient privileges

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: NOT_FOUND
            message: Resource not found

    BusinessNameExists:
      description: Business name already registered
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            business_name_exists:
              summary: Business name already exists
              value:
                success: false
                error:
                  code: BUSINESS_NAME_EXISTS
                  message: Business name already registered
                  details:
                    businessName: PT Teknologi Nusantara
                    message: A business with this name is already registered in our system
                timestamp: 2024-03-15T10:30:00Z
                requestId: req_123e4567-e89b-12d3-a456-426614174004

    UserNotFound:
      description: User not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            user_not_found:
              summary: User with email not found
              value:
                success: false
                error:
                  code: USER_NOT_FOUND
                  message: User with email not found
                  details:
                    email: nonexistent@example.com
                    message: No user found with this email address
                timestamp: 2024-03-15T10:30:00Z
                requestId: req_123e4567-e89b-12d3-a456-426614174005

    UserAlreadyMember:
      description: User is already institution member
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            user_already_member:
              summary: User is already member of an institution
              value:
                success: false
                error:
                  code: USER_ALREADY_MEMBER
                  message: User is already institution member
                  details:
                    userEmail: john.doe@example.com
                    currentInstitution: PT Existing Company
                    message: User is already a member of another institution
                timestamp: 2024-03-15T10:30:00Z
                requestId: req_123e4567-e89b-12d3-a456-426614174006

    InvitationExpired:
      description: Invitation has expired
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            invitation_expired:
              summary: Institution invitation has expired
              value:
                success: false
                error:
                  code: INVITATION_EXPIRED
                  message: Invitation has expired
                  details:
                    invitationId: 123
                    expiredDate: 2024-03-14T16:30:00Z
                    message: This invitation expired and can no longer be accepted
                timestamp: 2024-03-15T10:30:00Z
                requestId: req_123e4567-e89b-12d3-a456-426614174007

    InvalidOAuthCallback:
      description: OAuth callback error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: OAUTH_CALLBACK_ERROR
            message: OAuth authentication failed

tags:
  - name: User Profile
    description: User profile management and updates
  - name: KYC Verification
    description: Know Your Customer verification process
  - name: Institution Management
    description: Institution registration and member management
  - name: Notifications
[...]
