x-backend-env: &backend-env
  PORT: 3100
  APP_SCHEME: crypto-gadai
  ALLOWED_ORIGINS: "\
    http://localhost:8081,\
    http://localhost:3000,\
    crypto-gadai://*,\
    exp://192.168.0.111:8081,\
    exp://192.168.0.103:8081,\
    exp://192.168.0.106:8081,\
    exp://192.168.0.100:8081,\
    https://cg-api.fh47.my.id"
  BETTER_AUTH_URL: https://cg-api.fh47.my.id
  DATABASE_URL: postgresql://postgres:postgres@postgres:5432/cryptogadai
  REDIS_HOST: redis
  REDIS_PORT: 6379
  MAIL_HOST: mailpit
  GOOGLE_CLIENT_SECRET: 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
  GOOGLE_CLIENT_ID: 442461506062-rgpbj94u778lpcfv5hg5rue6fpveddt6.apps.googleusercontent.com

x-backend-base: &backend-base
  image: cg/backend
  build:
    context: .
    dockerfile: Dockerfile
  environment:
    <<: *backend-env
  depends_on:
    postgres: { condition: service_healthy }
    redis: { condition: service_healthy }
    mailpit: { condition: service_healthy }

services:
  traefik:
    image: traefik:v3.5.1
    command:
      - --accesslog
      - --api.dashboard=true
      - --api.insecure=true
      - --certificatesresolvers.cgresolver.acme.email=webmaster@cryptogadai.com
      - --certificatesresolvers.cgresolver.acme.storage=/letsencrypt/acme.json
      - --certificatesresolvers.cgresolver.acme.tlschallenge=true
      - --entrypoints.web.address=:80
      - --entryPoints.websecure.address=:443
      - --log.level=DEBUG
      - --providers.docker
      - --providers.docker.exposedbydefault=false
      - --providers.docker.network=cg-public-network
    depends_on:
      api: { condition: service_healthy }
      mailpit: { condition: service_healthy }
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./letsencrypt:/letsencrypt
    ports:
      - 443:443
      - 80:80
    networks:
      - cg-private-network
      - cg-public-network
    labels:
      - traefik.enable=true
      - traefik.http.routers.cg-traefik-dashboard.entrypoints=websecure
      - traefik.http.routers.cg-traefik-dashboard.rule=Host(`cg-traefik.fh47.my.id`)
      - traefik.http.routers.cg-traefik-dashboard.tls.certresolver=cgresolver
      - traefik.http.routers.cg-traefik-dashboard.service=api@internal

  api:
    <<: *backend-base
    command: node dist/main.js
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:3100/api/health || exit 1"]
      interval: 500ms
      timeout: 10s
      retries: 20
    depends_on:
      - postgres
      - redis
      - mailpit
    networks:
      - cg-private-network
      - cg-public-network
    labels:
      - traefik.enable=true
      - traefik.http.routers.cg-api.entrypoints=websecure
      - traefik.http.routers.cg-api.rule=Host(`cg-api.fh47.my.id`)
      - traefik.http.routers.cg-api.tls.certresolver=cgresolver
      - traefik.http.services.cg-api.loadbalancer.server.port=3100

  postgres:
    image: postgres:17.6-alpine3.22
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 500ms
      timeout: 10s
      retries: 20
    environment:
      POSTGRES_DB: cryptogadai
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres-volume:/var/lib/postgresql/data
    networks:
      - cg-private-network
    labels:
      - traefik.enable=false

  redis:
    image: valkey/valkey:8.1.3-alpine3.22
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping"]
      interval: 500ms
      timeout: 10s
      retries: 20
    volumes:
      - redis-volume:/data
    networks:
      - cg-private-network
    labels:
      - traefik.enable=false

  mailpit:
    image: axllent/mailpit:v1.27.7
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8025/api/v1/info"]
      interval: 500ms
      timeout: 10s
      retries: 20
    networks:
      - cg-private-network
      - cg-public-network
    labels:
      - traefik.enable=true
      - traefik.http.routers.cg-mailpit.entrypoints=websecure
      - traefik.http.routers.cg-mailpit.rule=Host(`cg-mail.fh47.my.id`)
      - traefik.http.routers.cg-mailpit.tls.certresolver=cgresolver
      - traefik.http.services.cg-mailpit.loadbalancer.server.port=8025

volumes:
  postgres-volume:
  redis-volume:

networks:
  cg-private-network:
  cg-public-network:
    name: cg-public-network
    external: true
