receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318
        cors:
          allowed_origins:
            - "http://localhost:*"
            - "https://localhost:*"
            - "https://*.fh47.my.id"

processors:
  memory_limiter:
    check_interval: 5s
    limit_mib: 512
  
  resource:
    attributes:
      - key: environment
        value: testing
        action: upsert
      - key: service.version
        from_attribute: service_version
        action: insert
      - key: deployment.environment
        value: testing
        action: upsert
      - key: cluster.name
        value: cg-testing-cluster
        action: insert

  batch:
    timeout: 10s
    send_batch_size: 1024
    send_batch_max_size: 2048

exporters:
  otlp/jaeger:
    endpoint: cg-backend-jaeger-1:4317
    tls:
      insecure: true

  prometheus:
    endpoint: "0.0.0.0:8887"
    const_labels:
      environment: testing

  debug:
    verbosity: basic

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [memory_limiter, resource, batch]
      exporters: [otlp/jaeger, debug]
    
    metrics:
      receivers: [otlp]
      processors: [memory_limiter, resource, batch]
      exporters: [prometheus, debug]
    
    logs:
      receivers: [otlp]
      processors: [memory_limiter, resource, batch]
      exporters: [debug]

  telemetry:
    logs:
      level: "info"
    metrics:
      level: basic
      readers:
        - pull:
            exporter:
              prometheus:
                host: '0.0.0.0'
                port: 8889